[2017-03-25 07:57] jens1o commented on #328
no, it's not possible to do that, yet. But it's a great idea. I'm making a pr.

[2017-03-25 08:12] jens1o commented on #282
I'll do a pr to make this possible.

[2017-03-25 18:45] Miky94 commented on #321
@Romain the problem is that I get the error at:
`$video = $ffmpeg->open('input.mp4');`

[2017-03-25 21:21] jens1o commented on #321
Yes, that's because your ffprobe fails.

[2017-03-25 21:26] Miky94 commented on #321
why?

[2017-03-26 07:15] jens1o commented on #321
That's the question.

[2017-03-26 13:35] Miky94 commented on #321
@jens1o I had the ffmpeg-20170225-7e4f32f-win64-static version, so I downloaded the ffmpeg-20170321-db7a05d-win64-static, the latest but nothing changed. What do you mean with:

?
I set my administrator user on IIS to exclude permissions problems.

[2017-03-26 15:37] Nonnis-M opened #330 "Add/Replace audio track for a video"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | maybe
| Version Used   | master
| FFmpeg Version | FFProbe N-84607-g9bcc5e8-tessus - ffmpeg version 3.2.4
| OS             | mac OSX Sierra 10.12.3

It is possibile to load an mp3 audio track and add (or replace) it to an existing video? If yes, I don't know how to do it. The audio and video formats doesn't matter

[2017-03-26 16:18] jens1o commented on #330
no, it's not possibe yet using prewritten filters. But you can use the SimpleFilters to complete this.

[2017-03-26 23:27] Nonnis-M commented on #330
Do you refer to https://github.com/PHP-FFMpeg/PHP-FFMpeg/blob/master/src/FFMpeg/Filters/Audio/SimpleFilter.php ?

What I have to do to properly use it?

[2017-03-27 02:23] HipsterJazzbo commented on #327
Near as I can tell, that only applies to video. I'm processing audio files.

[2017-03-27 08:58] JackLearning opened #331 "How to use tests?"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

#### Actual Behavior

How does PHP-FFMpeg behave at the moment?

#### Expected Behavior

What is the behavior you expect?

#### Steps to Reproduce

What are the steps to reproduc

[2017-03-27 09:48] totomtornado opened #332 "Fatal error: Uncaught Alchemy\BinaryDriver\Exception\ExecutionFailureException"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | ffmpeg version 3.2-2+rpi1~xenial1.7
| OS             | ubuntu Mate 16.04.2 LTS

#### Actual Behavior

How does PHP-FFMpeg behave at the moment?
Returns the following error when the webpage is accessed through the browser....

Fatal error: Uncaught

[2017-03-27 11:53] jens1o commented on #332
is the php safemode activated?

[2017-03-27 11:54] jens1o commented on #331
after installed all the dependencies, execute `\vendor\bin\phpunit`.

[2017-03-27 12:05] jens1o commented on #330
yes, I do. If you know the ffmpeg command for this, it would be quite useful(I'm at mobile).

Basically, it is like this: https://github.com/PHP-FFMpeg/PHP-FFMpeg/blob/master/src/FFMpeg/Media/Video.php#L74

That way, you can add something that will be executed. (Use `Video#addFilter` to add it)

[2017-03-27 12:21] totomtornado commented on #332
Hmmm... I am running PHP Version 7.0.15

No mention of a safemode in my php.ini file and after searching it appears to gone....
http://php.net/manual/en/features.safe-mode.php

This is as far as I can tell...

[2017-03-27 12:52] totomtornado commented on #332
This is the php file I am using which is straight from the git here ....

`<?php
include 'vendor/autoload.php';

$ffmpeg = FFMpeg\FFMpeg::create(array(
    'ffmpeg.binaries'  => '/usr/bin/ffmpeg',
    'ffprobe.binaries' => '/usr/bin/ffprobe',
    'timeout'          => 0, // The timeout for the underlying process
    'ffmpeg.threads'   => 12,   // The number of threads that FFMpeg should use
), @$l

[2017-03-27 13:44] jens1o commented on #332
could we have the file? I'll try to reproduce it.

[2017-03-27 14:03] totomtornado commented on #332
The php file?  Sure... it is the code above though...so...

[2017-03-27 14:57] jens1o commented on #332
Nah, the file you want to process.

In the line `$video = $ffmpeg->open('test.mp4');` you're opening `test.mp4`, and I want that file to check.

[2017-03-27 15:42] totomtornado commented on #332
Oh.. sorry missed the mention of mp4.... hmmm... i am hesitant to give u the files just because it is of students.  I am sure other mp4s will do the same.  I can experiment and see.  I wish it was a different file and i would shoot it over no problem.  Ughhh...

[2017-03-27 16:27] jens1o commented on #332
Okey, I'm looking for another file I can reproduce it. 😉 And I'm watching out for something strange, too.

[2017-03-27 18:57] djekl opened #333 "ErrorException - Undefined variable: duration"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | 7cff2ecb23d48f927981ad8cee0583d41eb8d620
| FFmpeg Version | FFmpeg
| OS             | Ubuntu

The issue is here https://github.com/PHP-FFMpeg/PHP-FFMpeg/blob/7cff2ecb23d48f927981ad8cee0583d41eb8d620/src/FFMpeg/Filters/Video/ExtractMultipleFramesFilter.php#L84L107

On line 107, you expect to

[2017-03-27 19:46] jens1o commented on #333
I do not understand how you want to fix it. You need that thing, and I don't think that you are allowed to set the value to something "default", since there are many different standards.

[2017-03-27 22:36] Nonnis-M commented on #330
apologize for writing again but the ffmpeg cmd to mix audio and video is the follow:

ffmpeg -i input0 -i input1 -map 0:a -map 1:v -c copy output

and I have no idea about how to bind input0 and input1 (respectively the audio and video file in this sample) to real input files with my SimpleFilter. I have searched for samples in this repository but I didn't find anything useful.

[2017-03-28 07:38] djekl commented on #333
I didn't say just a default, I said a sane default. You are using a variable without a check that is conditionally set. By a sane default, I mean to instantiate `$duration` with (for example) a value of `0` before line 83 https://github.com/PHP-FFMpeg/PHP-FFMpeg/blob/7cff2ecb23d48f927981ad8cee0583d41eb8d620/src/FFMpeg/Filters/Video/ExtractMultipleFramesFilter.php#L83

This way you have a value def

[2017-03-28 12:40] totomtornado commented on #332
I have got this working finally!!! Ah... I feel so good.

I thought it was a permissions issue.  The trouble with the above error (Fatal error: Uncaught Alchemy\BinaryDriv....) is that it is so nondescript.  In experimenting it would return the same error if the save directory was not a valid path or some other php error.  I caution those using this library to therefore not read to much into this

[2017-03-28 14:22] jens1o commented on #332
Glad you'd made it.

Hmm... I think it isn't possible, because maybe we don't have access to a file ffmpeg may have access to. The exception is thrown when the exit status is not 0(0 = successful exit/not an error).

[2017-03-28 14:23] jens1o commented on #333
Ah, now I do understand what you mean. I'll do a pr.

[2017-03-28 14:27] jens1o commented on #330
I'll check wether this is possible today. Thanks for providing the command, it is quite helpful.

[2017-03-28 19:00] Romain commented on #322
Ok, I'll try to have a look ASAP, I really have very few time these days.

[2017-03-28 19:01] Romain commented on #282
Ok, thanks @jens1o

[2017-03-28 19:02] Romain commented on #327
Good point. We need to add this feature then.

[2017-03-28 19:05] Romain commented on #332
I will @jens1o.
@totomtornado www-data needs a write access to your destination folder. He is the owner of the FFMPEG process and therefore needs to be able to write the generated file. ;)

[2017-03-28 19:05] #332 closed

[2017-03-28 19:07] Romain commented on #333
@jens1o, just after `$commands = array();`, we should add `$duration = 0;`.
I will create a PR.

[2017-03-28 19:50] jens1o commented on #304
I think I'd might got it.

https://trac.ffmpeg.org/wiki/Encode/H.264#Compatibility

Use simple filters to get what you want 😉

[2017-03-28 21:39] Laurent3170 commented on #304
Really thanks for your work!
I have tested with the default value (main & 3.1) which should be ok for iPhone 4s but it still doesn't work :-(
The format seems to be well coded as when I do a dump I obtain
[code]

I have also tried (after having copying/pasted from #335)
[code]
But then I obtain this error (but here it may be due to a bad copy/paste, event if I've checked)
[code]

[2017-03-29 04:53] jens1o commented on #304
[code]
won't work until the pull request is merged.

[2017-03-29 06:42] Laurent3170 commented on #304
Finding a bug (without knowing it) is not the main part of the problem ;-)
Thanks to you!

[2017-03-29 11:02] totomtornado opened #336 "How to resize a frame that is pulled from a video?"
[code]

I have everything working fine but I had trouble finding how to resize thumbnails that are pulled from video.  Above is my attempt.  Can anyone point me in the right direction?

Thanks,

Travis

[2017-03-29 12:27] jens1o commented on #336
That's not possible with the current code. I would recommend saving the file, loading it with the image adapter of your choice(gd or imagick) and resize it using this.

But I'll do a pr after my previous have been merged(so I can still focus on them, before making 100 of pull requests...)

[2017-03-29 13:44] mcfriend99 opened #337 "Unrecognized option 'metadata:s:v:0' error with latest stable build of ffmpeg."
| Q              | A
| -------------- | ---
| Bug?           | don't know
| New Feature?   | no
| Version Used   | latest
| FFmpeg Version | SVN-r26402, Copyright (c) 2000-2011 the FFmpeg developers and it's built on Jun 3 2016 16:16:37
| OS             | Linux
#### Actual Behavior

How does PHP-FFMpeg behave at the moment?

I got this error:

PHP Fatal error:  Uncaught exception 'Alchemy\BinaryDr

[2017-03-29 13:51] jens1o commented on #337
The build is too old(2014!) and doesn't support the option. Try out with the newest stable build.

[2017-03-29 13:55] mcfriend99 commented on #337
I am on a shared hosting account. And they have refused to upgrade in order to keep other users code compatible or so they say... Please what can I do?

[2017-03-29 13:56] jens1o commented on #337
Do not use the synchronize feature. But then you probably have some new issues.

[2017-03-29 14:03] mcfriend99 commented on #337
Ya, I now get another error saying "Unrecognized option 'b:v'". I can't afford to ask my customer for another money to purchase another hosting. Please what can I do??

[2017-03-29 14:03] mcfriend99 commented on #337
Is it possible to get a version of PHP-FFMpeg compatible with this build??

[2017-03-29 14:10] jens1o commented on #337
Well, there is. 0.4.1 was the latest release, where this should work without: https://github.com/PHP-FFMpeg/PHP-FFMpeg/releases/tag/0.4.1

But I wouldn't use this, it is unmaintained and old.

[2017-03-29 14:18] mcfriend99 commented on #337
Will the code be compatible with the one above or will I have to tweak my code to conform? My customer just needs it to run as we are now concerned with making it work while we source alternative hosting.

[2017-03-29 14:20] jens1o commented on #337
To be honest, I don't know exactly. I will look. Stay tuned.

[2017-03-29 14:23] mcfriend99 commented on #337
Thanks, I glued!!

[2017-03-29 14:25] jens1o commented on #337
Result: Anything should work.

[2017-03-29 14:27] mcfriend99 commented on #337
Thanks.

For someone else who may wonder though, I just confirmed that setAudioChannel does not exist in that build.

[2017-03-29 14:28] mcfriend99 commented on #337
Will test it on the production server now to see if it will work!

[2017-03-29 14:28] jens1o commented on #337
Ah, that's true. I'd overseen that.

[2017-03-29 14:33] mcfriend99 commented on #337
Still getting the "Unrecognized option 'b:v'" error. Any more help? Really appreciated!

[2017-03-29 14:37] jens1o commented on #337
Ah, I thought you already searched about it. Let me look.

-- Later --

No. There's no way. Even the first version that implements the feature of encoding videos uses this for setting the kilo-bitrate. You could try modify `Video.php`. Remove the lines 88 and 89, then it might work.

[2017-03-29 14:44] mcfriend99 commented on #337
Now its "Unknown encoder 'libx264'". Any ideas? You really been helpful.

[2017-03-29 14:53] jens1o commented on #337
lol. Try to use wmv. It should be available by it. Next, try ogg.

[2017-03-29 14:56] mcfriend99 commented on #337
I need a video that can play across all major platforms and not heavy on the file size. That's why am going for mp4.

[2017-03-29 15:09] mcfriend99 commented on #337
Is there a way to use static builds with this script?

[2017-03-29 15:15] jens1o commented on #337
When your ffmpeg doesn't support mp4(which uses lib264), then I can't help you... Could you explain what "static builds" mean?

[2017-03-29 15:18] mcfriend99 commented on #337
I mean I could download static (compiled) builds of ffmpeg from their server and change the path of ffmpeg to it. I already tried it, my problem is that I am getting ExecutableNotFoundException.

[2017-03-29 15:25] jens1o commented on #337
Hmm. I don't know. Maybe use https://ffmpeg.org/download.html and check wether they are init scripts?

[2017-03-29 15:31] mcfriend99 opened #338 "ExecutableNotFoundException using ffprobe.binaries"
When I set the ffprobe.binaries to /home/kwilistc/public_html/app/ffmpeg/bin/ffprobe, it gives me ExecutableNotFoundException, but the executable is very much available.

[2017-03-29 16:05] jens1o commented on #338
and it's available, executable and writeable for the web server user?

[2017-03-29 16:08] mcfriend99 commented on #338
Yes. After fixing permissions.

The new error is now `This version of ffprobe is too old and does not support -show_format option`

[2017-03-29 16:23] jens1o commented on #338
Then you may need to upgrade 😉

[2017-03-29 16:42] mcfriend99 commented on #338
I fixed that already.

Now I still get "Unknown encoder: libx264" error. Is there any other encoder I can use?

[2017-03-29 17:06] jens1o commented on #338
I don't think so. libx264 is responsible for encoding mp4/mp3 files.

[2017-03-29 20:07] larzuk91 opened #339 "A non-numeric value encountered - Video Progress Listener"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | latest
| FFmpeg Version | version 2.7.6-0ubuntu0.15.10.1 Copyright (c) 2000-2016 the FFmpeg developers
  built with gcc 5.2.1 (Ubuntu 5.2.1-22ubuntu2) 20151010
| OS             | Ubuntu 14.04

How to reproduce it:
[code]
The problem only occurs when running this library with **php7**

File:

[2017-03-30 03:33] HipsterJazzbo commented on #327
Awesome!

[2017-03-30 14:31] jens1o commented on #339
Do you want to create the pr? 😉

[2017-03-31 01:55] HipsterJazzbo commented on #327
@Romain I'd be happy to make this change and PR it, if you could point me in the direction of how you'd like it done?

[2017-03-31 04:54] justice93kg opened #341 "Doesn't convert to mp4, but converts very well to webm and wmv format"
SOLVED(at least for me): see answer here: https://github.com/PHP-FFMpeg/PHP-FFMpeg/issues/310

Hello, I wanted to convert uploaded videos to mp4 format but it doesnt work. But when i convert to webm and wmv it works well.

Converting to mp4 shows this message:

Could you please help me with this issue? Thanx.

When i type ffmpeg command in console, it says "**[libx264 @ 05b10b20] ratecontrol_init:

[2017-03-31 05:23] justice93kg commented on #341
SOLVED(at least for me): see answer here: #310

[2017-03-31 05:26] #341 closed

[2017-03-31 15:13] jens1o commented on #327
Romain is busy(and inactive) these days, so I would say that you implement it the way you like and let he make critics.

[2017-04-01 05:58] zGaron commented on #310
audiocodec  use aac

@DVendy

[2017-04-01 18:44] shtse8 commented on #308
I have created a PR for this feature https://github.com/PHP-FFMpeg/PHP-FFMpeg/issues/343

[2017-04-01 19:59] shtse8 commented on #173
@jens1o Any progress? I think this feature would be useful for my project too. Saving to different formats from one input is common in many cases.

[2017-04-01 20:01] jens1o commented on #173
@shtse8
It's on my list and (nearly) finished. But I'm waiting first that the others pr's got resolved. Thanks for the ping. At the moment, this may include a bc break, but I would look after other possibilities.

[2017-04-03 18:15] jens1o commented on #337
any news on this @mcfriend99 ?

[2017-04-03 18:16] jens1o commented on #323
I'll do it as soon as the others are merged. Otherwise, the sums of pr aren't controllable anymore. Can you assign me to this issue in any way?

[2017-04-06 22:26] marcoapferegrino opened #345 "Encoding failed in local works to mp4"
| Q              | A
| -------------- | ---
| Bug?           | probably
| New Feature?   | no
| Version Used   | Last version
| FFmpeg Version | FFmpeg
| OS             |  Linux

I am working with Laravel 5.3
**In my localhost works fine**
_When I uploaded to my shared host fails_
My binaries has **+x permissions**

Encoding failed in **file**
/php-ffmpeg/src/FFMpeg/Media/Video.php
**line** : 178

[2017-04-07 05:10] jens1o commented on #345
Please check wether the php executing process has also these permissions and they are not exclusive to the root user.

[2017-04-07 14:03] marcoapferegrino commented on #345
Yes is writing the file because it appears in the directory I wrote
but for some reason it fails when is encoding, or at least that said the issue.
FFMpeg\Media\Video->save(Object(FFMpeg\Format\Video\X264), '/home3/myuser...')

[2017-04-07 14:38] jens1o commented on #345
Check to which user the directory owns(and maybe overwrite it to the php user)

[2017-04-07 14:47] marcoapferegrino commented on #345
My web user is the same as the owner in my web dir and the dir where I have the binaries.

[2017-04-07 15:30] jens1o commented on #345
Well, then I don't have any idea.

[2017-04-07 15:49] marcoapferegrino commented on #345
[2017-04-07 14:36:23] local.INFO: Run time exception :::::::Encoding failed,
            whoami: inmersy1,
        /home3/myuser/public_html/spiff/vendor/phpffmpeg/phpffmpeg/src/FFMpeg/Media/Video.php,
           Line  178,
           Code 0:::::::
            #0 /home3/myuser/public_html/spiff/app/Http/Controllers/TargetsController.php(134): FFMpeg\Media\Video->save(Object(FFMpeg\Format\Video\X26

[2017-04-07 17:01] jens1o commented on #345
But this can't be the full stacktrace... Also, there should be a exception included("previous")

[2017-04-07 17:25] marcoapferegrino commented on #345
Oh sure here I had

[2017-04-07 17:57] jens1o commented on #345
okey, could you try to execute the command on your own(and show us the output)?

` '/home3/myuser/public_html/spiff/binvideos/ffmpeg' '-y' '-i' '/home3/myuser/public_html/spiff/public/uploads/targets/video_EdFcBkLPmCfuWQwy6PMa.mp4' '-threads' '12' '-vcodec' 'libx264' '-acodec' 'aac' '-b:v' '1000k' '-refs' '6' '-coder' '1' '-sc_threshold' '40' '-flags' '+loop' '-me_range' '16' '-subq' '7' '-i_qfact

[2017-04-07 18:20] marcoapferegrino commented on #345
I got this :

  built with gcc 5.4.1 (Debian 5.4.1-4) 20161202
  configuration: --enable-gpl --enable-version3 --enable-static --disable-debug --disable-ffplay --disable-indev=sndio --disable-outdev=sndio --cc=gcc-5 --enable-fontconfig --enable-frei0r --enable-gnutls --enable-gray --enable-libass --enable-libfreetype --enable-libfribidi --enable-libmp3lame --enable-libopencore-amrnb --enable-libop

[2017-04-07 19:26] jens1o commented on #345
Well, that's a ffmpeg problem(and I don't know how to fix it; sorry!) and not one with the library. Maybe try a different file?

[2017-04-07 19:31] marcoapferegrino commented on #345
Ok I will try it. Is weird because in my local environment is working. I really appreciate your help. Thanks

[2017-04-07 19:33] jens1o commented on #345
Please let us tuned.

[2017-04-07 19:37] jens1o commented on #345
After some research, they suggested that you're only using one thread(when your server forces code to be single-threaded), do so by replacing

[code]
to this:
[code]

let me know wether this works for you.

[2017-04-08 04:37] testchik opened #346 "How to merge video with audio file"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Linux,  Godady shared server

#### Actual Behavior

How does PHP-FFMpeg behave at the moment?
work well in my localhost server. but can't work on godaddy server.

#### Expected Behavior

What is the

[2017-04-08 07:28] jens1o commented on #346
First of all, please use the template,so we have a detailed feel on what you're talking about.

Currently, this feature isn't implemented(I'll implement it once my other PRs are merged). But here is a way to do so simply:
[code]

[2017-04-08 13:16] testchik commented on #346
The merge is work on localhost. It is not work in shared server. I needs to work with shared server. How can add ffmpeg in shared server. is it possible to get binary file ffmpeg?

[2017-04-08 13:57] jens1o commented on #346
I do not understand what you want. Could you post the exception you get?

[2017-04-10 13:47] vrajroham opened #347 "Division by zero after updating to recent version"
| Q              | A
| -------------- | ---
| Bug?           | Yes
| New Feature?   | no
| Version Used   | 0.9.2
| FFmpeg Version | git-2017-01-22-f1214ad
| OS             | Ubuntu 14

#### Actual Behavior

Previously I was using version `0.6.*` after updating to newer version getting following error

 `exception 'ErrorException' with message 'Division by zero'`

point to file

`....src/FFMpeg/Fo

[2017-04-10 13:52] jens1o commented on #347
That's known. Duplicate of #333 will be fixed in #334 once @Romain 's back

[2017-04-10 14:09] marcoapferegrino commented on #345
Hi, tried with one thread and I got this error. My Binaries works are the same as I use in local and works and are the lasts version, also the videos I test have no problem, in my local works fine.  any idea?.

[2017-04-10 14:12] jens1o commented on #345
I don't know to be honest. Let us know when you found something out, it could be useful for others, too.

[2017-04-10 14:22] marcoapferegrino commented on #345
SOLVED I guess

I already solved just  changing this line

`$format->setAudioCodec('aac','libmp3lame');`
by this one
`$format->setAudioCodec('libmp3lame');`

Can I not add two codecs? or is in array param?

[2017-04-10 14:23] jens1o commented on #345
No, you can't do that. If you want to do 2 exports, you need to create two formats and save both.

[2017-04-10 14:25] marcoapferegrino commented on #345
Oh, so, at end it was my typo I really feel like a fool, sorry to waste your time dude I did not notice

[2017-04-10 14:25] #345 closed

[2017-04-10 14:36] jens1o commented on #345
Hey, no problem. We'll update the implementation and check that this won't happen ever again. It's fine. You'd actually found a bug.

[2017-04-11 19:25] mcfriend99 opened #348 "Watermark not working"
Trying to watermark a video using:

$video
                ->filters()
                ->watermark('../../../includes/images/2/image.png', array(
                    'position' => 'relative',
                    'bottom' => 50,
                    'right' => 50,
                ))
                ->synchronize();

But its generating a corrupted image. Any help?

[2017-04-11 19:48] mcfriend99 commented on #337
They are working builds and I am already using them on my website. Thanks a lot.

[2017-04-11 20:23] jens1o commented on #337
@mcfriend99 Can you close this, please?

[2017-04-11 20:23] jens1o commented on #348
That's not really helpful. Complete error, source file, destination files, complete code from you...

[2017-04-11 20:33] mcfriend99 commented on #348
No errors reported.
Here is the Complete Code:

[code]

[2017-04-11 20:34] #337 closed

[2017-04-11 20:51] jens1o commented on #348
What's corrupt for you? I need something I can work with. It would be quite useful when I get the watermark image, a example video and the corrupted watermark.

Which ffmpeg version are you using? maybe it's a bug of ffmpeg that's fixed in newer versions?

[2017-04-12 04:27] testchik commented on #346
I get error like:::::::

Fatal error: Uncaught exception 'Alchemy\BinaryDriver\Exception\ExecutableNotFoundException' with message 'Executable not found, proposed : avprobe, ffprobe' in /home/igeniusdev/public_html/Unity_Hex/SuperMarket Promotion-WebGL3/vendor/alchemy/binary-driver/src/Alchemy/BinaryDriver/AbstractBinary.php:160 Stack trace: #0 /home/igeniusdev/public_html/Unity_Hex/SuperMarket Pr

[2017-04-12 05:17] testchik commented on #346
you say that binaries can be located with system PATH to get the benefit of the binary detection, otherwise you should have to explicitly give the binaries path on load.

How to include binaries file. How can find binaries file.

[2017-04-12 07:28] jens1o commented on #346
Did you install ffmpeg? How did you install it? This library is just a wrapper, but it depends on a installed binary.

[2017-04-12 08:08] Scarlicity opened #349 "How to get the length of a video"
#### Expected Behavior
Sorry, I made a mistake just now and my English is really poor.
I want to get the length(xxx seconds) of a video but cannot find a appropriate way to do. I find a way on the Internet that need to execute a Linux command but I think maybe there is a better way.  So I want to ask that whether FFMpeg provide a interface to do it?

#### Steps to Reproduce

What are the steps to

[2017-04-12 08:10] jens1o commented on #349
Sorry, I do not understand what "天河" means. Could you explain it, please?

[2017-04-12 08:21] jens1o commented on #349
Ah. That makes sense, you can do it like this:
[code]

[2017-04-12 10:34] testchik commented on #346
I installed ffmpeg in localhost on windows system.so it is work well. My live server which is godaddy can't able to install it.  I needs to include binary file.

[2017-04-12 10:58] jens1o commented on #346
Is your live server just a web server? Then it isn't possible to execute binaries. I would suggest you ask your support, we can't help with it.

[2017-04-12 11:10] testchik commented on #346
yes live server just a web server...............
Are any other methods provides solution of merging video and audio file?

[2017-04-12 11:15] jens1o commented on #346
I don't know any.

[2017-04-12 16:07] Romain commented on #347
Thanks @jens1o.
I'll prepare a new version today to push this fix.

[2017-04-12 16:11] #347 closed

[2017-04-12 16:15] #333 closed

[2017-04-12 16:45] Romain commented on #321
@Miky94 Are you sure of the path of the video?
Does the video have the proper rights?

[2017-04-12 16:45] #331 closed

[2017-04-12 16:47] Romain commented on #330
Hi think this should be a new filter, like a MergeFilter.
This needs a PR.
@Nonnis-M can you provide us with the link to FFMPEG documentation of this feature?

[2017-04-12 16:48] Romain commented on #304
@Laurent3170 could you paste here the complete logs so we can figure out where the error resides?

[2017-04-12 16:51] Romain commented on #338
@mcfriend99 I think you're missing codecs.
Can you give us more details about your environment? There was a template when you submitted the bug. Thanks to clearly fulfill it when submitting any new issue, so we can help.

| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and vers

[2017-04-12 16:51] jens1o commented on #330
I'll do a pr once I created the "audio-muting" pr.

[2017-04-12 16:56] Romain commented on #339
I just did.

[2017-04-12 17:02] #339 closed

[2017-04-12 17:05] Romain commented on #327
@HipsterJazzbo, you can copy the way the additionalParams works and apply it to the Audio class.

[2017-04-12 22:35] Miky94 commented on #321
index.php , where there is `$video = $ffmpeg->open('input.mp4');` and input.mp4 are in the same folder
I set my administrator user on IIS so I own rights on everything

[2017-04-13 08:05] Laurent3170 commented on #304
@Romain The only logs I can produce are the ones produced by the `Command` I use to resize the videos, which are not useful as they only bring the error mentioned above. Can you explain me how to produce the logs you wanna see?

[2017-04-14 08:45] adepolas opened #352 "Unable to load FFMpeg : Driver autodetection doesn't work"
| Q              | A
| -------------- | ---
| Bug?           | maybe
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version |  3.2.4 (in local) / (2.8.11 (in production)
| OS             | El Capitan (in local) / Ubuntu 16.04 (in production)

#### Actual Behavior

The error "Unable to load FFProbe" was caught.

#### Expected Behavior
Expect the line below should work

[2017-04-14 08:46] jens1o commented on #352
Well, that's not enough information. Where are the drivers located? (When on Windows:) Is it added to the PATH Variable?

[2017-04-14 08:52] adepolas commented on #352
In Ubuntu :
[code]

[2017-04-14 09:01] jens1o commented on #352
That's strange. By default, it tries to execute ffmpeg and `avconv`, and when it's not there, it tries to find them in some path variables. This pathfinding is **not** handled in this lib, but here:
https://github.com/alchemy-fr/BinaryDriver/blob/master/src/Alchemy/BinaryDriver/AbstractBinary.php#L160-L162

[2017-04-14 09:03] adepolas commented on #352
Oh I've opened an issue in the wrong repository ! Thank you @jens1o 👍

[2017-04-14 09:07] jens1o commented on #352
Nah, the library is not maintained anymore, and we should look for a maintained lib. Good luck with getting a response!

[2017-04-18 08:43] totomtornado commented on #117
This works fine but I am having trouble getting to the actual dimensions... How do I access the properties?  I keep getting the error

Fatal error: Uncaught Error: Cannot access private property FFMpeg\Coordinate\Dimension::$height in /var/www/html/utilities/make_thumbnails/Assets_Insert_Setup_PHP.php:68 Stack trace: #0 /var/www/html/utilities/Assets/Assets_Insert.php(1): require() #1 {main} throw

[2017-04-18 21:09] jens1o commented on #117
@totomtornado Use `$dimension->getWidth()` and `$dimension->getHeight()`.

[2017-04-19 06:39] jamesfroud79 opened #354 "PHP-FFMpeg - How to add transcoding of video files to queue in Laravel 5.3/5.4"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | 0.9.3
| FFmpeg Version | ffmpeg version 2.8.11-0ubuntu0.16.04.1 Copyright (c) 2000-2017 the FFmpeg developers
| OS             | Linux homestead 4.4.0-51-generic #72-Ubuntu SMP Thu Nov 24 18:29:54 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Has anyone got any example of how to add the transcodin

[2017-04-21 09:38] BPing opened #355 "rtmp"
I hope to support RTMP push command

`ffmpeg -re -ss 100 -i  test.mp4 -c:v copy  -c:a copy -y -f flv  "rtmp:"

[2017-04-21 09:51] jens1o commented on #355
How should we do that? The script waits for the response of ffmpeg before it gives the control back. But feel free to do a pr for this.

[2017-04-22 05:49] testchik commented on #346
I used your code like:
<?php

include 'vendor/autoload.php';
$ffmpeg = FFMpeg\FFMpeg::create();

$video = $ffmpeg->open('videos/localfile84201711432.mp4');
  $video->addFilter(new \FFMpeg\Filters\Audio\SimpleFilter(array('-i ' . 'videos/Kalimba_Audio.mp3', '-shortest')));
  $video->save(new \FFMpeg\Format\Video\X264(), 'testoutput.mp4');

I got error message like that Fatal error: Uncaught excepti

[2017-04-22 07:10] jens1o commented on #346
Then try to execute this command and send us the output:
`"C:\ffmpeg\bin\ffmpeg.EXE" "-y" "-i" "videos/localfile84201711432.mp4" "-i videos/Kalimba_Audio.mp3" "-shortest" "-vcodec" "libx264" "-acodec" "libfaac" "-b:v" "1000k" "-refs" "6" "-coder" "1" "-sc_threshold" "40" "-flags" "+loop" "-me_range" "16" "-subq" "7" "-i_qfactor" "0.71" "-qcomp" "0.6" "-qdiff" "4" "-trellis" "1" "-b:a" "128k"`

[2017-04-22 07:29] testchik commented on #346
I execute this command message that at least one output file required

[2017-04-22 07:40] jens1o commented on #346
That's weird.

[2017-04-22 07:45] testchik commented on #346
I can't understand what to do?

[2017-04-22 07:47] testchik commented on #346
Any other command for merge audio and video file without ffprobe?

[2017-04-22 07:54] jens1o commented on #346
I don't understand what your ffmpeg is. There are two input files, one is required.

[2017-04-22 09:50] testchik commented on #346
I execute below script:
`shell_exec("ffmpeg -y -i videos/localfile84201711432.mp4 -i videos/Kalimba_Audio.mp3 -shortest -vcodec libx264 -acodec libfaac -b:v 1000k -refs 6 -coder 1 -sc_threshold 40 -flags +loop -me_range 16 -subq 7 -i_qfactor 0.71 -qcomp 0.6 -qdiff 4 -trellis 1 -b:a 128k -pass 1 -passlogfile export/localfile84201711432.mp4");`

It is work in localhost, but issue in host upon web se

[2017-04-24 02:13] Scarlicity opened #356 "Unable to load FFProbe only on Linux"
#### Actual Behavior

Hi! It's me again.
I wanted to get the duration of a video and I made it on Windows by doing this:
`$probe = FFProbe::create();`
`$data['duration'] = floor($probe->format($data['path'])->get('duration'));`
But when I put my project on Linux server, there is a bug: Unable to load FFProbe.
I have installed FFMpeg on my server, you can see:
`[root@weibo-server web]# ffprobe -ver

[2017-04-25 13:30] Romain commented on #308
Thanks for the PR @shtse8.
I commented on it.

[2017-04-25 13:33] Romain commented on #323
Unfortunately no, I tried but Github doesn't allow me to add assignees.

[2017-04-25 13:39] Romain commented on #348
Hi @mcfriend99,
Could you also paste the logs please, so we can figure out what is the command generated?
Thanks

[2017-04-25 13:40] #349 closed

[2017-04-25 13:48] Romain commented on #321
Can you try with another video file, to make sure this one is not corrupted?
The Windows log are not very explicit and I know nothing about Windows servers of FFMPEG on Windows...

[2017-04-25 13:52] Romain commented on #304
Ok, I misunderstood your previous message, you already pasted the logs you had.

Can you confirm that you're using your PR to do this:
[code]
?

Why is $format NULL? Haven't you this before?
`$format = new X264();`

[2017-04-25 13:53] Romain commented on #352
[Here](https://github.com/PHP-FFMpeg/PHP-FFMpeg/#ffmpeg) is the complete way to create a FFMPEG instance:

[code]

[2017-04-25 13:53] #352 closed

[2017-04-25 13:55] Romain commented on #354
Hi @jamesfroud79,
I'm not exactly sure to understand what you mean by "adding the transcoding to the queue"...
Do you want them to be parallelized with your script?
If yes, I think you should consider externalizing the transcoding into another app that you would request through an API.

[2017-04-25 13:57] Romain commented on #356
Hi @Scarlicity,

Can you give us some details about your environment?
Which version of Linux do you use? How did you install FFMPEG?
Can you try installing FFMPEG by compiling it as described [here](https://trac.ffmpeg.org/wiki/CompilationGuide/Ubuntu)?

[2017-04-25 14:01] Romain commented on #346
@testchik, what I understand is that you have a server which you wanna use to execute FFMPEG, but you haven't install FFMPEG on it. Just saying shows you that this is wrong. You cannot execute FFMPEG without installing it. You need to install it on your server first. I recommend that you compile it as described in [this guide](https://trac.ffmpeg.org/wiki/CompilationGuide/Ubuntu) (use the one corr

[2017-04-25 14:03] Romain commented on #355
If you could also provide any link to the related documentation, so we could at least understand what this is supposed to do, it would be great.

[2017-04-25 14:35] shtse8 commented on #308
@Romain Thanks for your review. I have replied and explained in details.

[2017-04-25 16:01] BPing commented on #355
When the live broadcast, the video through the RTMP protocol pushed to the live server
[Publishing video to the server](https://flussonic.com/doc/live/publish) @Romain

[2017-04-25 18:45] rickerd commented on #355
I also would like to read rtsp and send them to a rtmp server. For hobby projects i would like to stream birdhouses and stuff and manage this trough a web interface built with php.

I don't know how it all works but if i could contribute i certain will contribute.

[2017-04-26 21:48] Miky94 commented on #321
tried but same error

[2017-04-27 14:02] adepolas opened #357 "Fastest way to convert videos"
Actually my conversion script for videos is using your package this way :
[code]

But the conversion is quite long for each (less than 1 minute) video. Is there any options to improve the conversion time ?

[2017-04-27 15:34] Laurent3170 commented on #304
@Romain Yes I have copied/pasted the changes from #335 on my computer and then run the script.
When I don't use `setProfile` and `setLevel` the video is encoded but not working on iDevices and when I use those functions the format is set as null, **but There are some changes on #335 since my message above, that I haven't tested yet.**

[2017-04-27 17:11] Laurent3170 commented on #304
The changes were just about the test. So the result is still the same for me, not being displayed oniPhone 4s and `$format = null`

[2017-04-27 17:55] dmanthing commented on #304
You must create format first then set level and profile last. Also i use baseline and level 3.0

[2017-04-27 18:04] Laurent3170 commented on #304
Yes, I do
[code]

[2017-04-27 18:10] jens1o commented on #304
he uses baseline and level 3.0, you're using profile high and level 4.1

[2017-04-27 18:17] Laurent3170 commented on #304
Yes this was due to a bad copy/paste from the code above. But I have tried with baseline and 3.0, the $format is not null so this error has disappeared :-) the video is well encoded, but I still can't read the video https://edlo.eu/6gkfwk/img/video.mp4.

[2017-04-28 04:03] dmanthing commented on #354
I did it on Laravel 5.2. Store a file after upload and create a model instance in the database that holds a filename. Pass that instance to a Laravel job and let the job do the encode.

[2017-04-28 11:51] Defunktt1 opened #358 "Trouble with firefox 53"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | last verison
| FFmpeg Version | ffmpeg 3.3
| OS             | Archlinux x64 4.10.11-1

When I convert video file to mp4 and change  resolution, in firefox 53 (f50 and opera v44 too) I have black screen instead of video. Audio works fine.

`$video = $ffmpeg->open($videoPath);`
`$video->filters

[2017-05-02 12:56] Rudloff commented on #13
I would be interested in this as well: outputting to a pipe instead of a file.

Here is a very basic example of how it can be done:
[code]

`$stream` can then be streamed to the browser or to various other libraries.
(Of course it only works with formats that are streamable.)

[2017-05-02 14:27] jens1o commented on #13
@Rudloff Could you do a pr implementing that? I'm kinda busy... Otherwise I could implement it next week.

[2017-05-07 06:55] davidospina opened #360 "adding metadata to mp3 file doesn't save year"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | 0.7.0
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Ubuntu 14.04.5 LTS

Hi. I'm using this plugin for converting and saving mp3 files uploaded to my server and everything works great but year metadata.

This is my code

`$ffmpeg = FFMpeg\FFMpeg::create();`
`$audio = $ffm

[2017-05-07 18:22] gGambit commented on #172
For my Windows users...

I had this problem too.  Spent two days using procmon to determine why PHP wasn't starting ffprobe.exe on a new Windows 2016 install.

Turns out if your IIS AppPool identity doesn't have at least modify writes on the C:\Windows\temp folder, you will get this misleading error.

You can get the App Pool identity/context of your site using (not to be confused with the user co

[2017-05-10 10:47] dinhchuong7913 opened #361 "file_exists(): open_basedir restriction in effect. File(/usr/bin/ffprobe)"
Hi ,
I get error
file_exists(): open_basedir restriction in effect. File(/usr/bin/ffprobe) is not within the allowed path(s): (/home/project/public_html:/home/project/tmp)
how to fix it??

[2017-05-10 12:23] jens1o commented on #361
Change the owner of the `tmp` directory, so it belongs to the user which is executing php. (Mostly `www-data`)

[2017-05-10 14:17] dinhchuong7913 commented on #361
I using nginx and run chown nginx:nginx already but still this issue

[2017-05-10 14:33] jens1o commented on #361
Who's executing the php binary?

[2017-05-10 14:41] dinhchuong7913 commented on #361
I dont understand clearly?? exce right??

[2017-05-10 14:42] jens1o commented on #361
Okay, another question: Do you use FPM?

[2017-05-10 14:59] dinhchuong7913 commented on #361
Not my server so I am not sure, I checked, it not use FPM

[2017-05-10 15:07] gailingmic opened #362 "ffprobe movflags +faststart check"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no

Good Day everyone,

is there a way to check with \FFMpeg\FFProbe if -movflag +faststart is set on a Video, If the Metadata is at the front of the file?

Greetings,
Michell

[2017-05-10 15:09] jens1o commented on #361
Okay, I would ask the hosting company wether it could allow the path `/home/project/tmp` for php.

[2017-05-10 15:17] dinhchuong7913 commented on #361
sorry I am confused about this.
My local, I use wamp, install ffmpeg, ervery things is ok but on server have this issue when I want get thumbnail and connver video.
I searched but not find solution.
please teach me more detail, thanks

[2017-05-10 15:41] jens1o commented on #361
Yeah, it is correct. Just try it out.

[2017-05-10 15:52] dinhchuong7913 commented on #361
I try already but still this issue

[2017-05-15 19:27] travoliti commented on #269
Any updates on this?

[2017-05-15 19:40] travoliti commented on #269
@astierler

Just tried your suggestion. It worked!

Now just need to merge this fix.

[2017-05-15 19:41] travoliti commented on #269
@astierler

Just tried your suggestion. It worked!

Now just need to merge this fix. @Romain

[2017-05-15 23:35] travoliti opened #365 "Proper use of setAdditionalParameters to remove audio?"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | 0.9.3
| FFmpeg Version | FFmpeg
| OS             | Linux

How is `setAdditionalParameters` supposed to be used if I want to remove audio (i.e. add the `-an` option to the command)?

I've tried:

[code]

As well as:

[code]

And:

[code]

But none of them actually remove the audio from the vid

[2017-05-16 03:54] jens1o commented on #365
You need to set an `SimpleFilter` and add it.

[2017-05-19 11:26] grray commented on #360
Year is returned as key "date", so try changing "year" to "date".

[2017-05-21 22:50] davidospina commented on #360
Hi. Worked perfectly. Thanks

[2017-05-27 09:54] jangrewe commented on #172
Same here, with PHP7 on Debian stretch.
[code]
results in
[code]

[2017-05-27 11:51] aminyazdanpanah opened #367 "Implement HLS with a key"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| FFmpeg Version | 3.0.7
| OS             | Linux

Hi,
Is there any way to implement HLS with a key using PHP-FFMPEG?
My ffmpeg command is here:
`ffmpeg -y -i demo.mp4 -hls_time 9 -hls_key_info_file enc.keyinfo -hls_segment_filename "segmentedfile%d.ts" video.m3u8`

[2017-05-29 10:58] David199719 commented on #187
https://packagist.org/packages/php-ffmpeg/php-ffmpeg

[2017-06-01 21:05] Romain commented on #355
Thanks for this documentation @BPing.
I've got absolutely no experience with live stream, if someone wants to dig into this...
However, I'll tag this as a feature request.

[2017-06-01 21:07] Romain commented on #321
I'm sorry, but I'm not use to working on Windows. If it's not a problem of rights, localization of the binaries or a missing use statement, I don't see why it doesn't want to execute the probe file...

[2017-06-01 21:09] Romain commented on #357
Hi @adepolas,
Your code seems good.
I don't think that you can optimize your code.
If you want to improve performances, you will have to increase the resources of your machine.
It also depends on the way your file is encoded.
I hope this helps.

[2017-06-05 16:37] dana321 commented on #280
I thought i would post here since i had the same issue.

You need to run composer update first, then you will be able to install php-ffmpeg

[2017-06-09 11:14] xee25 opened #368 "Embed subtitle"
| Q              | A
| -------------- | ---
| Question?           | Yes
| New Feature?   | yes
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg
| OS             | Your Windows 10

1.) I want to add subtitles in video using this package. I tried through shell_exec it add subtitles in the video but i want to merge this in php-ffmpeg package.
"shell_exec('ffmpeg\bin\ffmpeg.exe

[2017-06-18 19:45] user851416 opened #369 "Unable to edit MP4, and re-save as MP4?"
| Q              | A
| -------------- | ---
| Bug?           | Possibly?
| New Feature?   | no
| Version Used   | 0.9.3
| FFmpeg Version | FFmpeg 3.2.2
| OS             | ubuntu

I'm trying to edit an MP4 file that I have saved on my server, remove its audio, and then re-save it again as an MP4.

Here's my code:

[code]

However, when the new file is saved, it only saves like < 1 second, even thou

[2017-06-18 19:46] user851416 commented on #369
@jens1o Any ideas?

[2017-06-18 19:56] jens1o commented on #369
I'll try to reproduce tomorrow(sorry, I must be in bed in 5 minutes).

Thanks for the ping!

[2017-06-18 19:56] user851416 commented on #369
No problem, and thank you!

[2017-06-18 21:19] user851416 commented on #369
Here is the original video:

https://streamable.com/lnuuy

And here is what PHP-FFMpeg outputs after `save()`:

https://streamable.com/hpgbu

[2017-06-19 04:20] ruhong65 opened #370 "Fatal error: Uncaught exception 'Alchemy\BinaryDriver\Exception\ExecutableNotFoundException' with message 'Executable not found, proposed : avprobe, ffprobe' in D:\xampp\htdocs\d\trunk\vendor\alchemy\binary-driver\src\Alchemy\BinaryDriver\AbstractBinary.php:160"
Hi all

I just finished  composer install the FFmpeg ,、then i run the script just got the error ,below is the information:

Fatal error: Uncaught exception 'Alchemy\BinaryDriver\Exception\ExecutableNotFoundException' with message 'Executable not found, proposed : avprobe, ffprobe' in `D:\xampp\htdocs\d\trunk\vendor\alchemy\binary-driver\src\Alchemy\BinaryDriver\AbstractBinary.php:160`

my `code:`

[2017-06-19 05:03] ruhong65 commented on #370
Fatal error: Uncaught exception 'Alchemy\BinaryDriver\Exception\ExecutionFailureException' with message 'ffprobe failed to execute command "./vendor/ffmpeg/bin/ffprobe.exe" 1.mp3 -show_streams -print_format json' in D:\xampp\htdocs\d\trunk\vendor\alchemy\binary-driver\src\Alchemy\BinaryDriver\ProcessRunner.php:100 Stack trace: #0 D:\xampp\htdocs\d\trunk\vendor\alchemy\binary-driver\src\Alchemy\Bin

[2017-06-19 08:08] ruhong65 commented on #370
fixed ,please closed

[2017-06-19 11:46] jens1o commented on #369
Thanks for posting it, I'm going to take a look now. :)

[2017-06-19 11:51] jens1o commented on #370
You can do that yourself. ;)

[2017-06-19 12:00] jens1o commented on #369
It's working for me. My test script:
[code]

so for me it looks like something in your environment isn't right. What php version do you use? I'm using the exact same ffmpeg version, but I'm on Windows.

[2017-06-19 16:21] user851416 commented on #369
Can you try overwriting the original MP4 when you `save()`? Because that's what I do.

I'm using PHP 5.6.23.

[2017-06-19 17:01] jens1o commented on #369
Wow. Nice catch. Yep, you found a bug! But this lib doesn't "save" the file, we just generate an command ffmpeg will handle itself.

I recommend filing an issue at ffmpeg itself, there's nothing we can do. I would propose you save it to a different file, and if you really need it, you delete (the `unlink` function is your friend) it and rename the source file, although it's always good to have the

[2017-06-19 17:09] user851416 commented on #369
I wonder if using the options `-y` or `-f` would work:

https://ffmpeg.org/ffmpeg.html#Main-options

[2017-06-19 17:33] jens1o commented on #369
I'm afraid but I would try it out, I don't know more in this topic than you. I didn't expected ffmpeg to do that.

[2017-06-20 05:06] user851416 commented on #369
Would this be the correct way of adding the `-y` option?

[code]

[2017-06-20 05:07] user851416 commented on #369
Found this related SO question:

https://stackoverflow.com/questions/28877049/issue-with-overwriting-file-while-using-ffmpeg-for-converting

[2017-06-20 14:42] jens1o commented on #369
Ah, that makes sense. So it's not a bug. I would rather start using another file. I fixed this "bug" in my development version of my ffmpeg php wrapper.

[2017-06-21 03:33] ruhong65 opened #371 "it notice me the command not work . but i try it on linux it's works,can anyone help this"
| Q              | A
| -------------- | ---
| Bug?           | mayybe
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | 2.6.8
| OS             | centos7

i was move my code to server ,and it's not work

Fatal error: Uncaught exception 'Alchemy\BinaryDriver\Exception\ExecutionFailureException' with message 'ffmpeg failed to execute command '/usr/bin/ffmpeg' '-y'

[2017-06-21 03:45] jens1o commented on #371
Can you check your php-user do have permission to execute ffmpeg and on these directories?

[2017-06-21 03:53] ruhong65 commented on #371
thanks @jens1o  I add the permission and it's works .

[2017-06-21 11:50] jens1o commented on #371
@ruhong65 Could you close this issue, please?

[2017-06-23 06:28] user851416 commented on #369
@jens1o

As a related question, how can I open an MP4, remove its audio, and re-save it as an MP4, without assigning it a new format.

Currently, what I do is this:

[code]

But this takes over 30 seconds to finish.

However, if I simply run this command:

[code]

It finishes in under 1 second.

How can I replicate this command in PHP-FFMpeg? It looks like the problem in my code is most likely ass

[2017-06-23 11:51] jens1o commented on #369
you may want to add a simple filter `-c copy`. ;)

[2017-06-23 17:13] user851416 commented on #369
Just tried this and it's still taking >30 seconds. :/

[code]

[2017-06-23 17:24] flarolyn opened #373 "Speed up mp4 to webm conversion?"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | 0.9.3
| FFmpeg Version | FFmpeg 3.2.2
| OS             | Ubuntu

Currently when I convert a video from mp4 to webm, it can take minutes for something as small as a 4 MB file.

Here is my code:

[code]

This particular 4 MB file takes anywhere between 1.5 minutes to 2 minutes to convert.

How

[2017-06-23 19:05] jens1o commented on #373
Can you give me the command you would've expected that is faster when using the prompt?

[2017-06-24 05:14] user851416 commented on #369
OK, so I did some further digging, and I found that this code:

[code]

Outputs this command:

[code]

What I need is code that outputs this command:

[code]

Pretty much removing everything except `-an` and `-c copy`.

How can I do this? @jens1o

[2017-06-24 15:11] jens1o commented on #369
Modify the sources. This isn't accessible via an api.

[2017-06-24 16:23] user851416 commented on #369
That's unfortunate. Seems like an oversight to not allow simpler commands.

[2017-06-25 07:14] jens1o commented on #369
Wait, I got a sudden idea: You may want to manually set the rates, which you can get by ffprobe. I think it takes that long, because in your real video, the rates are different, so ffmpeg cannot copy.

[2017-06-27 18:30] user23145 opened #374 "Keep original video's bitrate?"
How can I keep the original video's bitrate?

[2017-06-27 19:09] jens1o commented on #374
Use ffprobe to get the values and set it to the format.

[2017-06-28 16:13] JoanIzquierdo opened #375 "Parse error: /vendor/symfony/process/Process.php on line 277"
Hello, the following error message is displayed

And the code is:

	require("./vendor/autoload.php");

	$ffmpeg = FFMpeg\FFMpeg::create();

	$video = $ffmpeg->open('small2.mp4');
	$video
		->filters()
		->resize(new FFMpeg\Coordinate\Dimension(320, 240))
		->synchronize();
	$video
		->frame(FFMpeg\Coordinate\TimeCode::fromSeconds(10))
		->save('small2.jpg');

The example is simple and the library

[2017-06-30 01:43] Tinywan commented on #356
Hi @Romain
I also have the same problem in linux (Ubuntu 14.0), Windows is ok, do not know what the cause
## error code
`Unable to load FFProbe`

[2017-06-30 02:24] Scarlicity commented on #356
@Tinywan,
Hi, I find a way to solve it, but i do not know whether it can solve your problem.
I think it is an authority problem. You can try 'chmod 777 your-ffmpeg-root-path'.

[2017-06-30 02:33] Tinywan commented on #356
@Scarlicity Thank you! It has been solved

[2017-06-30 02:36] Scarlicity commented on #356
@Tinywan Are you chinese? Or?

[2017-06-30 02:47] Tinywan commented on #356
@Scarlicity yes ,your too？

[2017-06-30 02:50] Scarlicity commented on #356
@Tinywan yeal. Two Chinese use English to communicate. That's so funny~

[2017-06-30 03:16] Tinywan commented on #356
@Scarlicity Haha, that is also#

[2017-06-30 19:19] Romain commented on #375
I think that an error has been introduced in 0.9.4.
Can you try with the version 0.9.3 and let me know if it works?

[2017-06-30 19:36] #356 closed

[2017-06-30 19:47] #280 closed

[2017-07-02 09:20] Laurent3170 commented on #304
Any news ? I've tried with an iPhone 6 and still the video is not readable...

[2017-07-02 09:40] jens1o commented on #304
I'm afraid, but I do not have any experiences with iOS. :/

[2017-07-03 09:45] sufyandeveloper commented on #173
@jens1o  i want save multiple outputs with different sizes could you please help me i want this feature waiting for reponse thank you

[2017-07-03 11:53] jens1o commented on #173
Unfortunately, I'm on a different pc now, and I didn't pushed it. I'll do as soon as I can, but I wan't to make sure it works properly and does not cause any side effects. Also, it's the end of the school year, and I have to learn for class exams... :/

[2017-07-04 12:21] Mehrdad-Dadkhah opened #378 "Unable to save frame as image"
Hi.

I want save one frame of video as image. I use this code:

[code]

but it throw a exception:

I trace code and dump generated command at Frame.php line 119. it generate this command:

`-y -ss 00:00:26.67 -i /var/www/html/public/videos/2017/07/04/15-28-14-595b74c6f3746.mp4 -vframes 1 -f image2 /var/www/html/public/videos/res_thumbs/15-28-14-595b74c6f3746G.jpg`

when I run it manually in comman

[2017-07-04 15:30] jens1o commented on #378
Does only this feature does not work or do you have a general problem?

[2017-07-04 15:53] Mehrdad-Dadkhah commented on #378
@jens1o
thanks for follow up

Yes, I have problem only with this feature. I use duration feature with this code and it's work good:

[code]

[2017-07-05 04:56] Mehrdad-Dadkhah commented on #378
I update my package (PHP-FFmpeg) from 0.9.3 to 0.9.5 and problem resolved!

[2017-07-05 04:56] #378 closed

[2017-07-06 12:32] chantrea opened #379 "Failed to Encode X264"
Encoding failed
--
in Video.php (line 228)
at Video->save(object(X264), '/path/to/storage/uploads/users/videos/20170706122719.mp4')
fmpeg failed to execute command '/usr/local/bin/ffmpeg' '-y' '-i' '/tmp/phpKagNEA' '-async' '1' '-metadata:s:v:0' 'start_time=0' '-threads' '1' '-vcodec' 'libx264' '-acodec' 'aac' '-b:v' '1000k' '-refs' '6' '-coder' '1' '-sc_threshold' '40' '-flags' '+loop' '-me_range

[2017-07-07 02:45] ferryvg commented on #379
Run this command in console:
`/usr/local/bin/ffmpeg '-y' '-i' '/tmp/phpKagNEA' '-async' '1' '-metadata:s✌️0' 'start_time=0' '-threads' '1' '-vcodec' 'libx264' '-acodec' 'aac' '-b:v' '1000k' '-refs' '6' '-coder' '1' '-sc_threshold' '40' '-flags' '+loop' '-me_range' '16' '-subq' '7' '-i_qfactor' '0.71' '-qcomp' '0.6' '-qdiff' '4' '-trellis' '1' '-b:a' '128k' '-vf' '[in]scale=640:320 [out]' '-pass' '

[2017-07-07 02:52] chantrea commented on #379
Can you please let me know what is the step to do that? Because I need to use that to convert video from users upload and the goal is to support for every browser and devices I already tried in different ffmpeg version but still no luck. And moreover is that possible in save method after video converted then auto upload to amazon s3.

Best Regards,
Chantrea

[2017-07-07 02:54] ferryvg commented on #379
You need sign in to server over ssh and run command:
`/usr/local/bin/ffmpeg '-y' '-i' '/tmp/phpKagNEA' '-async' '1' '-metadata:s✌️0' 'start_time=0' '-threads' '1' '-vcodec' 'libx264' '-acodec' 'aac' '-b:v' '1000k' '-refs' '6' '-coder' '1' '-sc_threshold' '40' '-flags' '+loop' '-me_range' '16' '-subq' '7' '-i_qfactor' '0.71' '-qcomp' '0.6' '-qdiff' '4' '-trellis' '1' '-b:a' '128k' '-vf' '[in]scale=

[2017-07-07 02:58] ferryvg commented on #379
This is default value for some config. You using Laravel? :)

[2017-07-07 03:00] ferryvg commented on #379
If you using Laravel: upgrade php to 7.0/7.1 and use this package https://github.com/pascalbaljetmedia/laravel-ffmpeg

[2017-07-07 04:11] chantrea commented on #379
Yeah I am using laravel 5.4

On Thu, Jul 6, 2017 at 8:00 PM, ferryvg <notifications@github.com> wrote:

[2017-07-07 11:32] MuminovicSelvedin opened #380 "Change the SimpleRate on AudioFile"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

Hii ..

Is it possible to change the simple Rate on a audio file..

Have a audio file with simple rate 44100. i would like to change it to 16000 !!

How !!

Thanks

[2017-07-07 11:40] #380 closed

[2017-07-07 13:13] ysk99 commented on #273
here is my code in laravel,,run it a 500error occure!!?? thanks
[code]

[2017-07-08 06:24] jens1o commented on #379
@chantrea Does it work for you when you use that wrapper @ferryvg proposed?

[2017-07-08 06:24] jens1o commented on #379
sorry, wrong button

[2017-07-08 06:24] jens1o commented on #273
Which error do you run into?

[2017-07-08 06:49] ysk99 commented on #273
@ it give a 500 Internal Server Error，maybe it a server error..so  i dont know is there any other config to do?

[2017-07-08 06:50] ysk99 commented on #273
@jens1o it give a 500 Internal Server Error，maybe it a server error..so i dont know is there any other config to do?

[2017-07-08 06:53] chantrea commented on #379
It is still an issue but it is different thing I also open the ticket at the wrapper @ferryvg proposed. Will be appreciated if you could answer this too

https://github.com/pascalbaljetmedia/laravel-ffmpeg/issues/21

[2017-07-08 07:02] ysk99 commented on #273
But the site other function is work well..only this error

[2017-07-08 08:32] jens1o commented on #273
But we need the error, so we have something to work with. May you check your server logs, please?

[2017-07-08 12:43] ferryvg commented on #379
libfaac is non-free package. Use another audio codec, ex.
`new X264('libfdk_aac')`

[2017-07-08 18:48] chantrea commented on #379
I already used the libfdk_aac but it is still the same issue.

On Sat, Jul 8, 2017 at 5:43 AM, ferryvg <notifications@github.com> wrote:

[2017-07-08 19:44] jens1o commented on #379
May you execute the command @ferryvg suggested, so we have something to work with? :)

[2017-07-08 22:40] ferryvg commented on #379
@chantrea, you must change right path to source and destination files. Using help function like storage_path for it.

Please, give php code and laravel configs for more details.

[2017-07-09 01:19] chantrea commented on #379
Here is my code in Laravel 5.4
$uploadedFile = $request->file('post_video_upload');
$timestamp = date('YmdHis');
FFMpeg::open($uploadedFile->getRealPath())
->addFilter(function ($filters) {
$filters->resize(new \FFMpeg\Coordinate\Dimension(640, 480));
})
->export()
->toDisk('s3')
->inFormat(new \FFMpeg\Format\Video\WMV)
->save('users/videos/'.$timestamp."wmv")
// export to Amazon S3, converted in

[2017-07-09 01:20] chantrea commented on #379
the problem is the library cannot read from the source it defaults to storage path but I am getting the file from user upload, not the storage path.

[2017-07-09 01:41] ferryvg commented on #379
@chantrea, what the error you have?

[2017-07-09 02:23] chantrea commented on #379
Unable to probe /app/storage/....

But actually is wrong path like I mention because I am getting file from user upload so the path should be like that /tmp/phpa344x something like that. I checked the details of function fromDisk it has default to storage path.

Best Regards,
Chantrea

[2017-07-09 02:43] ferryvg commented on #379
/app/storage is strange path for laravel and is absolute path of server
Good path is [/path/to/laravel]/storage/app

Please give me composer.json file and config/filesystem.php (without S3 key and secret) for that can i help you

[2017-07-09 03:48] chantrea commented on #379
But the problem is the file is located in /tmp folder that is Linux apache php default when users upload the file.

Best Regards,
Chantrea

[2017-07-09 03:54] ferryvg commented on #379
Problem in your envirovment, not vendor packages. I don't help you without more details

[2017-07-09 05:10] chantrea commented on #379
Is that possible that we can do screen share on skype?

My skype is wattanak2015

On Sat, Jul 8, 2017 at 8:54 PM, ferryvg <notifications@github.com> wrote:

[2017-07-09 06:11] jens1o commented on #379
Please come up with a problem where this wrapper is causing. Without more pieces of  information, we can't help. Closing for now.

[2017-07-09 06:11] #379 closed

[2017-07-09 10:37] RatFou opened #381 "Custom Filters"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | last
| FFmpeg Version | last
| OS             | linux wheezy (7.2)

Hi, I tried to add custom filters without success. For example, I tried to apply a blur an a scale2ref filter but I don't know where to put them. Anyone already succeded to apply custom filters?

[2017-07-09 14:17] jens1o commented on #381
Can you show us your code?

[2017-07-09 14:31] RatFou commented on #381
Sure :)

[code]

[2017-07-09 14:45] jens1o commented on #381
That looks right. How do you save your video? We can only apply the filters when you save it somewhere.

[2017-07-09 14:47] RatFou commented on #381
`$video
    ->save(new FFMpeg\Format\Video\X264(), 'export-x264.mp4');`

[2017-07-09 14:48] jens1o commented on #381
Ah, wait.
Your code is actually wrong, but it looks right...
You need to do it like this:
[code]

[2017-07-09 15:23] RatFou commented on #381
Thank you but I have this error in my logs with this code : Uncaught exception `'Alchemy\\BinaryDriver\\Exception\\ExecutionFailureException' with message 'ffmpeg failed to execute command '/usr/local/bin/ffmpeg' '-y' '-i' 'test-video.mp4' '-async' '1' '-metadata:s:v:0' 'start_time=0' '-vcodec' 'libx264' '-acodec' 'libfaac' '-b:v' '1000k' '-refs' '6' '-coder' '1' '-sc_threshold' '40' '-flags' '+lo

[2017-07-09 15:26] jens1o commented on #381
Can you execute this command on the shell and tell us the output?
`/usr/local/bin/ffmpeg -y -i test-video.mp4 -async 1 -metadata:s:v:0 start_time=0 -vcodec libx264 -acodec libfaac -b:v 1000k -refs 6 -coder 1 -sc_threshold 40 -
flags +loop -me_range 16 -subq 7 -i_qfactor 0.71 -qcomp 0.6 -qdiff 4 -trellis 1 -b:a 128k -vf movie=img/logo-white.png [watermark];[in]scale=1080:768 [p0];[p0]-box
blur 5:1[

[2017-07-09 15:44] RatFou commented on #381
I have this error : ```[NULL @ 0x313bf80] Unable to find a suitable output format for 'pipe:'
pipe:: Invalid argument```

[2017-07-09 15:46] RatFou commented on #381
The full output:
`ffmpeg version 1.0.10 Copyright (c) 2000-2014 the FFmpeg developers
  built on Jul  8 2017 11:31:05 with gcc 4.7 (Debian 4.7.2-5)
  configuration: --enable-gpl --enable-nonfree --enable-libfaac --enable-libgsm --enable-libmp3lame --enable-libtheora --enable-libvorbis --enable-libx264 --enable-libxvid --enable-zlib --enable-postproc --enable-swscale --enable-pthreads --enable-x11g

[2017-07-09 16:08] RatFou commented on #381
I replaced `- flag` by `-flag` and now I have this error: `5100] Unable to find a suitable output format for '[watermark]'
[watermark]: Invalid argument`

[2017-07-09 18:03] jens1o commented on #381
Okay, then you need to get your hands dirty and remove all double spaces... Will do this tomorrow, I need to learn for my last freakin' class test. Then I'm done and I can spend all my time into this 😍

[2017-07-09 18:33] RatFou commented on #381
There is no double space anymore ;)

[2017-07-09 19:16] jens1o commented on #381
You see, I don't have enough time... Sorry. I'll look into this later. Maybe someone else has an idea... I'm afraid, but I have to do my work. :/

[2017-07-09 21:40] RatFou commented on #381
Don't worry, I will find a solution and post it here as soon as possible ;)

[2017-07-10 15:55] RatFou commented on #381
This filter works:
[code]

[2017-07-10 15:55] #381 closed

[2017-07-10 18:55] jens1o commented on #381
Thanks! Will take this into account once there is a related issue. :)

[2017-07-16 12:50] fpolli opened #382 "Is it possible to use this without Composer?"
I by choice do not use Composer, and am having issues trying to get the library to work.

I tried  include("$codedir/FFMpeg/FFMpeg.php"); and it told me it could not find FFProbe class, so then I added an include for FFProbe, so beginning of code looks like this:

          include("$codedir/FFMpeg/FFMpeg.php");
          include("$codedir/FFMPeg/FFProbe.php");
          $ffmpeg = FFMpeg\FFMpeg::c

[2017-07-17 04:21] jens1o commented on #382
No, it's not possible without getting your hands dirty. We have a bunch of dependencies that this wrapper actually works, and you would need to download every dependency and its sub-dependencies and the sub-sub-dependencies... And include every file to the running script. I'm afraid but I  think you can't do that, because it would need really long time.

[2017-07-17 04:21] #382 closed

[2017-07-17 13:52] karenshahmuradyan opened #383 "Fatal error: Uncaught Alchemy\BinaryDriver\Exception\ExecutableNotFoundException: Executable not found, proposed : avprobe, ffprobe in"
Fatal error: Uncaught Alchemy\BinaryDriver\Exception\ExecutableNotFoundException: Executable not found, proposed : avprobe, ffprobe in C:\xampp1\htdocs\ffmpeg-3.3.2\vendor\alchemy\binary-driver\src\Alchemy\BinaryDriver\AbstractBinary.php:160 Stack trace: #0 C:\xampp1\htdocs\ffmpeg-3.3.2\vendor\php-ffmpeg\php-ffmpeg\src\FFMpeg\Driver\FFProbeDriver.php(48): Alchemy\BinaryDriver\AbstractBinary::load(

[2017-07-17 17:58] jens1o commented on #383
Please fill out the issue template, so we can help you properly... On what OS are you? Which version?

[2017-07-17 21:35] karanshahmuradyan commented on #383
Is it possible that I sent you my teamviewer code and you installed it on my computer?

[2017-07-18 04:25] jens1o commented on #383
I'm sorry, but I don't understand what you mean?

[2017-07-18 06:42] karenshahmuradyan commented on #383
Can you connect to my computer and install it by yourself?

On Tue, Jul 18, 2017 at 8:25 AM, Jens Hausdorf <notifications@github.com>
wrote:

[2017-07-18 07:02] Samip91 opened #384 "How to add metadata like UPC (Universal Product Code) and ISRC (International Standard Recording Code) to mp3?"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

#### Actual Behavior

How does PHP-FFMpeg behave at the moment?

#### Expected Behavior

What is the behavior you expect?

#### Steps to Reproduce

What are the steps to reproduc

[2017-07-18 09:54] Filoz commented on #69
Hi,
I know this is a very old discussion...
are there some news about it?

[2017-07-18 10:53] jens1o commented on #383
I'm sorry, but we're an open-source project, which means that all communication is public as well, so we don't offer personal support, so we can avoid duplicates. Please provide a real-world example so I can reproduce, and I will reopen this issue.

[2017-07-18 10:53] #383 closed

[2017-07-18 11:09] karenshahmuradyan commented on #383
ok, thank you

On Tue, Jul 18, 2017 at 2:53 PM, Jens Hausdorf <notifications@github.com>
wrote:

[2017-07-19 11:59] jens1o commented on #384
This is not natively possible, but you can use a simple filter and add the flags(would be nice if you post them here)

[2017-07-19 12:00] jens1o commented on #69
I planned to do this, but I'm busy at the moment with personal things... :/

Also, it has a low priority for me, because it may result in a breaking change...

[2017-07-20 01:10] user23145 commented on #172
Same problem here on Ubuntu 16.04.

Installed ffmpeg through:

[code]

Both `ffmpeg` and `ffprobe` binaries are located in:

[code]

Getting the same error message.

[2017-07-20 10:52] teddywest32 commented on #384
@jens1o I am having same issue but do you know how can we add ISRC in mp4 video? +1 for this feature

[2017-07-20 14:22] jens1o commented on #384
I'm sorry, but I don't know this. When you have found the ffmpeg code, you can simply add a simple filter.

[2017-07-20 14:39] jens1o commented on #172
I'm sorry, but does this error still occur when you are explicit bound the wrapper to these files?

[2017-07-21 09:05] Samip91 commented on #384
I am able to add upc and isrc on mp3 with this code
` $audio->filters()->addMetadata(["title" => "My song", "artist"=>"artist1", "album"=>"Album2", "composer"=>"Composer2", "track" => "03","date"=>"2017", "isrc"=>"123434545",'upc'=>'124153234']);`
But for mp4 it does not work.

[2017-07-24 13:20] Jasonspd opened #386 "Can I create multiple custom filters on an image then overlay to the video"
Is it possible to add multiple custom filters on an image and overlay it to the video? In the command below it has to refer to the input. If it possible to add filters to the image first, then I still need to add all those filters to video eventually. Is there a solution for this?

Commands I will be using: rotate, scale, fade, drawbox, drawtext. Literally making things fly over a video D:

Comman

[2017-07-25 14:59] jens1o commented on #386
Afaik, this handler does not provide that awesome way to accomplish this if you don't want to split up and/or use the simplefilters...

[2017-08-01 07:18] ruhong65 opened #387 "how to get bitrate from music?"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | maybe
| Version Used   | least
| FFmpeg Version | 3.1.4
| OS             | centos

I did not find how to get bitrate from music? anyone know?

[2017-08-01 10:13] jens1o commented on #387
You need to play a little as soon as I got time.

`var_dump`ing https://github.com/PHP-FFMpeg/PHP-FFMpeg#ffprobe with your opened audio file should give you the key.

[2017-08-01 10:13] ruhong65 opened #388 "the --threads 12 not work ,"
| Q              | A
| -------------- | ---
| Bug?           | maybe
| New Feature?   | maybe
| Version Used   | latest
| FFmpeg Version | 3.1.4
| OS             | Your OS and version

Hey, everyone.

I just found when I use --threads 12 it's see not work?

top -H
Cpu0  :  2.0%us,  1.0%sy,  0.0%ni, 96.7%id,  0.3%wa,  0.0%hi,  0.0%si,  0.0%st
Cpu1  :  1.0%us,  0.7%sy,  0.0%ni, 98.3%id,  0.0%wa,  0.

[2017-08-01 10:15] jens1o commented on #388
Adding more threads without having more cpu cores results in the negative effect. In ideal cases, each processor core should have one thread to handle. So, you may want to set you want to use 4 cores.

[2017-08-01 10:15] #388 closed

[2017-08-03 17:44] frisch1 opened #389 "Question re: segment_time + Add Filter"
First, thank you for the excellent framework. SO much better than doing exec() to hit FFMPEG. Much appreciated.

Forgive two likely very basic questions. I’ve been through the docs and the issues, including searching online and off, but I can’t seem to find an answer to these two questions. Since I normally write procedural vs object, I’m likely missing something obvious:

1, I normally run my aud

[2017-08-03 17:54] jens1o commented on #389
All your issues can be solved using the simple filters, but if you'd like to have something provided out-of-the-box, create a separate issue for each one and I'll label it as feature, so once I got more time, I'll fulfill the requests.

Example using simple filters(for the first question):
[code]

[2017-08-03 18:23] frisch1 commented on #389
Thank you. This is excellent. I went wrong both on the addfilter structure and by not using the simplefilter. This works like a charm.

[2017-08-03 18:25] frisch1 opened #390 "FFMPEG segment_time function"
Carried over from 389 in a separate ticket.

I can’t seem to find a reference to something like:
`ffmpeg -i audio.wav -c copy -map 0 -segment_time 1 -f segment %03d.wav `

(breaks audio up into 1 second clips).

I’m looping through using clip right now, but that is significantly longer and the –segment time is very useful for analysis (we feed X seconds into different voice analysis algos).

I tri

[2017-08-03 18:30] jens1o commented on #390
What does not work exactly? Can you show us your code?

[2017-08-03 18:31] #389 closed

[2017-08-03 20:30] sbourdette commented on #172
Same here

[2017-08-04 01:34] ruhong65 opened #391 "FFMpeg parameter problem:about -threads"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | 3.1.4
| OS             | centos6.5

Cpu0  :  2.0%us,  0.7%sy,  0.0%ni, 95.3%id,  2.0%wa,  0.0%hi,  0.0%si,  0.0%st
Cpu1  : 94.4%us,  0.3%sy,  0.0%ni,  5.3%id,  0.0%wa,  0.0%hi,  0.0%si,  0.0%st
Cpu2  :  2.6%us,  0.3%sy,  0.0%ni, 97.0%id,  0.0%wa,

[2017-08-04 08:31] jens1o commented on #172
Probably, we should use a different service for locating software. The current one is not that maintained anymore, unfortunately. I'll explore in it once I'm not busy anymore.

[2017-08-04 08:33] jens1o commented on #391
Well, that looks wrong, yes, but we don't handle these. We just wrap your php code into something that ffmpeg understands, so there's nothing we can do. Please file an issue at ffmpeg itself, not at our end.

[2017-08-04 08:33] #391 closed

[2017-08-04 09:05] sbourdette commented on #172
Maybe, the sympliest is to provide a conf file like https://github.com/pascalbaljetmedia/laravel-ffmpeg

[2017-08-04 09:46] jens1o commented on #172
Well, we provide the conf file, in every case, you can set the binaries manually? I don't understand what you're trying to say?

[2017-08-04 10:58] sbourdette commented on #172
It would be great that the constructor read a config file to set the binaries if not provided.

[2017-08-04 11:39] jens1o commented on #172
That's what we do at the moment. We're going even deeper, we ask the operation system.

[2017-08-04 12:57] sbourdette commented on #172
Sorry but i don't find this config file. could you tell me where it is ?
I had always to provide binaries path at the create methode.

[2017-08-04 13:11] jens1o commented on #172
Well, with that configuration I mean the parameters from the `create` method, then I misunderstood you. I'm sorry.

[2017-08-08 19:00] discoveryjames commented on #304
I resolved this issue. I have attached the code for you.

[code]

[2017-08-09 19:00] hub20xx commented on #374
@jens1o Could you give an example please?

Or maybe @user23145 solved it and could help?

I'm trying to keep the audio and video settings unchanged (modified other things in the video but don't want to transcode).

I cannot find a way to extract the format from `ffprobe` and to use it so that I could do something like `$video->save($format, 'newVideo.mp4');` (I tried `$ffprobe->format($videoPath)-

[2017-08-09 20:51] hub20xx opened #392 "Adding watermark and keep audio and video settings unchanged"
I'm trying to keep the audio and video settings unchanged (I'm just adding a watermark to the video).

I'd like to leave the video format unchanged.

I cannot find a way to extract the format from the video, as to pass it to `save()`, which seems the only way to save my changes after adding the watermark.

I cannot find a way to extract the format from `ffprobe` and to use it so that I could do so

[2017-08-09 21:18] jens1o commented on #374
@hub20xx Sure, here to help:
[code]

Does it work for you? Maybe we should explore into keeping everything in default when it hasn't been changed...

[2017-08-09 21:30] jens1o commented on #392
Can you show your existing code? Basically, you need to get the format(what is not working for you?) and then you can determine the right class to use as the format. Then you're basically finished.

[2017-08-09 23:24] user89416 opened #393 "Keep video quality the same"
I'm trying to convert a `webm` file to an `mp4` file.

When I run it through this library, the quality is terrible (very pixelated).

Here is the original `webm` file:

https://giant.gfycat.com/FloweryKindlyHackee.webm

And here is what the outputed `mp4` looks like:

https://cdn-e2.streamable.com/video/mp4/704x9.mp4?token=1503530521_a26f2e513b0f5a7fa206e02167df8e606c22ab39

I'm not doing anything

[2017-08-10 06:24] hub20xx commented on #392
@jens1o Thank you for your answer

Here is what I have so far:

[code]

[2017-08-10 06:36] hub20xx commented on #374
@jens1o Thank you for your help!

I tried your solution like this (with the watermark):

[code]
and I got the error:
[code]
My video and watermark files seem ok, I tried to do something similar from the command line and it works:
[code]

[2017-08-10 07:10] jens1o commented on #374
It's working for me. Could you try the following command to explore what's wrong?
`/usr/bin/ffmpeg -y -i /home/myuser/code/input.mp4 -vcodec libx264 -acodec libfaac -b:v 499k -refs 6 -coder 1 -sc_threshold 40 -flags +loop -me_range 16 -subq 7 -i_qfactor 0.71 -qcomp 0.6 -qdiff 4 -trellis 1 -b:a 128k -vf movie=/home/myuser/code/watermark.png [watermark];[in][watermark] overlay=main_w - 50 - overlay_

[2017-08-10 07:21] jens1o commented on #392
There is no method `format` on `FFProbe`.

You get the format like this:
[code]

[2017-08-10 09:18] jens1o commented on #393
Don't have time right now, but there should be a response in the next days. If I hadn't have replied in three days, please ping me.

[2017-08-10 10:20] hub20xx commented on #392
@jens1o Thank you very much!

[2017-08-10 10:44] #392 closed

[2017-08-10 13:32] Laurent3170 commented on #304
@discoveryjames thanks for your answer but what is the value of `$filters`?

[2017-08-10 13:54] discoveryjames commented on #304
I would also recommend using the faststart flag too, so that the whole file doesn't have to download before it starts playing.

[code]

[2017-08-10 14:09] Laurent3170 commented on #304
Thanks for that adding (didn't know about faststart) but what about `$filters` value (see my question above)?

[2017-08-10 15:08] discoveryjames commented on #304
Sorry for the confusion. I have rewritten the code anyway, I'm using the line below. This is using a php7 array, but if you're not using php7 you can just use array() instead of []

[code]

[2017-08-10 15:32] Laurent3170 commented on #304
So, I have tried using your code but I have an encoding failed error
[code]
So, I have also tried with
[code]
This one works and is currently in https://edlo.eu/6gkfwk/img/video.mp4, but it doesn't display on my iPhone 6... But well displayed on Firefox.

[2017-08-12 10:04] huglester opened #394 "validate video"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | master

Hello
I am trying to 'fast' validate the image, so I know it passes validation and can be saved to the database.
In the CLI i do:
[code]

this command returns status code of 0 - if success.
1 - on error

What would be the 'alternative' in this LIBRARY way?
I can't seem to find a way t

[2017-08-12 11:12] huglester commented on #394
For now I came up with a solution:
[code]

so if duration is more than 1 second -  it's ok

does it seem correct? If so maybe this issue van be close, or maybe some ->validate() method could be implemented?

[2017-08-12 18:50] jens1o commented on #394
Yeah, that's a valid approach.... Will implement this as soon as I got more time and more fun implementing those. Somehow, I like writing comments, but I lack of implementing things...

[2017-08-13 05:51] AJ-TechSoul commented on #316
by using this code
`use FFMpeg;
`
i m getting error

[2017-08-13 08:37] jens1o commented on #316
Did you load the composer autoloader?

[2017-08-14 10:21] AJ-TechSoul commented on #316
Yeah i used composer autoloader.
then the new error comes.

`Fatal error: Uncaught Alchemy\BinaryDriver\Exception\ExecutionFailureException: ffmpeg failed to execute command '/usr/bin/ffmpeg' '-y' '-i' 'tmp/how_to_repair_water_damage_mobile_display_fault_solution.mp4' '-async' '1' '-metadata:s:v:0' 'start_time=0' '-vcodec' 'libx264' '-acodec' 'libfaac' '-b:v' '1000k' '-refs' '6' '-coder' '1' '-sc_

[2017-08-14 10:27] jens1o commented on #316
I'll take a look as soon as I've time to investigate..

[2017-08-17 08:22] saeedhbi commented on #360
I do like this but none of meta tags works. Is there any another option? I'm in ubuntu 16.04.

[2017-08-17 09:38] JoeDawson opened #395 "Concatenating causes a/v sync issues and odd rendering"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | 0.9.5
| FFmpeg Version | 3.3.3
| OS             | macOS 10.12.16

#### Actual Behavior

I'm currently trying to concatenate some clips to create a full video. When I concatenate them, the first clip in sequence is fine - as soon as it starts the second clip, the audio is out of whack and wil

[2017-08-18 08:28] jens1o commented on #395
Does the `synchronize` filter help?

[2017-08-18 08:54] JoeDawson commented on #395
Hey @jens1o unfortunately not, I assume I'm using it in the correct way here?

[code]

[2017-08-18 08:59] jens1o commented on #395
Seems to be right... Will have to investigate, but I have a time lack... :/

[2017-08-18 09:01] JoeDawson commented on #395
Thanks @jens1o, here's the output for reference using `synchronize()` https://www.youtube.com/watch?v=IspALiSKD1I

[2017-08-19 10:03] ooxill opened #396 "How do two audio files connect?"

[2017-08-19 11:50] jens1o commented on #396
The files are being connected by ffmpeg itself, we do not handle that. Can you elaborate, please?

[2017-08-20 14:44] rizwanayyaz opened #397 "I am Having problem in saving the converted video"
I am watermarking the video problem comes in save function otherwise the code compile alright.

| Error
RuntimeExceptionEncoding failed
--
in Video.php (line 228)
at Video->save(object(X264), 'C:\\laragon\\www\\blog\\storage\\app\\avatars')in WaterMarkController.php (line 65)
| OS             | Windows 8.1/Laravel 5.4

#### It is not saving the converted video.I am not sure whether it is convertin

[2017-08-20 15:22] jens1o commented on #397
will have a look... I think something serious broke... don't have time...

[2017-08-26 10:21] dernawy commented on #346
@testchik
if on your shared server you don't have a FFmpeg plane, so the script can not work because it will trying to get the (FFmpeg.exe and FFprobe.exe) paths to work then while you don't have access to theses file due to your hosting plane this script will not work, there is a point, that you install the ffmpeg in your home dirctory and to change the paths in the script to this dirctive, NB: o

[2017-08-26 10:32] dernawy commented on #296
@qwill
step 1: open the CMD command line tool then point to the directory where you want to install the ffmpeg (YOUR APP PATH)and copy paste this command -> (composer require php-ffmpeg/php-ffmpeg) -> this step needs COMPOSER to be installed on your windows.

step 2: close the CMD command line tool then go to the directory where you installed the ffmpeg in(step 1)
(YOUR APP PATH) then integrate  f

[2017-08-26 11:31] jens1o commented on #296
closing due to inactivity... thanks for the heads up @dernawy :)

[2017-08-26 11:31] #296 closed

[2017-08-27 00:24] SGhazayi opened #398 "how to detect file is video or audio?"
Hi How Can I Get Type of Media by PHP-ffmpeg?

[2017-08-27 09:26] jens1o commented on #398
Either using ffprobe, or you check the classname.

[2017-08-27 09:28] #398 closed

[2017-08-27 12:42] Sir-hennihau opened #399 "Class 'FFMpeg\FFMpeg' not found"
Hi,
my PHP script always throws this error:

V1 video_dimensions_test.php
 `$ffmpeg = FFMpeg\FFMpeg::create();`

V2 video_dimensions_test.php

[code]
Both result in the same error.

I installed FFMPEG with

Linux "which" is working, too.

I installed PHP-FFMpeg with

Anyone knows what I'm doing wrong?

[2017-08-27 14:59] jens1o commented on #399
You need to include the composer's autoloader.
`require_once './vendor/autoload.php';`

[2017-08-27 14:59] #399 closed

[2017-08-27 17:01] SGhazayi opened #400 "problem to get bit_rate"
hi
i want to convert a .vob video but ffmpeg can't detect bitrate i used this code but its return zero for me:

$details[];
$ffprobe = FFMpeg\FFProbe::create();
$video_properties = $ffprobe->streams('test.vob')->videos()->first();
$details['video']['bit_rate'] = $video_properties->get('bit_rate') / 1000;

[2017-08-28 07:04] jens1o commented on #400
Can you share the file, please?

[2017-08-28 21:10] Iranian-Atheist opened #401 "File Convert Two time !!!"
Hi I Used this Code And I think each video is converted for two times if you refresh destination directory for many times (during converting) you can see file size increases to max. file size changes to 0 suddenlly and again increases to max.
it happens in task manager by cpu percentage too.
when i tested it with cmd and write command line i have not this problem !!!
sorry for bad english :))

[co

[2017-08-28 21:14] SGhazayi commented on #400
how can i upload video here? is it posible? i'm Beginner :))

[2017-08-29 06:45] jens1o commented on #400
Upload it to Dropbox, Google, or, when it's a quite small file, you can select it when you click here:
![image](https://user-images.githubusercontent.com/11234139/29807930-5c6f777e-8c96-11e7-8a77-d2e06d93c0e2.png)

[2017-08-29 06:48] jens1o commented on #401
video editing in general is quite expensive

can you share the command you use for that case?

That's how moving a file works. :/

[2017-08-29 19:14] SGhazayi commented on #401
you can test this code with each video you want:

<?php
	$ffmpeg = FFMpeg\FFMpeg::create(array(
        'ffmpeg.binaries'  => 'C:\ffmpeg\bin\ffmpeg.exe',
        'ffprobe.binaries' => 'C:\ffmpeg\bin\ffprobe.exe',
        'timeout'          => 3600,
        'ffmpeg.threads'   => 12,
    ), @$logger);
    $video = $ffmpeg->open('input.mp4');
    $video
        ->filters()
        ->resize(new FFMpeg

[2017-08-29 22:24] SGhazayi commented on #400
Thanks Bro ;)
https://drive.google.com/file/d/0BwACtx6W46MLRmppWGxhZ1BZczQ/view?usp=sharing

[2017-08-29 22:25] SGhazayi commented on #400
Thanks Bro ;)
https://drive.google.com/file/d/0BwACtx6W46MLRmppWGxhZ1BZczQ/view?usp=sharing

[2017-08-30 03:07] szliugx commented on #396
I did that:
Put a minimum (1 second) video file
And then will be connected to the audio file to pass in

[code]

[2017-08-30 05:14] szliugx opened #402 "I have an audio file ,But the open method in FFMpeg \ FFMpeg will be considered a video file"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | "php-ffmpeg/php-ffmpeg": "^0.9.5",
| FFmpeg Version |ffmpeg version N-86950-g1bef008 Copyright (c) 2000-2017 the FFmpeg developers
| OS             | win7 64 and centos5.7

#### Actual Behavior

I have an audio file
But the open method in FFMpeg \ FFMpeg will be considered a video file
I prin

[2017-08-30 08:05] jens1o commented on #396
Ah... Okay, that sounds reasonable...

[2017-08-30 08:05] #396 closed

[2017-08-30 08:06] jens1o commented on #400
will look into this later this day. :)

Thanks for the file

[2017-08-30 08:13] jens1o commented on #402
The video you have looks to be the audio cover. Does the audio file has one?

[2017-08-30 11:39] SGhazayi commented on #400
Your wellcome.

[2017-08-30 11:50] szliugx commented on #402
This is the test audio address I encountered this problem:
[code]

[2017-08-30 12:19] martin-1988 commented on #325
I think the -crf option is ignored because ot if the "b:v 1000k" option? This could result in the different filesizes.

Is there a way

[2017-08-30 12:22] lgugliotta commented on #397
You need to especific a filename
**$output='C:\laragon\www\blog\storage\app\public\video1234.mp4';**
$video->save($format,$output);

[2017-08-30 13:10] szliugx commented on #402
This may be my media file MetaData things too much
I cleared the MetaData by this method and passed it
[code]
Because I put this document in the win7 window related operations will throw exception, the following is my window in the operation of the picture:
![Exception picture](https://github.com/szliugx/test/blob/master/audio_file.png)

[2017-08-30 13:45] #397 closed

[2017-08-30 20:35] Mahdi-Mohammadi opened #403 "Get execute command(final)"
Hi
I want to get final command to execute on other server
how I can after set all parameter get the command?
thanks

[2017-08-31 09:23] jens1o commented on #403
It's not possible, but it would be quite useful for debugging purposes... will have a look as soon as possible...

[2017-08-31 09:26] jens1o commented on #402
Can you give me the file after removing the metadata? I'm sure it will not remove the cover itself...

[2017-08-31 09:26] jens1o commented on #401
Sorry, but personally I don't see the problem happen live.

[2017-08-31 09:33] jens1o commented on #400
It works for me, the bitrate is `3895951 / 1000` = `3895.951`

When it doesn't work for you, it is more likely a ffmpeg but... Are you sure you're on the latest version?

[2017-08-31 09:33] #400 closed

[2017-08-31 12:19] Mahdi-Mohammadi commented on #403
thanks a lot

[2017-09-01 11:50] error-aux commented on #291
please guide me
is code me
`
    <?php
    if (!defined("BASEPATH"))
        {
        exit("No direct script access allowed");
        }
    ini_set("max_execution_time", 0);
    ini_set("memory_limit", "64M");
    class videoapi
        {
        private $CI;
        private $error;
        private $video_id;
        private $path_video = "uploads/videos/";
        private $config;
        priva

[2017-09-01 12:56] error-aux opened #405 "please guide me"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | "php-ffmpeg/php-ffmpeg": "^0.9.5",
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Centos 6.9 x86_x64

please guide me
is code me CodeIgniter
I just want to video watermark

?php
    if (!defined("BASEPATH"))
        {
        exit("No direct script access allowed");

[2017-09-01 13:56] jens1o commented on #405
Sorry, but personally, I do not want to support users who just want to copy and paste their code.

[2017-09-01 13:56] #405 closed

[2017-09-01 13:57] jens1o commented on #291
*removed because of a exact same issue*

[2017-09-01 14:11] error-aux commented on #405
I beg you to help me

[2017-09-01 21:42] Isabaella commented on #405
send nudes, then we are up for debating about spoonfeeding you

[2017-09-04 11:44] JapSeyz commented on #173
Thank you for the hard work @jens1o, hopefully, your exams went well!

This would definitely be a wonderful feature to have in the library, especially when pairing it with MP4box for MPEG-DASH

[2017-09-04 14:04] jens1o commented on #173
To be honest, I totally forgot that issue here, but the exams went quite well. Apologize.. :/

I should have pushed my changes, then at least I'd have something to work with...

[2017-09-04 14:33] JapSeyz commented on #173
Hey man no worries, I am glad the exams went well, and you don't have to apologise at all, it's open source, anyone can contribute, it doesn't have to be you, I had just hoped you had something that was already in the making.

[2017-09-08 04:45] nicecp opened #406 "How to make gif with multi frames/times offerd"
I have used

 to make a gif successfully, but the tird param\`s type is integer.
How to make a gif with multi frames or times I offerd, such as `2.2,2.4,2.6,2.8,3.0,3,5`?

[2017-09-08 20:43] dernawy commented on #237
add
 echo json_encode($output , true);
$output->writeln("$percentage % transcoded");
after the line

[2017-09-11 06:43] maheshvora opened #408 "Want reducing video size but it will increase size and decrease video result."
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | 0.9.5
| FFmpeg Version | 0.7.0
| OS             | linux Cent Os 6

#### Actual Behavior

I am converting mp4 video into mp4 to reducing the size of the video i want this video in teo diffent size for mobile view and desktop view but after converting it will increase size to double and quality

[2017-09-11 11:09] adriangoris commented on #403
That would be a very useful feature - verbose or dry run. Currently my method is to set an additional parameter that I know will cause an error, and see the output in console. For example:
$format->setAdditionalParameters(array('stupidflag', 'iknowthiswontwork'));

[2017-09-11 11:13] Mahdi-Mohammadi commented on #403
@adriangoris
please share more about your solution?

[2017-09-11 11:46] adriangoris commented on #367
I am also trying to figure out what is the best way to create custom ffmpeg commands. It would be nice to get some documentation on creating custom commands in the mean time. I am interested in running some hls commands such as:

ffmpeg -y -i video.mp4 -g 60 -hls_time 10 -hls_list_size 0 video.m3u8

[2017-09-11 12:59] aminyazdanpanah opened #409 "Unable to load FFProbe and Executable not found, proposed : avprobe, ffprobe"
Hi there,
I'm trying to run PHP-FFMpeg on a server and I get the following error:

`2/2`
`ExecutableNotFoundException in FFProbeDriver.php line 50:`
`Unable to load FFProbe`
`1/2`
`ExecutableNotFoundException in AbstractBinary.php line 160:`
`Executable not found, proposed : avprobe, ffprobe`

The result of these:

`var_dump(getenv('PATH'));`
`var_dump(exec('which ffmpeg'));`
`var_dump(ini_get('op

[2017-09-11 15:28] aminyazdanpanah commented on #367
I solved the problem by using `SimpleFilter` class like this:
`...`
`$video = $ffmpeg->open(public_path('video.mp4'))`
    `->addFilter(new SimpleFilter(['-g','60','-hls_time', '10' , '-hls_list_size', '0' , ...]));`
`...`

or you can use `setAdditionalParameters` when you set format of video

`...`
`$format = new X264();`
`$format->setAdditionalParameters(['-g','60','-hls_time', '10' , '-hls_list

[2017-09-11 16:28] jens1o commented on #367
Closing because there is a valid solution... (and personally, I want to keep an overview of the issues)

[2017-09-11 16:28] #367 closed

[2017-09-11 16:30] jens1o commented on #409
Duplicate of https://github.com/PHP-FFMpeg/PHP-FFMpeg/issues/172

So far I didn't found an solution. 😭

[2017-09-11 16:30] #409 closed

[2017-09-11 16:31] jens1o commented on #273
Closing due to inactivity.

[2017-09-11 16:31] #273 closed

[2017-09-11 16:32] jens1o commented on #408
That's valid, because we didn't come to a point where we use the video defaults, but specific rates... I don't know the exact issue number in the moment, but there is one... :c

[2017-09-11 16:32] #408 closed

[2017-09-11 16:33] jens1o commented on #237
Closing due to inactivity.

[2017-09-11 16:33] #237 closed

[2017-09-11 16:34] jens1o commented on #406
This isn't possible at the moment, unfortunately... this would result in many breaking changes while reviewing the code behind it. :(

[2017-09-12 11:14] adriangoris commented on #367
I was able to add my own "hls" method to FFmpeg/Media/Video.php which instantiated a new Hls Class which I defined in FFmpeg/Media/Hls.php . It followed the methodology of the "frame" method in Video.php .

I didn't want to hack away at the thing but i didn't see another elegant option.

[2017-09-12 14:51] jens1o commented on #367
@adriangoris Maybe you want to do a pull request?

[2017-09-13 14:12] Marchrius commented on #322
IMHO the best choose is to change flaac with aac. In this way you use a counter-part very close to flaac.

[2017-09-19 08:36] letungit90 opened #410 "Can i create a slideshow video from images ?"
Can i create a slideshow video from images by PHP-FFMpeg?

like below command:
[code]

[2017-09-19 15:06] jens1o commented on #410
Not yet, it would be possible using SimpleFilters, but its not natively possible.

[2017-09-19 15:06] #410 closed

[2017-09-19 16:26] JoeDawson commented on #395
Hi @jens1o,

Hope you're well. I know you said you were tight on time, just wondered if you had a chance to take a look at this issue?

Would an example application help?

Thanks

[2017-09-19 16:32] jens1o commented on #395
Hi there,

Yeah, that might be a good idea. At the moment, I'd got some time and I'm digging through the issues here.

[2017-09-19 16:34] jens1o commented on #393
Okay, that's a bit of a problem here. It might be a good idea to refactor the code and make some other ways possible( #403 and so on) and implement it right here.

[2017-09-19 16:38] jens1o commented on #357
closed due to inactivity.

[2017-09-19 16:38] #357 closed

[2017-09-19 17:08] jens1o opened #412 "Move from phpunit 4.8 to 6.3"
| Q              | A
| -------------- | ---
| Bug?           | Perhaps
| New Feature?   | Yes

#### Actual Behavior

We still use phpunit 4.8, which is deprecated... 😭

#### Expected Behavior

Use something that is ready for php 7.2

[2017-09-19 17:09] jens1o commented on #412
Oh.. 6.3 is just for PHP 7.x :(

maybe PHPUnit 5.7, which would mean that we drop support for anything less than php 5.6.

[2017-09-19 17:30] jens1o commented on #394
🎉

[2017-09-19 18:15] jens1o commented on #387
closed due to inactivity.

[2017-09-19 18:15] #387 closed

[2017-09-19 18:16] jens1o commented on #346
closed due to inactivity.

[2017-09-19 18:16] #346 closed

[2017-09-19 18:30] #394 closed

[2017-09-20 04:36] #269 closed

[2017-09-22 07:45] php2020 commented on #322
$format = new FFMpeg\Format\Video\X264('libmp3lame', 'libx264');
$format->on('progress', function ($video, $format, $percentage) {
    echo "$percentage % transcoded";
});

$video->save($format, 'video.avi');

[2017-09-22 07:46] php2020 commented on #322
`$format = new FFMpeg\Format\Video\X264('libmp3lame', 'libx264');
$format->on('progress', function ($video, $format, $percentage) {
    echo "$percentage % transcoded";
});

$video->save($format, 'video.avi');`

[2017-09-22 18:27] eberkund commented on #354
This should be closed, it has nothing to do with FFMpeg and more to do with Laravel. You should ask this question on Stackoverflow.

[2017-09-22 20:31] jens1o commented on #354
Good point. I forgot that issue here.

[2017-09-22 20:31] #354 closed

[2017-09-24 05:41] lolmore opened #414 "please give one example"
x _x can u give me one example about this code ?
[code]
how i can use the code ?
how if i build the code above on main page ?
example .
www.mywebsite.com/index.php < on index php is only the code  in above
and when i try to www.mywebsite.com/index.php , i got some error x _X

could you give the best example for this case ?

[2017-09-24 05:59] jens1o commented on #414
Well, it would be quite helpful to see what the error is. Do you have FFMPEG installed?

[2017-09-27 22:25] JOOSTR opened #415 "Get FPS/Framerate"
Hey, is there any way I get the FPS/Framerate of the video?

Thanks.

[2017-09-28 04:28] jens1o commented on #415
https://github.com/PHP-FFMpeg/PHP-FFMpeg#ffprobe

Yes, and when you var dump an instance, you can see what it has been called or you're doing a dictionary attack and check how the property is called.

[2017-09-28 04:28] #415 closed

[2017-09-28 16:14] tammyhuang opened #416 "I tried your use your code in my project. I installed it using composer successfully. However When I use it, the class "FFMpeg" was not found. Do you have an autoload file to load all required php files and classes?"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

#### Actual Behavior

How does PHP-FFMpeg behave at the moment?

#### Expected Behavior

What is the behavior you expect?

#### Steps to Reproduce

What are the steps to reproduc

[2017-09-28 16:17] tammyruihuang commented on #416
I am reeeealy sorry that I left my descriptions in the title. I tried to change it, however I didn't find edit function to my issue.

[2017-09-28 17:29] jens1o commented on #416
May you show your code please?

[2017-09-29 23:07] huglester commented on #394
Thank you :)  works
but it would be better if you tag a new version sometime not too late
beeing on dev-master I don't feel good:)

[2017-10-01 18:30] jens1o commented on #394
Yeah, that's actually true, but I will check whether I can implement other feature requests until I tag a new version. :)

[2017-10-02 12:39] tammyruihuang commented on #416
Sorry I didn't get back to you earlier. I was busy this weekend. Here's my code:

`<?php

# Includes the autoloader for libraries installed with composer
# This was added by Google Cloud API.
require __DIR__ . '/vendor/autoload.php';

use ffmpeg\src\FFMpeg\FFMpeg

# The name of the audio file to transcribe
$fileName = __DIR__ . '/audiofiles/trimmedClip.wav';

$ffmpeg = FFMpeg\FFMpeg::create();
$au

[2017-10-02 12:50] jens1o commented on #416
Please read the README file and please do not insert code as a screenshot.

HINT: The namespace is wrong.

[2017-10-02 12:50] #416 closed

[2017-10-02 14:09] tammyruihuang commented on #414
@lolmore  Sorry to ask you, but how did you post your code in this post? I clicked on <> to insert code, but it didn't recognize my code as a code section. Thanks for your help!

[2017-10-02 15:21] jens1o commented on #414
@tammyruihuang See here: https://guides.github.com/features/mastering-markdown/#examples

[2017-10-02 17:30] tammyruihuang opened #417 "Class FFMpeg could not be found"
I tried to use your code in my case. Here's the error message I received after I run the code shown below: Fatal error: Uncaught Error: Class 'ffmpeg\src\FFMpeg\FFMpeg\FFMpeg' not found in ...

[code]

[2017-10-02 17:34] jens1o commented on #417
Please do not create multiple issues for one topic. Duplicate of https://github.com/PHP-FFMpeg/PHP-FFMpeg/issues/416

[2017-10-02 17:34] #417 closed

[2017-10-02 17:35] tammyruihuang commented on #417
I am sorry but the issue was not solved. There’s no way I can use the code right now.

[2017-10-03 08:10] nhoctanker commented on #310
When using  $format->setAudioCodec('libfdk_aac');  cause this issue too
 ffmpeg -version
ffmpeg version N-87353-g183fd30 Copyright (c) 2000-2017 the FFmpeg developers
built with gcc 7.2.0 (GCC)
configuration: --disable-static --enable-shared --enable-gpl --enable-version3 --enable-cuda --enable-cuvid --enable-d3d11va --enable-dxva2 --enable-libmfx --enable-nvenc --enable-avisynth --enable-bzlib --

[2017-10-03 08:55] jens1o commented on #310
@nhoctanker This seems to be a ffmpeg issue :/

[2017-10-03 08:58] nhoctanker commented on #310
@jens1o  Change  to $format->setAudioCodec("libmp3lame"); that is fast solution.

[2017-10-03 16:00] tammyruihuang commented on #416
I am pretty new to PHP. Sorry for some of my stupid questions/issues. I started a new project today, and I run composer again. I wrote an index.php as follows. I copied my sample wav file to the same directory as index.php. After all these, I run the index.php in my terminal: php index.php, and I did get the converted FLAC file successfully.

[code]

However, when I run index.php in Chome at the a

[2017-10-03 19:23] jens1o commented on #416
Okay, that's something to work with. :)

Do you have ffmpeg installed?

[2017-10-04 14:32] tammyruihuang commented on #416
Yes, I run "$ composer require php-ffmpeg/php-ffmpeg" succefully. Is there another way to install ffmpeg?

In my project, I do need to call a php file from Unity3D game in order to convert a wav file into FLAC. I have solved to issue of calling a php file from a Unity3D game. The only issue I have is - to make a php WWW call to do the audio format converting. This is why your lib is crucial to me.

[2017-10-04 15:01] jens1o commented on #416
I don't mean php-ffmpeg, but ffmpeg itself. You can download the binary files at https://ffmpeg.org/ This libary is a wrapper for it.

[2017-10-04 15:52] tammyruihuang commented on #416
I just run `brew install ffmpeg` in Terminal, and I received the following message:

Error: ffmpeg 3.2.3 is already installed
To upgrade to 3.3.4, run `brew upgrade ffmpeg`
converterFLAC >

I then upgraded my ffmpeg to the newest version. After successfully upgraded ffmpeg, I run my index.php in browser again. The following error message showed (seems like the same as before):

[2017-10-04 16:04] jens1o commented on #416
Okay, s seems to be another duplicate of #172

[2017-10-04 18:15] schmanat commented on #416
If you don't know where the binaries are located type the following in your terminal:

    which ffmpeg
    which ffprobe

this should show your the full path of your binaries.

[2017-10-05 16:19] tammyruihuang commented on #172
I used the solution suggested by @gabrielkaputa, and it worked for me. The only change I made was to find out `which ffmpeg` and `which ffprobe` in Terminal first, and replaced the path in that array with my path.

The only question I have right now is that, in the scenario that I deploy this php file onto my web server, I should install ffmpeg on my server and set the path to where it is stored o

[2017-10-05 16:34] tammyruihuang commented on #416
Thank you both @schmanat and @jens1o, my problem is solved. I have posted my solution based on minor modifications to one of the suggestions others posted. It'll be a reference for later users.

[2017-10-05 17:02] jens1o commented on #172
Yes, that's the right way to do that.

[2017-10-07 21:11] dancor89 opened #418 "Can PHP-FFMPEG encode with Rate Control Modes other than Constant bitrate?"
#### Actual Behavior

I've recently started using PHP-FFMpeg for a project. I didn't know much about video encoding but I found this online resource which walks you through the most common "Rate Control Modes": http://slhck.info/video/2017/03/01/rate-control.html. This resource states that Variable Bitrate Encodings are the most useful and used modes, but, as far as I could tell, PHP-FFMpeg seems

[2017-10-08 06:42] jens1o commented on #418
Unfortunately no, it cannot at the moment. It looks like it would introduce major breaking changes. But yeah, it's interesting.

[2017-10-12 18:12] romanbiz opened #420 "Api link broken"
Api link broken https://ffmpeg-php.readthedocs.io/en/latest/_static/API/

[2017-10-12 19:23] jens1o commented on #420
Okay, it looks like they've been changed the file structure. Will remove the link, since I have no possibilities to fix that. :/

[2017-10-12 21:08] ceefour commented on #230
See also #367.

[2017-10-12 21:57] eberkund opened #422 "Loop GIF multiple times"
I am generated an MP4 file from an animated GIF which works well but I want to make the MP4 file have a few loops of the GIF. Is this possible?

Something like this: https://video.stackexchange.com/a/16933

[2017-10-13 02:06] NguyenXuanDung opened #423 "Cutting video successfully on window, but failed on ubuntu"
| Q              | A
| -------------- | ---
| Bug?           | Yes
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | 3.3.3
| OS             | Ubutu 16.10

#### Actual Behavior

PHP-FFMpeg cannot cut video on ubuntu.

#### Expected Behavior

PHP-FFMpeg can cut video on ubuntu. I got this log from laravel:
 ffmpeg failed to execute command '/usr/bin/ffmpeg' '-y'

[2017-10-13 11:35] jens1o commented on #423
Are there some more pieces of information from the error?

[2017-10-13 11:36] jens1o commented on #422
This isn't implemented yet. You may end up using SimpleFilter to achieve this functionality.

[2017-10-13 11:37] jens1o commented on #230
closing as duplicate.

[2017-10-13 11:37] #230 closed

[2017-10-13 14:07] eberkund commented on #422
Sorry, what is SimpleFilter?

[2017-10-13 14:15] jens1o commented on #422
In a nutshell: https://github.com/PHP-FFMpeg/PHP-FFMpeg/blob/d386cc0ceae5d74506acd909d2e188bd9f80fdb9/src/FFMpeg/Media/Video.php#L70

You can do simple parameters with it.

[2017-10-13 14:28] eberkund commented on #422
Ah okay, thanks.

[2017-10-13 20:14] eberkund commented on #422
When I do

    ffmpeg -stream_loop 3 -i input.gif output.mp4

I get exactly what I want but if I do,

        $video = $ffmpeg->open($path);
        $video->addFilter(new SimpleFilter(['stream_loop', '2']));
        $video->save($format, $videoPath);

I get "encoding failed". If I remove the call to `addFilter()` it works but then I don't get the loop I need.

[2017-10-14 05:51] jens1o commented on #422
The filters are getting appended in the middle, so between `input.gif` and `output.mp4`, does it work for you also when you do the filter between it? I don't think so.

[2017-10-14 09:47] zongdesign opened #424 "Run script by PHP-ffmpeg"
Hello
I have some script, which create video.
exec('
ffmpeg -y -i white.mp4 -i love.png -i facebook.jpg -filter_complex "
[1:v]format=rgba, scale=380:-1[v1];
[2:v]format=rgba, scale=50:-1[v2];
[0][v1]overlay=(main_w-overlay_w)/2:(main_h-overlay_h)/2:shortest=1[ov1];
[ov1][v2]overlay=(main_w-overlay_w)/2-40:(main_h-overlay_h)/2+15:shortest=1" -c:v libx264 love.mp4
');
How I can run this script by y

[2017-10-14 21:30] eberkund commented on #422
Oh, I see what you mean. I was looking through the code and I see there is an option to set a priority on the filter but that won't but it before the input I don't think. Is there away to specify that the filter goes before the input?

[2017-10-15 05:30] jens1o commented on #422
Ehm, at least they're not exposed to the user.

[2017-10-15 12:48] jens1o commented on #424
I'm sorry, but we won't write code for you. If you have a *specific* question, do not hesitate to ask, but we won't write code for you. (SimpleFilter is the key)

[2017-10-15 12:48] #424 closed

[2017-10-15 21:01] eberkund commented on #422
Okay, so I guess this falls under 2 potential new features

- New filter for "stream_loop"
- Ability to add filters before the input flag

I would be open to creating a pull request for these things, for now I think I am just going to revert back to a shell script for my project. Anyone reading this please feel free to post your input on what the API should look like for these features and ideas f

[2017-10-16 14:47] jens1o commented on #422
Perfect, I'm lacking of time at the moment, again. Class tests :( Thanks in advance!

[2017-10-16 15:02] #420 closed

[2017-10-16 15:46] jens1o opened #427 "Speed up travis builds"
| Q              | A
| -------------- | ---
| Bug?           | Maybe
| New Feature?   | no

We should use travis cache. It takes an really, *annoying* time to wait, because travis installs all dependenices is really annoying.

[2017-10-16 16:04] #427 closed

[2017-10-19 20:02] huglester commented on #412
I think most of people are already on 7.0, 5.6, 7.1
so upping the requirements should not be the problem.

[2017-10-20 04:42] jens1o commented on #412
Okay, nice to hear that. But #419 confused me a bit. Thanks for the response!

[2017-10-20 08:24] muyunchun120 opened #429 "如何将'3gp','avi','wmv','rm','rmvb','flv','mkv'格式文件都转换为MP4格式，谢谢"
exec可以，用对象不可以

                $cmd = 'ffmpeg  -i  '.$info->getPathname().' -c:v libx264 -strict -2 test.mp4';
                exec($cmd, $status);
                /*$format = new FFMpeg\Format\Video\X264();
                $video->save($format, 'video.mp4');*/

[2017-10-20 11:49] jens1o commented on #429
Please look into the readme file or write your injury in English.

[2017-10-20 11:49] #429 closed

[2017-10-21 00:13] kminek opened #430 "large size after transcoding"
hi there,

i get weird results while trancoding. basically i would like to create mobile-friendly 360p version of following source video:

[code]

i'm using this code:

[code]

and here are the details of the conversion:

[code]

any ideas why the resulting file is larger than source?

[2017-10-21 04:40] jens1o commented on #430
I think https://github.com/PHP-FFMpeg/PHP-FFMpeg/blob/master/src/FFMpeg/Media/Video.php#L87-L110 is the problem. To clarify, can you transcode it in the command line and tell use the size?

[2017-10-21 10:51] kminek commented on #430
@jens1o you mean transcode in CLI using the same params as generated by PHP_FFMpeg?

[2017-10-22 13:31] jens1o commented on #430
@kminek Well, yeah. You could also try to leave out all parameters PHP-FFMPEG appends.

[2017-10-24 16:01] CharguiTaieb opened #431 "Extract audio part from video"
| Q              | A
| -------------- | ---
| Bug?           | maybe
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Windows 7 64bit

#### Actual Behavior

Good

#### Expected Behavior

Perfect

#### Steps to Reproduce

$ffmpeg = FFMpeg\FFMpeg::create();
$video = $ffmpeg->open($sourcefileName);
$video->filters()

[2017-10-24 19:33] jens1o commented on #431
As far as I know, the current implementation using strict types forces you (because of a reason I don't know) to encode it multiple times. Let's make that better in 1.x (we plan to do that and deprecate the 0.x tree #412 )

[2017-10-24 19:40] #414 closed

[2017-10-24 19:41] jens1o commented on #414
Closed due to inactivity.

[2017-10-24 19:41] jens1o commented on #358
Cannot reproduce, can you give us the file itself so I can reproduce, too?

[2017-10-24 19:42] jens1o commented on #321
closed due to inactivity.

[2017-10-24 19:42] #321 closed

[2017-10-25 00:22] CharguiTaieb commented on #431
So i though that i do something wrong, but is there any work around for this matter ??

[2017-10-25 05:24] jens1o commented on #431
First of all, encode it as an audio whithout any filters. Then reencode the finished audio with your cutting filters.

[2017-10-25 10:20] CharguiTaieb commented on #431
Ok thanks for helping

[2017-10-25 11:06] MathRat opened #433 "Combine multiple videos with different sizes"
Hi,

i'm trying to combine multiple videos with different sizes.

all videos are resized and saved with same video and audio format:

`    $ffmpeg = FFMpeg::create([
            'ffmpeg.binaries'  => '/usr/bin/ffmpeg',
            'ffprobe.binaries' => '/usr/bin/ffprobe'
        ]);
        foreach ($tmpVideos as $v) {
            $video = $ffmpeg->open(TMP . $v);
            $video->filters()->re

[2017-10-25 12:20] jens1o commented on #433
Can you try to crop the video? https://github.com/PHP-FFMpeg/PHP-FFMpeg#crop

When it doesn't work, could you send me the files?

Regards from Germany to Germany :)

[2017-10-26 05:41] MathRat commented on #433
cropping is not a solution for me. i try to transform all videos to 16:9 1280,720 and combine to save it as a clip-on-clip-video. the pure video files you can find on mrnetworks.de/projekte/video.tar.gz i just downloaded some clips from youtube to test.

thank you for your support.

[2017-10-26 07:58] Defunktt1 commented on #358
It was a problem with ffmpeg. When I updated the package, everything began to work fine.

[2017-10-26 07:58] #358 closed

[2017-10-26 14:34] jens1o commented on #433
Okay, but I think this bug seems to be an bug with ffmpeg itself. Could you build the command to do that by yourself and test out whether it works then? (I want to check whether it is really a bug with this wrapper or not)

(I'm really lacking of time atm 😢 )

[2017-10-27 07:06] nhoctanker opened #434 "How to handle error when try merge video error"
Please share me solution to handel error when try merge / save video.
I have a database to merge video . But when i merge video some time cause isseu and error showing and  we can't update status video on database

[2017-10-27 11:49] jens1o commented on #434
Using a Try-Catch Block should help. Please use the search engine of your choice before asking us.

[2017-10-27 11:49] #434 closed

[2017-10-28 07:37] Samip91 opened #435 "Video encoding for wmv files for youtube"
I need to change mp3 file to wmv file and then upload converted wmv to youtube. The converted wmv file does not stream on youtube. How video should be encoded while converting to wmv  so that converted file can be streamed on youtube.

[2017-10-28 10:37] jens1o commented on #435
Do you have a code? We do not write code for you nor this should be a forum.

If you have a code, we're glad to help you.

[2017-10-28 10:37] #435 closed

[2017-10-28 11:11] Samip91 commented on #435
`		$ffmpeg = FFMpeg\FFMpeg::create(array(
            'ffmpeg.binaries'  => 'ffmpeg/bin/ffmpeg',
            'ffprobe.binaries' => 'ffmpeg/bin/ffprobe',
            'timeout'          => 360000, // The timeout for the underlying process
            'ffmpeg.threads'   => 12,   // The number of threads that FFMpeg should use
        ), $logger);
        $img_url=__DIR__ . '/image.png';
        $vide

[2017-10-28 23:46] luciddesignconcepts commented on #157
@mateusjatenee, What was the solution? I'm running it to the same issues.

[2017-10-29 07:02] Samip91 opened #436 "Video encoding for wmv files for youtube"
I need to change mp3 file to wmv file and then upload converted wmv to youtube. The converted wmv file does not stream on youtube. How video should be encoded while converting to wmv so that converted file can be streamed on youtube. The code below doesnot work.
	$ffmpeg = FFMpeg\FFMpeg::create(array(
        'ffmpeg.binaries'  => 'ffmpeg/bin/ffmpeg',
        'ffprobe.binaries' => 'ffmpeg/bin/ffpr

[2017-10-29 12:09] jens1o commented on #436
I think you'd need to explore yourself. I do not use YouTube actively at all, so I can't help.

[2017-10-31 11:15] jens1o commented on #436
Hi,

I just noticed that you are trying to encode wmv with the `h264` codec, which won't work.

As stated in https://github.com/PHP-FFMpeg/PHP-FFMpeg-Extras , it is still on our todo list. When you want to provide a pr, please go ahead, I'm willing to merge it, but personally, wmv is dying and thus I'm giving it a quite low priority.

[2017-10-31 17:25] Samip91 commented on #436
On Oct 31, 2017 5:00 PM, "Jens Hausdorf" <notifications@github.com> wrote:

Hi,

I just noticed that you are trying to encode wmv with the h264 codec, which
won't work.

As stated in https://github.com/PHP-FFMpeg/PHP-FFMpeg-Extras , it is still
on our todo list. When you want to provide a pr, please go ahead, I'm
willing to merge it, but personally, wmv is dying and thus I'm giving it a
quite low

[2017-10-31 20:38] jens1o commented on #436
Hmm... That's weird. You should be able to set the metadata. Unfortunately, I'm on vacation and can't test it out.

[2017-11-01 08:53] asyncpjax commented on #361
My same problem has been resolved .
[http://www.iamle.com/archives/1609.html](url)

**php-fpm.conf :**

`env[TMP] = /tmp/
env[TMPDIR] = /tmp/
env[TEMP] = /tmp/
php_admin_value[sendmail_path] = /usr/sbin/sendmail -t -i -f webmaster@qq.com
php_admin_value[open_basedir] = /home/wwwroot/:/tmp/:/var/tmp:/proc/
php_admin_value[session.save_path] = /tmp/
php_admin_value[upload_tmp_dir] = /tmp/
slowlog =

[2017-11-04 22:58] jens1o commented on #361
closed due to inactivity.

[2017-11-04 22:58] #361 closed

[2017-11-05 17:14] jens1o opened #440 "Unify codestyle and add docs about it"
The codebase has many, many different kinds of codestyle, which we need to unify.

[2017-11-05 18:06] #403 closed

[2017-11-07 10:27] susucool527237808 opened #442 "use it must have ffmpeg and ffprobe? i am windows user."
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

#### Actual Behavior

How does PHP-FFMpeg behave at the moment?

#### Expected Behavior

What is the behavior you expect?

#### Steps to Reproduce

What are the steps to reproduc

[2017-11-07 10:27] #442 closed

[2017-11-07 17:38] jens1o commented on #442
Yes, it needs it. it's just a wraper.

[2017-11-07 19:27] huglester commented on #440
probably best would be to apply fixes with one PR... psr2 or something.
like symfony/laravel has.

maybe even use some free automation tools, which would check each PR for code styles

[2017-11-07 19:36] huglester commented on #412
just make sure you tag last version of 5.3 or so... then just jump to 7.0 for example - with version 1.0

symfony newest LTS version is moving to 7.1, laravel is on 7.0+
5.6 is almost eol already..

You never will make everyone happy :)
but moving to newer version will force you to use newer, more feature rich dependencies and it will make this project easier to be required in probably newer proje

[2017-11-08 13:25] jens1o commented on #440
Hmm... Personally, I hate PSR-2(and its usage of the braces in newlines) and I created my own. But I was too lazy to write it down to something like Codesniffer.

[2017-11-08 13:26] jens1o commented on #412
PHP 7.0 will be EOL before to PHP 5.6. Okay, let's jump to PHP 7.1 directly(I'm sooo happy to do this)

[2017-11-08 13:56] jens1o opened #444 "Add `Color` class helper"
https://github.com/PHP-FFMpeg/PHP-FFMpeg/pull/437 and (potential) other features will profit from them, while it is not that worse to have it for future compatibility.

[2017-11-09 20:02] dovidgef commented on #129
Hi I am having a similar issue with frame aspect ratio.
The following code:
$frame = $this->media
                        ->frame(FFMpeg\Coordinate\TimeCode::fromSeconds($start))
                        ->filters()>fixDisplayRatio();
$frame->save('test.jpg');

Throws the following error:
Fatal error: Uncaught Error: Call to undefined method FFMpeg\Filters\Frame\FrameFilters::save()

What am I doin

[2017-11-09 20:07] jens1o commented on #129
@dovidgef Just do it like this:
[code]
This way, you do not reference the filters itself.

[2017-11-09 20:08] #129 closed

[2017-11-09 20:13] jens1o opened #446 "add more badges"
to the readme

[2017-11-09 20:40] dovidgef commented on #129
It's working now.
Thanks for the quick reply.

On Nov 9, 2017 10:08 PM, "Jens Hausdorf" <notifications@github.com> wrote:

[2017-11-10 04:29] HeroSony opened #447 "Cannot Clip Video File on Ubuntu 16.04 (ratecontrol_init: can't open stats file)"
Hello, I got a error output.
I've tried to run this command manually:

**(First attempt) : Fail(ratecontrol_init: can't open stats file)**
`'/usr/bin/ffmpeg' '-y' '-i' 'path/to/video/test.mp4' '-ss' '00:00:01.00' '-t' '00:00:06.00' '-threads' '12' '-vcodec' 'libx264' '-acodec' 'aac' '-b:v' '500k' '-refs' '6' '-coder' '1' '-sc_threshold' '40' '-flags' '+loop' '-me_range' '16' '-subq' '7' '-i_qfacto

[2017-11-10 07:00] HeroSony commented on #447
Hello, again.
Now it's working after I have modified FFMpeg/Media/Video.php

Adding two options( '-strict' and '-2' )
[code]
I still do not know it will be affected to the others part or not, but this changed made this problem passed.

[2017-11-10 07:00] #447 closed

[2017-11-10 12:39] jens1o commented on #447
You should use extra parameters instead to do this :)

[2017-11-10 22:50] Miky94 commented on #401
Hi SGhazayi, did you understand why this happens e how to solve this problem? Thanks

[2017-11-11 00:35] SGhazayi commented on #401
Hi Miky94, Sorry i left this package and used exec() function.do you have this problem too?

[2017-11-11 00:41] Miky94 commented on #401
yes , but I noticed that with small video files it doesn't happen

@jens1o
I didn't understand this , is it normal during the converting process?

[2017-11-11 01:01] Iranian-Atheist commented on #401
i think that happens too fast. at all this is very important bug each user's videos convert for two times!!! The server can be disabled

[2017-11-11 06:57] jens1o commented on #401
@Miky94 Yes, it is. That's when ffmpeg is finished, closing the internal cursor(drop to 0) and then it's done.

[2017-11-11 18:49] dovidgef opened #448 "Crop not working while using custom yadif filter"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | ^0.10.0
| FFmpeg Version | FFmpeg version 3.4
| OS             | Windows 7

#### Actual Behavior
$format = new FFMpeg\Format\Video\X264();
$video->filters()->crop(new FFMpeg\Coordinate\Point("200", 200), new FFMpeg\Coordinate\Dimension(100, 100));
$video->filters()->custom('yadif');

[2017-11-11 19:02] jens1o commented on #448
can you try moving the filter lines? So first your cutom filter and then the crop one? Could you share your file?

[2017-11-11 19:21] dovidgef commented on #448
I tried that,
here is the file I am using:
<?php
set_time_limit(0);

require_once 'vendor/autoload.php';
$ffmpeg = FFMpeg\FFMpeg::create(array('ffmpeg.binaries'  =>
'ffmpeg/bin/ffmpeg.exe',
                                      'ffprobe.binaries' =>
'ffmpeg/bin/ffprobe.exe',
                                      'timeout'          => 3600, // The
timeout for the underlying process

[2017-11-11 20:27] dovidgef commented on #448
I dont know if this applies to my specific issue, but I found the following:
https://bogner.sh/2014/08/scaling-and-deinterlacing-with-ffmpegffmbc/

On Sat, Nov 11, 2017 at 9:02 PM, Jens Hausdorf <notifications@github.com>
wrote:

[2017-11-11 21:15] jens1o commented on #448
Well, I meant the file `test.mp4` which you are trying to encode. I'll check that tomorrow.

[2017-11-11 22:21] dovidgef commented on #448
I am using a standard MTS file from sony camcorder.

On Sat, Nov 11, 2017 at 11:15 PM, Jens Hausdorf <notifications@github.com>
wrote:

[2017-11-17 09:03] dovidgef commented on #448
Is there any way to force the custom yadif filter to be added to the
convert command before the crop filter is added?
I believe that it would take care of this issue.

thanks

On Sun, Nov 12, 2017 at 12:20 AM, Dovid Gefen <dovidgef@gmail.com> wrote:

[2017-11-17 12:55] jens1o commented on #448
I'd like to have something I can reproduce it.

[2017-11-17 12:59] Sitesh1064 commented on #317
@jens1o @Romain, I am facing the same issue currently i am using ubuntu 16.04 with ffmpeg and ffprobe version in the image can you guys help me out ASAP
![ffmpeg-version](https://user-images.githubusercontent.com/33753367/32948402-1948fc40-cbc5-11e7-98cf-e9d78f956ea0.png)

[2017-11-17 13:02] dovidgef commented on #448
​
 test.MTS
<https://drive.google.com/file/d/1Jcd0g-ZKT2eKuQwwe0It4Je-CWDi2h2P/view?usp=drive_web>
​Ok, try this video.

On Fri, Nov 17, 2017 at 2:55 PM, Jens Hausdorf <notifications@github.com>
wrote:

[2017-11-20 07:36] acircuit commented on #395
Hi, i am also getting this issue wherein the video after concatenation has sync issue. The audio is ahead of the video. I also tried the synchronize filter, but it is of no use.

[2017-11-20 12:52] jens1o commented on #395
@acircuit The same counts for you. Could you send me the files and the code you're using privately, so I can take a look?

[2017-11-22 12:25] sahadatfci commented on #370
How you fixed this. Can you please explain. I am also having the same problem.

[2017-11-22 12:37] ruhong65 commented on #370
you should write the

$ffmpeg = FFMpeg\FFMpeg::create(array(
    'ffmpeg.binaries'  => '/opt/local/ffmpeg/bin/ffmpeg',
    'ffprobe.binaries' => '/opt/local/ffmpeg/bin/ffprobe',
    'timeout'          => 3600, // The timeout for the underlying process
    'ffmpeg.threads'   => 12,   // The number of threads that FFMpeg should use
), $logger);

give write path

[2017-11-22 13:32] jens1o commented on #370
@sahadatfci Also, check whether ffmpeg is installed at all, since this project is just a wrapper around it.

[2017-11-22 15:22] algery opened #450 "How to execute such an command？"
Like this:

`ffmpeg -i example.mov -r 6 -vf scale=1080:-1 %03d.jpeg`

Thanks for the solution；

[2017-11-22 15:32] jens1o commented on #450
I'm not sure on what you want to achieve with `-r 6`. Could you clarify on this?

[2017-11-23 01:42] algery commented on #450
@jens1o
 Thanks for reply；

`6` is the number of frames per second. `-r 6` will get 6 frame per second;

I found from this [address](https://superuser.com/questions/135117/how-to-convert-video-to-images)

[2017-11-23 05:30] jens1o commented on #450
Ah, that link was good. I'll respond later today, since I'm just at mobile, in the meantime, you could look for https://github.com/PHP-FFMpeg/PHP-FFMpeg#extracting-image although custom number of frames is not implemented, yet.

[2017-11-23 05:36] algery commented on #450
ok，I will read the doc carefully；When you are free, please respond , thanks;

[2017-11-23 16:48] jens1o commented on #448
I was able to reproduce it, and I'll take this as a feature request for version 1.x(which is in development.)

[2017-11-23 17:18] dovidgef commented on #448
Thanks , in the meantime where in the source code can I manually place the
filter so that it will be added first?

On Nov 23, 2017 6:48 PM, "Jens Hausdorf" <notifications@github.com> wrote:

I was able to reproduce it, and I'll take this as a feature request for
version 1.x(which is in development.)

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on

[2017-11-23 17:42] jens1o commented on #448
Here: https://github.com/PHP-FFMpeg/PHP-FFMpeg/blob/a99804b6b929c968ec497d7ee2a21693747f1db0/src/FFMpeg/Media/Video.php#L143

[2017-11-23 22:14] rvsky opened #451 "Video not clips"
Hi! I am using laravel and I want to cut video. Logs says that everything is okay, on page nothing happens but video is the same lenght. Here's my code:

[code]

What should I do?

[2017-11-24 05:35] jens1o commented on #451
Could you send me the file you're trying it with?

[2017-11-24 08:21] rvsky commented on #451
Here's the video:
[Link](http://www108.zippyshare.com/v/WFyAxLhz/file.html)

Why you need this?

[2017-11-24 12:49] jens1o commented on #451
@rvsky To be able to reproduce it.

[2017-11-24 12:50] rvsky commented on #451
@jens1o okay, and how? It is working?

[2017-11-24 12:50] jens1o commented on #451
Let me set up my environment ;) I'll message you in a few moments.

[2017-11-24 12:51] rvsky commented on #451
Okay, so I am waiting.

[2017-11-24 12:52] rvsky commented on #451
Take a look here please
https://github.com/pascalbaljetmedia/laravel-ffmpeg/issues/48
maybe i am doing something wrong?

[2017-11-24 12:53] jens1o commented on #451
There are no more pieces of information there. What version of FFMpeg(the software itself) and the wrapper(this) do you use?

[2017-11-24 12:54] rvsky commented on #451
"version": "1.3.0",

Maybe there is sth wrong with chmods? But I think not, i gave even 777

[2017-11-24 12:57] jens1o commented on #451
You're code is incomplete. You need to save the actual file, that's why your error logs are blank. Please refer to the readme of `laravel-ffmpeg` on how you save it.

[2017-11-24 12:57] #451 closed

[2017-11-25 07:03] VJ-Vicky commented on #317
I am also facing the same issue. I am using the latest ffmpeg _(ffmpeg version 2.8.11-0ubuntu0.16.04.1)_ on Ubuntu 16.04.

[2017-11-26 16:43] #88 closed

[2017-11-27 13:47] nise opened #452 "Documentation for basic usage needed"
If I install PHP-FFMpeg by using composer I get a new folder called 'vendor' inside my project.
When following the documentation in the readme.md the following call should load the PHP-FFMpeg
'$ffmpeg = FFMpeg\FFMpeg::create();', but it doesn't.

How do I need to deal with the paths here?

[2017-11-27 13:51] nise commented on #452
Could you please add the line 'require_once 'vendor/autoload.php';' before the '$ffmpeg = FFMpeg\FFMpeg::create();' in order to make it clear that composer needs to loaded.
Thanx

[2017-11-27 16:46] jens1o commented on #452
@nise Do you want to do that :)

[2017-11-28 10:32] nise opened #453 "Misconception about framerate when extracting still images"
In the ExtractMultipleFramesFilter it is said that one could extract frames every X seconds. In fac,t the filter extracts X frames per second. Beside this misconception (or bug) it would be nice to have real support for extracting N still images from a video.

[code]

[2017-11-28 10:46] nise commented on #453
In order to obtain N images from a video one could simply write:

[code]

[2017-11-28 15:36] jens1o commented on #453
When this reproduces, this is a major bug. But I don't have time for that, at the moment :(

[2017-11-29 10:42] nise commented on #453
I would suggest to correct the documentation and naming. Then the expected method, as shown above, from scratch.

[2017-11-29 13:37] jens1o commented on #453
I'll check this at the weekend. And then we should be quite fast with fixing, because the api is not working as expected.

[2017-12-05 03:09] jammarmalade commented on #172
like this

    'ffmpeg.binaries'  => '/usr/local/bin/avconv',
    'ffmpeg.binaries' => '/usr/local/bin/ffmpeg',
    'ffprobe.binaries' => '/usr/local/bin/avprobe',
    'ffprobe.binaries' => '/usr/local/bin/ffprobe',
]);

you can use  "which ffprobe",find the path

[2017-12-05 11:51] alexkart commented on #375
No errors for me with 0.11.0 version

[2017-12-05 13:45] airani commented on #173
@jens1o Hi, What news about this issue PR?

[2017-12-05 16:02] jens1o commented on #173
@airani I'm lacking of time, I'm in the middle of the Christmas exam phase, but I'd be happy to see another PR. :)

So in case somebody wants to help, a pr would be appreciated. :)

[2017-12-05 16:05] #452 closed

[2017-12-05 16:09] jens1o commented on #453
I'm not able to reproduce this issue somehow?

Could you provide a example video? I'm seeing the results as they're meant to be and the automated tests are not looking like they're false.?

[2017-12-05 16:10] jens1o commented on #430
Closed due to inactivity.

[2017-12-05 16:10] jens1o commented on #374
Closed due to inactivity.

[2017-12-05 16:10] #374 closed

[2017-12-05 16:13] jens1o commented on #173
Although this would require a massive rewrite of the existing codebase. We would need to check whether we can do this with as less api changes as possible.

[2017-12-15 04:53] WhiteSnowGirl commented on #356
`https://ffmpeg.zeranoe.com/builds/` How to solved? just `chmod 777`?How to install in linux?

[2017-12-15 05:05] Tinywan commented on #356
@WhiteSnowGirl  Only `Windows or Mac OS`

[2017-12-15 05:42] jens1o commented on #356
On Linux, you can install it with your package manager(e.g. `apt`)

[2017-12-16 06:28] WhiteSnowGirl commented on #356
thanks

[2017-12-29 00:15] phylaxis commented on #402
I'm having the exact same issue with an MP3 file I'm trying to work with. I think part of the problem might be this file is an MP3 with Chapter support. Is there a way to "force" FFMPEG to only open and work with the audio portion?

[2017-12-29 00:24] phylaxis commented on #431
I'm attempting to do something similar with an MP3 audio file that for some reason the `open` command thinks my file is video. The issue I have though is when I attempt to re-encode an save I'm hitting an FFMPEG issue. The error is: `Too many packets buffered for output stream 0:1.` I think the trouble is I'm working with a large source file (~62MB). There is a bug report here: https://trac.ffmpeg

[2017-12-29 00:26] phylaxis commented on #323
Is there any fix for this yet?

[2017-12-30 19:42] jens1o commented on #402
I'm not aware how you can tell the lib to do so.

first of all, I need to get something so I can reproduce it.

[2017-12-30 19:43] jens1o commented on #431
Not yet, please open a new issue @phylaxis and it will be added to 1.x

[2017-12-30 19:44] jens1o commented on #323
I'm happy to see a pr, I didn't had the time to invest it, and I also think it would mean a major break, so it is considered for 1.x for now.

[2017-12-31 08:43] beckharuo opened #460 "Encoding failed : Can't save"
| Q              | A
| -------------- | ---
| Bug?           | maybe
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | CentOS

ffmpeg version 2.8.1 Copyright (c) 2000-2015 the FFmpeg developers
built with gcc 4.4.7 (GCC) 20120313 (Red Hat 4.4.7-18)
configuration: --prefix=/usr/local/ffmpeg --enable-shared
libavuti

[2017-12-31 11:41] jens1o commented on #460
what's the exact error? Do you perhaps save to the same file you were reading out?

[2017-12-31 12:05] beckharuo commented on #460
error Message：
ffmpeg failed to execute command '/usr/local/ffmpeg/bin/ffmpeg' '-y' '-i' '/upload/video/test.mp4' '-threads' '12' '-vcodec' 'libx264' '-acodec' 'libfaac' '-b:v' '1000k' '-refs' '6' '-coder' '1' '-sc_threshold' '40' '-flags' '+loop' '-me_range' '16' '-subq' '7' '-i_qfactor' '0.71' '-qcomp' '0.6' '-qdiff' '4' '-trellis' '1' '-b:a' '128k' '-vf' 'movie=/upload/logo.PNG [watermark];[in]

[2017-12-31 12:24] jens1o commented on #460
Does ffmpeg have the right to create, read and modify files in those directories?

[2017-12-31 12:34] beckharuo commented on #460
the may right to create and read,beacuse $frame->save is working

[2017-12-31 12:37] beckharuo commented on #460
and this folder permission 777

[2018-01-03 16:25] beckharuo commented on #460
'/root/bin/ffmpeg' '-y' '-i' '/media/test.mp4' '-threads' '12' '-vcodec' 'libx264' '-acodec' 'libfdk_aac' '-b:v' '1000k' '-refs' '6' '-coder' '1' '-sc_threshold' '40' '-flags' '+loop' '-me_range' '16' '-subq' '7' '-i_qfactor' '0.71' '-qcomp' '0.6' '-qdiff' '4' '-trellis' '1' '-b:a' '128k' '-vf' 'movie=/media/1.png [watermark];[in][watermark] overlay=main_w - 50 - overlay_w:main_h - 50 - overlay_h

[2018-01-03 16:43] jens1o commented on #460
does the user have permission to write and read from the `tmp` directory?

[2018-01-06 06:44] cclloyd opened #461 "Palettegen?"
How would I do palettegen with this?

The 2 commands I use are..

Generating the palette:
`ffmpeg -y -ss 7 -i clip.mp4 -vf fps=30,scale=480:-1:flags=lanczos,palettegen palette.png`

Generating the gif from palette
`ffmpeg -ss 7 -i clip.mp4 -i palette.png -filter_complex "fps=30,scale=480:-1:flags=lanczos[x];[x][1:v]paletteuse" clip.gif`

[2018-01-06 09:18] jens1o commented on #461
You can use `SimpleFilter`s to achieve that functionality.

Adding this as a feature request for 1.x.

[2018-01-08 09:46] beckharuo commented on #460
ffmpeg -i /media/test.mp4 -i /media/1.png -filter_complex "overlay=5:5" /media/out.mp4

[2018-01-08 09:46] #460 closed

[2018-01-08 17:47] kminek commented on #430
Hi there,

sorry for late reply. Here are the details:

`input.mp4` (74MB - 1280x720) - http://www11.zippyshare.com/v/xEyhVyjw/file.html

 now i'm trying to resize input down to `240p`:

[code]

and resulting files is larger that input. Note that this happens only for certain files (others are
indeed smaller).

i also tested pure CLI conversion with following command (https://trac.ffmpeg.org/wiki/

[2018-01-08 19:41] jens1o commented on #430
will check this now, please hang on for a moment :)

[2018-01-08 19:54] jens1o commented on #430
yap... can indeed reproduce it. 😷

that's quite bad... because I do not want to touch the video encoding part of ffmpeg, because it is quite critical and personally I do not trust the tests that much anymore, although I'm still in love with them. Will mark this as bug and assign this to the upcoming 1.x milestone. But I do not know yet when we will be able to publish it.

I'm sorry. :/

[2018-01-08 19:58] jens1o commented on #446
any ideas? I'm not sure anymore what I initially wanted to present there.

[2018-01-08 20:01] kminek commented on #430
no problem, thx for you time and looking forward to 1.x milestone :)

[2018-01-08 20:29] jens1o opened #462 "Use PSR-16 compliant caching"
We should use a PSR-16 compliant implementation for caching, where at the moment we use a simple cache from doctrine:
https://github.com/PHP-FFMpeg/PHP-FFMpeg/blob/2649d45b7b5b67e2699fff695a1ee7e800e4ff64/src/FFMpeg/FFProbe.php#L220-L224

[2018-01-09 16:26] jens1o opened #463 "Find replacement for composer dependency `alchemy/binary-driver`"
The driver is no longer maintained in a regular period of time, so in case somebody knows a good driver that meet our needs, there will be a new use here. :)

Otherwise, we could maintain it ourselves. :)

[2018-01-09 18:07] jens1o commented on #462
psr-16 is more than enough for us, no need for psr-6. ;)

[2018-01-09 18:30] jens1o commented on #462
done. Moved to `Psr\SimpleCache` while using Sabre's Memory Cache as a fallback. :)

[2018-01-09 18:30] #462 closed

[2018-01-09 20:23] jens1o opened #464 "Introduce a trait for Filters priority"
clean up a lot of code :)

[2018-01-11 09:13] Mr-Anonymous commented on #172
I have the same issue in my CentOS7 and php7. I have installed FFmpeg and FFProbe. Using `which ffmpeg` and `which ffprobe` in the terminal, I got the path:

[code]

I added the path to my FFMpeg config and its unable to find the FFProbe:
[code]
My Php file produces this result:
[code]

I have confirmed that the ffmpeg and ffprobe files inside `/usr/bin` has execute permission and I had also set i

[2018-01-11 17:17] jens1o commented on #172
Could you check whether the user that is executing the php process has access to those files and open_basedir check is not activated @Mr-Anonymous ?

[2018-01-14 04:33] cclloyd opened #465 "Reason for Probe Failure?"
| Q              | A
| -------------- | ---
| Bug?           | possibly
| New Feature?   | no
| FFmpeg Version |
`ffprobe version 2.8.11-0ubuntu0.16.04.1 Copyright (c) 2007-2017 the FFmpeg developers
  built with gcc 5.4.0 (Ubuntu 5.4.0-6ubuntu1~16.04.4) 20160609
  configuration: --prefix=/usr --extra-version=0ubuntu0.16.04.1 --build-suffix=-ffmpeg --toolchain=hardened --libdir=/usr/lib/x86_64-lin

[2018-01-14 17:49] jens1o commented on #465
You could try debugging here: https://github.com/PHP-FFMpeg/PHP-FFMpeg/blob/2649d45b7b5b67e2699fff695a1ee7e800e4ff64/src/FFMpeg/FFProbe.php#L263

[2018-01-14 23:27] griffins commented on #412
7.2, always on the edge

[2018-01-15 11:58] Nehadigi commented on #378
HI,
Please help me to resolve the error:-
 ExecutionFailureException: ffmpeg failed to execute command '/usr/bin/ffprobe' '-y' '-ss' '00:00:05.00' '-i' '/home/dmlabs-5/iasp/IASP_platform/web/uploads/media/default/0001/01/529d9972c548e552271728e915cbbf98c9514f13.mp4' '-vframes' '1' '-f' 'image2' '/home/dmlabs-5/iasp/IASP_platform/web/uploads/media/default/0001/01/529d9972c548e552271728e915cbbf98c95

[2018-01-15 12:10] Nehadigi commented on #378
HI,
Please help me to resolve the error:-
 ExecutionFailureException: ffmpeg failed to execute command '/usr/bin/ffprobe' '-y' '-ss' '00:00:05.00' '-i' '/home/dmlabs-5/iasp/IASP_platform/web/uploads/media/default/0001/01/529d9972c548e552271728e915cbbf98c9514f13.mp4' '-vframes' '1' '-f' 'image2' '/home/dmlabs-5/iasp/IASP_platform/web/uploads/media/default/0001/01/529d9972c548e552271728e915cbbf98c95

[2018-01-15 16:20] jens1o commented on #378
@Nehadigi Please create a new issue. Thanks :)

[2018-01-15 16:21] jens1o commented on #412
@griffins What do you want to say with this?

The change is actually done, and it works great :)

[2018-01-16 04:51] Nehadigi opened #466 "Unable to save frame as image"
| Q              | A
| -------------- | ---
| Bug?           | Yes

| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version
Symfony2.8
ExecutionFailureException: ffmpeg failed to execute command '/usr/bin/ffprobe' '-y' '-ss' '00:00:05.00' '-i' '/home/dmlabs-5/iasp/IASP_platform/web/uploads/media/default/0001/01/529d9972c548e552271728e915cbbf98c9514f13.mp4' '-vframes'

[2018-01-16 17:06] jens1o commented on #466
Could you show your code?

Please notice that this is a wrapper and thus most "bugs" are created by users having wrong expectations. Take a deep look at permissions for your system.

[2018-01-17 19:41] Sub-7 opened #467 "x264 ERROR"
Q | A
-- | --
Bug? | YES
New Feature? | no
Version Used | Specific tag or commit sha
FFmpeg Version |Compilation ffmpeg.org: N-89811-g27b9f82, built with gcc 5.4.0
OS | Ubuntu 16.04 PHP7

**Coding in x264:**
`- require 'vendor/autoload.php';
- $ffmpeg = FFMpeg\FFMpeg::create();
- $video = $ffmpeg->open('INPUT/video.mp4');
- $video
    ->filters()
    ->resize(new FFMpeg\Coordinate\Dimension(320, 2

[2018-01-17 19:50] jens1o commented on #467
Could you post the full exception message please?

[2018-01-17 19:57] Sub-7 commented on #467
Sicher doch,

`Fatal error: Uncaught Alchemy\BinaryDriver\Exception\ExecutionFailureException: ffmpeg failed to execute command '/usr/bin/ffmpeg' '-y' '-i' 'INPUT/video.mp4' '-async' '1' '-metadata:s:v:0' 'start_time=0' '-vcodec' 'libx264' '-acodec' 'libfaac' '-b:v' '1000k' '-refs' '6' '-coder' '1' '-sc_threshold' '40' '-flags' '+loop' '-me_range' '16' '-subq' '7' '-i_qfactor' '0.71' '-qcomp' '0.6

[2018-01-17 20:07] jens1o commented on #467
The exception message does not match what your code is saying.

Can you verify that the user hosting the php process has access to the tmp directory and any files you're touching?

[2018-01-17 21:20] Sub-7 commented on #467
Error message is correct, I only copied the last line

even rights changed, nothing happens,
but it works fine with webm and wmv.
According to error message he looks for ffmpeg in / usr / bin / ffmpeg
what was not with wmv and webm (new files have also copied there and reboot)

idea?

[2018-01-18 16:16] jens1o commented on #467
what was not with wmv and webm (new files have also copied there and reboot)

The Format does not change how the executables are being looked up in any way.

[2018-01-18 23:13] Sub-7 commented on #467
like so? but i see no output
`require 'vendor/autoload.php';
$ffmpeg = FFMpeg\FFMpeg::create();
$video = $ffmpeg->open('INPUT/video.mp4');
$video
    ->filters()
    ->resize(new FFMpeg\Coordinate\Dimension(320, 240))
    ->synchronize();
$video
    ->frame(FFMpeg\Coordinate\TimeCode::fromSeconds(10))
    ->save('OUTPUT/frame.jpg');
$video
    ->getFinalCommand(new FFMpeg\Format\Video\X264(), 'OUT

[2018-01-19 04:38] touge commented on #467
我也碰到了相同的问题！
已经查到问题来源，ffmpeg 3.2已经删除libfaac,具体解释：https://github.com/Homebrew/homebrew-core/issues/6418；
虽然查到了问题，但我仍然不知道应该如何操作，希望得到帮助！
谢谢！

[2018-01-19 13:34] jens1o commented on #467
The code will be returned that you need to execute.

[2018-01-22 02:26] acodinguy commented on #412
php 5.6.x or php 5.5.x

[2018-01-22 16:29] jens1o commented on #412
@acodinguy I'm sorry? Could you elaborate on this?

[2018-01-23 14:56] kocoten1992 opened #468 "[Question] Is it possible to ffmpeg from a stream resource (php) ?"
Hi guys,

I want to encode a file from distant (google drive), the file in bluray format, download the file and then encode is certainly an option but it rather slow, looking for a way to encode directly from online storage service (and possibly send it to another storage service, using stream).

Service like google drive can be downloaded using ```stream resource```, how can I map that to ffmpeg

[2018-01-23 16:27] jens1o commented on #468
Hello! :)

This should not be done with this library, because a memory leak is going to come, because we store much information about the rendering process, because actually it is supposed to be used for short-living scripts. It should be used for hours, days, or even months without a restart of the php process.

The hole library is not compatible for using pipes, and it would be a big b/c break a

[2018-01-23 16:28] #468 closed

[2018-01-24 09:47] sm2017 opened #469 "FFmpeg race condition with PHP"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | May be
| Version Used   | 0.9.5
| FFmpeg Version | 2.6.5
| OS             | Centos 7

#### Actual Behavior

I have a problem with executing FFmpeg commands , I think PHP execute the `->save('frame.jpg');` line before ffmpeg complete the process , may be ffmpeg return success to process , I don't know exactly , But

[2018-01-24 13:42] jens1o commented on #469
Hi,

thanks for the issue. This sounds quite interesting to me, because actually everything is done synchronously(which is why the performance isn't that good at all). You can test this by outputting `"my random value"` and you see that it is done after(!) the frame has been extracted. You may want to add a sleep call to it.

[2018-01-24 15:49] sm2017 commented on #469
@jens1o I really don't known how it happens . I just know the output of `filesize` is incorrect . What you think? Why the output is incorrect? `clearstatcache` is called exactly before `filesize`
If ffpmpeg command executed synchronously . I think just maybe it is a PHP 7.1 core bug, may be!!

[2018-01-24 16:22] jens1o commented on #469
What happens if you check the `filesize` when restarting the script(and removing the FFMpeg-part)?

[2018-01-24 16:22] jens1o commented on #440
I decided to use CodeSniffer as of now. Won't be fun to do that, but we need to do it.

[2018-01-25 06:33] sm2017 commented on #469
@jens1o The `filesize` is correct , Even if I don't remove FFMpeg-part
As I told before when I process million files just hundred(s) files have incorrect filesize , But If I run the script for those files again , The result is correct

[2018-01-25 16:15] jens1o commented on #469
I don't know. perhaps this is a cache by the operating systems?

[2018-01-26 14:36] GitDaimos opened #470 "Symfony 4 composer dependency problem"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | 0.11.0

#### Actual Behavior

[code]
#### Steps to Reproduce

1. Install symfony 4
2. Add composer dependency for PHP-FFMpeg

Any idea to resolve this problem?

[2018-01-26 15:11] jens1o commented on #470
Uh. This is dilemma. Looks like we need to write our own temporary filesystem wrapper since `neutron/temporary-filesystem` is not supported anymore.

I can't help you with this, because we may not upgrade any third party dependencies to avoid breaking changes.

We will resolve this with version 1.0.

[2018-01-26 15:13] jens1o commented on #440
Done. We're using psr-2 as of now. the codebase however still needs updates.

[2018-01-26 15:52] jens1o opened #471 "Allow custom filename schema for extracting multiple frames"
.

[2018-01-26 15:56] jens1o commented on #322
Extracted the `codec testing` thing in a seperate issue.

[2018-01-26 15:56] #322 closed

[2018-01-26 15:57] jens1o opened #472 "Codec testing"
We should test whether a codec is available before setting it.

Originally discussed in #322

[2018-01-26 17:23] GitDaimos commented on #470
There is already fix made for this issue on neutron/temporary-filesystem
Maybe author will merge it. If not, we can create new fork based on old filesystem

https://github.com/romainneutron/Temporary-Filesystem/pull/10

[2018-01-26 17:25] jens1o commented on #470
That's the plan.

[2018-01-26 20:48] jens1o commented on #472
It is implemented, but I need to write tests(as of 1c218ba8a7cf5cbae2bf3bf2b0f5348cf4480a3f). I'll do this as soon as I fixed the existing tests.

[2018-01-27 00:29] mdolnik opened #473 "Is there a way to get the scene change output from ffmpeg to either a file or to the code itself?"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | maybe?
| Version Used   | N/A
| FFmpeg Version | N/A
| OS             | Windows 10

#### Actual Behavior

Forgive me, I'm new to ffmpeg and this library.

I am trying to get the functionality to be able to take a single video, detect scene changes (with a certain threshold) and output the different scenes to separ

[2018-01-27 07:43] jens1o commented on #473
Hi,

thanks for creating the issue. You're right, the functionality is not implemented. We'll take this into account for 1.x. In case somebody wants to help us, feel free to ask questions and finally, create a pr.

[2018-01-27 08:19] jens1o commented on #470
I created a fork, and added compatibility with that. I referenced composer to use my fork as of now, till the branch has been merged.

[2018-01-27 14:11] johanneshro commented on #461
/**
     * Saves the high quality gif in the given filename.
     *
     * @param string  $pathfile
     *
     * @return Gif
     *
     * @throws RuntimeException
     */
    public function save_with_high_quality($pathfile)
    {
        /**
         * @see http://blog.pkh.me/p/21-high-quality-gif-with-ffmpeg.html
         */

		$filters = "fps=30,scale=".$this->dimension->getWidth().":-1:flags

[2018-01-27 14:30] johanneshro opened #474 "Saves the high quality gif"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | yes
| Version Used   | N/A
| FFmpeg Version | FFmpeg 3.4.1
| OS             | Debian 9

Save Gif in high Quality
FFMpeg\Media\Gif.php

`    /**
     * Saves the high quality gif in the given filename.
     *
     * @param string  $pathfile
     *
     * @return Gif
     *
     * @throws RuntimeException
     */

[2018-01-27 15:40] jens1o commented on #461
@johanneshro Would you mind creating a pr?

[2018-01-27 15:41] jens1o commented on #474
Would you mind creating a pr?

[2018-01-29 08:48] waqadeer opened #477 "FFMPEG Video Audio Masking"
Hello FFMpeg writer

It look really great but I am here now going to mask a voice, that must be get from some text-to-speech API. To achieve this, what i am doing is

1. Prepare a text-to-speech audio by the logged in user's name
Any text-to-speech api. for now i am using ; `http://duncan3dc.github.io/speaker/`

2. Prepare and Audio (abc.mp3) that will be merged/mapped into the resulted video
`ffm

[2018-01-29 16:25] jens1o commented on #477
Hi,

thanks for creating such an issue. Unfortunately you need to work around with this, because it isn't supported to achieve exactly what you want to do. You can achieve this using SimpleFilters that will create and modify the command, so you can inject custom commands.
In case you have more questions, do not hesitate to ask.

Regards
Jens

[2018-01-30 12:18] nikolamakin commented on #467
I have the same problem.
--
  | <b>Fatal error</b>:  Uncaught exception 'Alchemy\BinaryDriver\Exception\ExecutionFailureException' with message 'ffmpeg failed to execute command '/server/ffmpeg/bin/ffmpeg' '-y' '-i' '/www/xinqi/1.mp4' '-vcodec' 'libx264' '-acodec' 'libfaac' '-b:v' '1000k' '-refs' '6' '-coder' '1' '-sc_threshold' '40' '-flags' '+loop' '-me_range' '16' '-subq' '7' '-i_qfactor' '0.71

[2018-01-30 12:21] nikolamakin commented on #467
but,its can
ssh :ffmpeg -i /www/xinqi/1.wmv -vcodec libx264 /www/xinqi/s.mp4

[2018-01-30 13:39] jens1o commented on #467
Please check the permissions of the user executing the php script.

[2018-01-31 02:02] nikolamakin commented on #467
php script is default use 'daemon'
use :
->save(new FFMpeg\Format\Video\WMV(), 'export-wmv.wmv')
is no problem

But it's a problem with this:
->save(new FFMpeg\Format\Video\X264(), 'export-x264.mp4')

[2018-01-31 05:28] nikolamakin commented on #467
问题解决了，是因为最新版本的ffmpeg不支持--enable-libfaac ,所以PHP-FFMpeg默认用的libfaac会导致错误。
可以这样new FFMpeg\Format\Video\X264('libmp3lame')
或者使用libfdk_aac
感谢PHP-FFMpeg

[2018-01-31 14:53] MonsieurLanza commented on #470
Your fork branch should not be named "dev-jens1o-update-deps" but just "jens1o-update-deps", "dev-" prefix is removed by composer.

[2018-01-31 16:28] jens1o commented on #467
Please write in proper English sentences.

[2018-01-31 16:28] jens1o commented on #470
ah, thanks for the heads up. Fixed.

[2018-02-01 16:56] jens1o commented on #465
Closed due to inactivity.

[2018-02-01 16:56] #465 closed

[2018-02-01 16:56] jens1o commented on #466
Closed due to inactivity.

[2018-02-01 16:56] #466 closed

[2018-02-02 11:55] averichev opened #478 "Not installed"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | v0.11.0
| FFmpeg Version | ffmpeg version 2.2.1
| OS             | CentOS release 6.9 (Final)

#### Actual Behavior

not installed

#### Expected Behavior

Must be installed

#### Steps to Reproduce

1. Install symfony 4
[code]
2. I'm trying to install a library

[code]
And i have error (see

[2018-02-02 11:56] averichev commented on #478
Help please

[2018-02-02 12:52] jens1o commented on #478
duplicate of #470

Please do not use words like `help`. Thank you. Oh, and search for duplicates, too.

[2018-02-02 12:52] #478 closed

[2018-02-04 06:20] Abu3safeer opened #479 "is there a function to check if ffmpeg is installed on the system."
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | yes
| Version Used   | 2649d45
| FFmpeg Version | FFmpeg 3.4.1
| OS             | ubuntu 16.04

Hello everyone,
I like how this project help people who does not involve into video-encoding world to get what they need, so Thank you.

I was checking into documentation + browsing the code, but could not find any buil

[2018-02-04 06:57] jens1o commented on #479
You can initialize it and catch all `FFMpeg\Exception\ExecutableNotFoundException` exceptions that are being thrown when the executables couldn't be foud.

[2018-02-04 06:57] #479 closed

[2018-02-05 11:27] thrijith opened #480 "unable to convert video"
Hi

i have using this to convert other video format to `.mp4` it is working in some cases but giving trouble in some other.

this is the code i have been currently using

         $format = new FFMpeg\Format\Video\X264( 'libmp3lame', 'libx264' );

         $format->setAudioCodec("libfdk_aac");

         $format->setAdditionalParameters( array('-crf', '28') );

         $format->on('progress', func

[2018-02-05 12:52] jens1o commented on #480
Can you elaborate this?
` some cases but giving trouble in some other.`

Please check the syntax of the executed command. Using additional parameters is risky.

[2018-02-05 17:23] thrijith commented on #480
the conversion from `mkv` to `mp4` is working without issue but not working in `mov`'s case

[2018-02-08 03:30] ooiikaka1 opened #481 "Your FFProbe version is too old and does not support -help option, please upgrade"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | latest
| FFmpeg Version |  N-84014-g9e6b269
| OS             | Windows 10
| PHP           | 7.2
#### Actual Behavior

First I have tried to use Create Singleton Method without inserting array then I got this error :

`Your FFProbe version is too old and does not support -help option, please u

[2018-02-08 09:50] cb8 commented on #470
the problems with neutron/temporary-filesystem have been resolved in version 2.3.0. however, alchemy/binary-driver [still requires](https://github.com/alchemy-fr/BinaryDriver/blob/c8767a48ea27489e90d8a236a09b49a47d17d425/composer.json#L28) `symfony/process:^2.0|^3.0`. i submitted a PR in alchemy-fr/BinaryDriver#8. @jens1o feel free to include it in a fork in case you dont want to way until it gets

[2018-02-08 18:37] jens1o commented on #470
I will wait, since 1.x is somewhat scheduled to be released this summer(I plan to release it on my birthday).

[2018-02-08 18:41] jens1o commented on #481
Could you post the complete code? Is FFProbe installed on the help system?

[2018-02-08 18:47] Abu3safeer commented on #481
That happened to me just today, it was working yesterday,
I tried to use shell_exec & exec and noticed they return null.
I don't know if PHP-FFMpeg uses them or other way.
you could try to use
`var_dump(shell_exec("ffprobe -help"));`

[2018-02-08 18:51] jens1o commented on #481
perhaps a bug of php or the operating system? I'd like you to file a php bug then, because this is the wrong address for this behavior.. :/

We're using `proc_open` under the hood: https://github.com/symfony/process/blob/768debc5996f599c4372b322d9061dba2a4bf505/Process.php#L290

I'm sorry.

[2018-02-09 13:38] jens1o commented on #481
`And then I replaced 'Process.php ' , but the error had no change` What do you mean by that?

[2018-02-10 21:57] jens1o commented on #474
I'd like to have this in a pr for the 1.x branch. So in case somebody wants to commit this change and write tests for it, I'm happy to merge it.

If you need help, do not hesitate to ask.

[2018-02-12 11:07] johanneshro commented on #474
Sorry, i'm not experienced with github yet to create a PR in the right way :-(

[2018-02-12 11:22] jens1o commented on #474
No worries :)

[2018-02-12 11:25] johanneshro opened #483 "Audio to Video"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

Is it possible to create a Video from a MP3/Audio Source with a Image Preview with this Lib?

The Command for FFMPEG will be
ffmpeg -i $audiopath -f image2 -loop 1 -r 30 -i $imag

[2018-02-12 11:54] jens1o commented on #483
Only custom filters. Added as a feature request for v1.x

[2018-02-12 15:46] romainneutron commented on #463
I'd recommend to fork alchemy/binary driver in the FFMPeg org. would you like that I do it ?

[2018-02-12 15:48] jens1o commented on #463
@romainneutron Sure, but I do not have permission to fork any repositories. :)

[2018-02-13 08:10] romainneutron commented on #463
It's been forked here https://github.com/PHP-FFMpeg/BinaryDriver/
You should be able to push in this repo

[2018-02-13 09:35] jens1o commented on #463
Yeah, it works. Thank you!

[2018-02-13 09:36] #463 closed

[2018-02-13 09:43] jens1o commented on #463
@romainneutron Perhaps you can link the old repo to the new one and perhaps abandon your package on packagist, so the users can use the maintained version?

[2018-02-17 14:46] uschmann commented on #470
HI,

i just started a fresh laravel 5.6 project and would like to use php-ffmpeg in it.
Is there a workaround for this problem until version 1.0 is released?

Any help is really appreciated.

Kind regards

André

[2018-02-17 17:02] jens1o commented on #470
Rely on the v1.x branch, which is not stable.

[2018-02-21 07:21] #469 closed

[2018-02-21 13:49] jens1o commented on #469
@sm2017 Did you found out something new?

[2018-02-22 15:12] Sensetivity opened #486 "How to set a -crf quality?"
How to set a -crf quality? I see just a kilobytes option.

[2018-02-22 17:19] jens1o commented on #486
duplicate of #418

[2018-02-22 17:19] #486 closed

[2018-02-24 12:43] Vitassam commented on #157
It's "Unknown encoder 'libfaac'"

[2018-02-26 05:58] msl2000 opened #487 "Creating multiple clips from the same video"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Ubuntu 16.04.3 LTS

#### Expected Behavior

What is the behavior you expect?

To cut multiple clips from a video and concatenate them into a single output video

Apologies but considering there were

[2018-02-26 13:25] jens1o commented on #487
I'm not sure what you mean?

https://github.com/PHP-FFMpeg/PHP-FFMpeg#concatenation

Is this what you want to do?

[2018-02-26 22:22] msl2000 commented on #487
I see, yes I have attempted to cut it and save them individually before concatenating them. However, felt it to be rather a long roundabout way and figured I could clip videos, concatenate and then save.

I will play around with the the package and hopefully streamline it and help with the docs :)

[2018-02-27 12:23] socialpixe opened #488 "Add a PNG Frame over Video using FFMPEG PHP"
Hello,

I am able to record a video, but now i need to add a frame over that video using FFMPEG. I have source of Vendor FFMPEG. but unable to add frame, error showing unable to handle the request.

[code]

I just want to add a PNG frame over video. Please share update.

NOTE: I am using Shared hosting.

[2018-02-28 02:07] gifary opened #489 "ffmpeg failed to execute command"
I am getting this error on ubuntu, ffmpeg already installed. please can you help me?
Fatal error: Uncaught Alchemy\BinaryDriver\Exception\ExecutionFailureException: ffmpeg failed to execute command '/usr/local/bin/ffmpeg' '-y' '-i' 'resources/Danni no Transfer 2.wav' '-acodec' 'flac' '-b:a' '256k' '-ac' '1' 'audiob6abdd0.flac' in /var/www/html/geolocation/vendor/alchemy/binary-driver/src/Alchemy/B

[2018-02-28 10:34] Abu3safeer commented on #489
just copy this:
'/usr/local/bin/ffmpeg' '-y' '-i' 'resources/Danni no Transfer 2.wav' '-acodec' 'flac' '-b:a' '256k' '-ac' '1' 'audiob6abdd0.flac'

and paste it in ternmenal to see if that command works or not.

[2018-02-28 10:40] gifary commented on #489
@Abu3safeer ffmpeg version N-90176-g27cbbbb Copyright (c) 2000-2018 the FFmpeg developers
  built with gcc 5.4.1 (Ubuntu 5.4.1-2ubuntu1~16.04) 20160904
  configuration:
  libavutil      56.  7.101 / 56.  7.101
  libavcodec     58. 13.100 / 58. 13.100
  libavformat    58. 10.100 / 58. 10.100
  libavdevice    58.  2.100 / 58.  2.100
  libavfilter     7. 12.100 /  7. 12.100
  libswscale      5.  0.10

[2018-02-28 10:49] gifary commented on #489
But it created the file audiob6abdd0.flac

[2018-02-28 10:49] Abu3safeer commented on #489
the output file, does it work?

[2018-02-28 10:49] Abu3safeer commented on #489
beside what is the version of ffmpeg you are currently using?

[2018-02-28 10:51] gifary commented on #489
Yeah it's work, ffmpeg version N-90176

[2018-02-28 10:55] Abu3safeer commented on #489
the version number is not really a number, looks like this is a special build.
the latest official build is (FFmpeg 3.4.2 "Cantor")

**where did you get this ffmpeg from?**

[2018-02-28 14:44] gifary commented on #489
oh sorry i am wrong @Abu3safeer  this is my ffmpeg version 3.4.2-1

[2018-02-28 14:44] gifary commented on #489
i try on macbook is running well, but on server getting trouble like above

[2018-02-28 14:53] Abu3safeer commented on #489
Is the version on the macbook same as the version on the server?

[2018-02-28 14:56] gifary commented on #489
thanks you for your response @Abu3safeer . I fixed that to set permission folder for save file to 777.

[2018-02-28 14:56] #489 closed

[2018-02-28 15:32] Abu3safeer commented on #489
777 is danger, especially if you website is live, try to use more secure permissions.

[2018-02-28 16:14] jens1o commented on #487
Alright. Closing this. If you have any questions, feel free to write a comment.

[2018-02-28 16:14] #487 closed

[2018-02-28 16:22] jens1o commented on #488
I'm not sure what you want to do. Do you want to [watermark your video](https://github.com/PHP-FFMpeg/PHP-FFMpeg#watermark) or are you trying [to make thumbnails out of it](https://github.com/PHP-FFMpeg/PHP-FFMpeg#extracting-image)?

[2018-02-28 17:06] socialpixe commented on #488
Yeah, exactly. i want to add watermark to my video. using C# and the process should run in background. because application is public

I tried this

[code]

[2018-02-28 17:34] jens1o commented on #488
Please understand that we do not give support on using FFMpeg Filters in general, but we focus on using this library(with using PHP).

There can be a video encoding worker executed in the background ;)
PHP is not limited for serving webpages.

[2018-02-28 17:34] #488 closed

[2018-03-01 09:08] gifary commented on #489
yup, i try to chante 755 or 765 still error

[2018-03-01 13:26] Srijeeta opened #490 "Got error 'PHP message: Uncaught PHP Exception FFMpeg\\Exception\\RuntimeException: "Unable to save frame""
| Q              | A
| -------------- | ---
| Bug?           | Yes
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | 2.8.11
| OS             | Ubuntu 16.04

I'm using Ubuntu 16.04 and I'm facing this error.
I'm using this code with Drupal 8

`        $ffmpeg = \FFMpeg\FFMpeg::create(array(
        'ffmpeg.binaries' => exec('which ffmpeg'),
        'ffprobe.bina

[2018-03-01 14:20] jens1o commented on #490
Please tell us which ffmpeg version you're using.

[2018-03-01 14:49] Srijeeta commented on #490
I'm using 11.1

[2018-03-01 16:04] jens1o commented on #490
Can you make sure that the directories referenced in your code are existant?

[2018-03-01 16:22] jens1o commented on #490
Can you make sure that the directories referenced in your code are existant?

[2018-03-02 14:26] TechShankar opened #491 "composer install error"
hello, friends I'm trying to install via composer returns this error please help.

$ composer require php-ffmpeg/php-ffmpeg
Using version ^0.11.1 for php-ffmpeg/php-ffmpeg
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    -

[2018-03-02 15:00] TechShankar commented on #491
this is my composer file

{
    "name": "laravel/laravel",
    "description": "The Laravel Framework.",
    "keywords": ["framework", "laravel"],
    "license": "MIT",
    "type": "project",
    "require": {
        "php": ">=7.0.0",
        "facebook/graph-sdk": "^5.6",
        "fideloper/proxy": "~4.0",
        "intervention/image": "^2.4",
        "laravel/framework": "5.6.*",
        "laravel/

[2018-03-02 15:04] Srijeeta commented on #490
@jens1o Checked!! They are all existant.

[2018-03-02 15:59] jens1o commented on #491
effectly the same as #470

[2018-03-02 15:59] #491 closed

[2018-03-02 16:00] jens1o commented on #490
Alright. Can you only let it save one video(so only one export)?

Then, if this still doesn't works, I need you to modify the statement to something like this:
`echo $video->getFinalCommand($myFormat);`

Then, please execute the command you've been given with the user that hosts the php thing.

[2018-03-02 17:54] jens1o commented on #490
I told you to use the command that we provide. You should not use your own command.

[2018-03-02 18:10] Srijeeta commented on #490
Could you please tell me what is wrong with the one I'm using.

[2018-03-02 18:33] jens1o commented on #490
You're not using the library?

[2018-03-02 18:35] Srijeeta commented on #490
I was giving wrong path to save the thumbnail. So that worked. But the encoding still failed.

[2018-03-02 18:46] Srijeeta commented on #490
@jens1o
`$video
            ->save(new \FFMpeg\Format\Video\X264(), 'sites/default/files/video-thumbnails/2018-02/compressed-video.mp4');
            ->save(new \FFMpeg\Format\Video\WMV(), 'sites/default/files/video-thumbnails/2018-02/compressed-video2.wmv')
            ->save(new \FFMpeg\Format\Video\WebM(), 'sites/default/files/video-thumbnails/2018-02/compressed-video2.webm');
`
I just checked

[2018-03-02 19:09] Srijeeta commented on #490
Solved it!!
https://github.com/PHP-FFMpeg/PHP-FFMpeg/issues/310
This was very useful. Thanks anyway!

[2018-03-02 19:20] jens1o commented on #490
Alright, closing this. Thank you.

[2018-03-02 19:20] #490 closed

[2018-03-03 10:17] AliN11 opened #492 "Scale/Resize watermark image"
Hi. Is it possible to scale watermark image ?
[code]

[2018-03-03 10:39] jens1o commented on #492
No, it's not. You need to size it before.

[2018-03-03 10:47] AliN11 commented on #492
It's so sad 😢

[2018-03-03 11:09] jens1o commented on #492
If you want to, feel free to add an PR which solves this problem for you, although personally, I'd rather resize it before.

[2018-03-03 23:54] Shaked opened #493 "What would be the equivalent of this command using this library?"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | 0.11.1
| FFmpeg Version | `ffmpeg version 3.3.3 Copyright (c) 2000-2017 the FFmpeg developers  built with Apple LLVM version 8.1.0 (clang-802.0.42)`
| OS             | OSX 10.13.3

What would be the equivalent of 👇using this library?
`ffmpeg -i 'URL' -r 1 /path/to/output_%04d.png`

I hope I`m

[2018-03-04 06:48] jens1o commented on #493
Could you elaborate on what you want to achieve with this command? You want to extract each frame, but I'm unsure why you want to set filters(and what are those expected to do?).

[2018-03-05 01:56] Shaked commented on #493
Sorry for that.

What I want to do in general is to convert a video to images (frames) while keeping of the images' quality. I assumed `-qscale:V X` would improve the quality of the images and `-r 1` should save a new image very 1 second.

I have trying doing the following but end up with very bad quality:
[code]

Thank you!
Shaked

[2018-03-05 16:53] jens1o commented on #493
This sounds like a bug, would you consider opening a new issue for that, so we can check that? Could you upload a video file where you can reproduce with? Actually, we should have tests that should guarantee this.

[2018-03-05 17:35] Shaked commented on #493
Yes. Will make an example later today.

Plus, I was thinking about doing a PR which allows one to choose the image type of the frame (e.g jpg/png/etc). What do you think?

[2018-03-05 17:36] jens1o commented on #493
Feel free, I'm curious :)

[2018-03-06 00:49] Shaked opened #494 "extractMltipleFrames creates too many frame images than expected"
| Q              | A
| -------------- | ---
| Bug?           | Yes
| New Feature?   | no
| Version Used   | ^0.11.1
| FFmpeg Version | `ffmpeg version 3.3.3 Copyright (c) 2000-2017 the FFmpeg developers  built with Apple LLVM version 8.1.0 (clang-802.0.42)`
| OS             | OSX 10.33.3

#### Actual Behavior

How does PHP-FFMpeg behave at the moment?

When I use extractMltipleFrames(ExtractMultip

[2018-03-06 00:52] Shaked commented on #493
https://github.com/PHP-FFMpeg/PHP-FFMpeg/issues/494

Do you have any idea what would be the right way to use the extract multiple images method while keeping the maximum quality?

[2018-03-06 16:58] jens1o commented on #493
I'm sorry, I actually never used that method and I haven't written it.

[2018-03-06 16:59] jens1o commented on #494
Thank you for the report! Will look into this in the next days, I'm in a hurry atm. Feel free to ping me when I don't reply until Thursday. :)

[2018-03-08 01:27] fx1234 opened #496 "Error with x264/mp4"
Hi

i'm using debian9 with php7 on the command-line (no webserver installed)

[code]
i'm getting this error:

Stack trace:
#0 /home/convert/vendor/alchemy/binary-driver/src/Alchemy/BinaryDriver/ProcessRunner.php(72): Alchemy\BinaryDriver\ProcessRunner->doExecutionFailure(''/usr/bin/ffmpe...')
#1 /home/convert/vendor/alchemy/binary-driver/src/Alchemy/BinaryDriver/AbstractBinary.php(209): Alchemy\Bi

[2018-03-08 05:10] Shaked commented on #494
BTW I have just ran:

`$ ffmpeg -i 'https://instagram.fmex7-1.fna.fbcdn.net/vp/1417659ca05109537276143f6fa427c2/5AA336A7/t50.2886-16/26162850_164145864357402_482322447928918016_n.mp4' -q:v 1 -vf fps=1 ./frame%04d.png`

and I get **57** images which makes sense cause [the video](https://www.instagram.com/p/BdmpyJFFPQB) is 57 seconds 🙂

[2018-03-08 16:35] jens1o commented on #494
So, do you have a point where I can step into?

[2018-03-08 16:37] jens1o commented on #496
Please change the line `$video->save(new FFMpeg\Format\Video\X264(), 'done/export-x264.mp4');` into `$video->save(new FFMpeg\Format\Video\X264('libmp3lame'), 'done/export-x264.mp4');`

[2018-03-08 16:37] #496 closed

[2018-03-08 16:52] Shaked commented on #494
I have few potential ideas but not sure what's the source currently:

1. Some of the passes is messing up `-vf fps=1/X path`
2. The `save()` method appends another path, maybe that's the problem?
3. Going far but maybe the `fps=1/60` which means "one frame every minute" becomes `0,016`? that would create a huge amount of frames cause it means "one frame every 0,016seconds"

[2018-03-08 16:52] jens1o commented on #494
Alright, that is very helpful. **Thank you!** I'm going to investigate, now.

[2018-03-08 17:16] jens1o commented on #494
I can confirm this, but tbh, I don't now why ffmpeg declines with `Could not open file : output/frame-01.jpg`.

[2018-03-08 17:20] Shaked commented on #494
I can open the frame%d.jpg/png files but can't open whatever comes from `$video->save(format, 'output%d.jpg')`.

I'd start with removing passes and see if it changes anything. Also, is it possible to do somehow do `$video->save` without saving another file?

[2018-03-08 17:32] jens1o commented on #494
Ah, okay.

Got it!

We're setting the output thing twice, so instead of

[code]

we should use

[code]
Note that we're only giving it one output stream and perhaps ffmpeg thinks we give two inputs to it.

[2018-03-08 18:23] informaticosgb opened #497 "composer update --lock Your requirements could not be resolved to an installable set of packages"
Hi there! I have this error running composer update --lock

![image](https://user-images.githubusercontent.com/4468829/37168643-4a2fc926-22e4-11e8-8f3a-882b802df809.png)

Any help ? Thanks !

[2018-03-08 22:22] Shaked commented on #494
No problem. I am just gonna remove the frame-%d output basically. Correct?

[2018-03-09 10:43] DutchChannels commented on #497
I've the same issue, any solution yet?

[2018-03-10 06:11] jens1o commented on #497
duplicate of #470

[2018-03-10 06:11] #497 closed

[2018-03-10 06:12] jens1o commented on #494
Awesome, could you please file a PR(with tests) as soon as the current one has been approved? Please do not do it yet, because your first PR is based on the master branch.

[2018-03-10 08:25] AliN11 commented on #470
How I install that ?

[2018-03-10 08:47] Shaked commented on #494
Yes I will start making one and file a PR this week. Thank you

[2018-03-10 17:12] jens1o commented on #470
There's a reason that this is not closed, yet. :)

[2018-03-10 17:47] AliN11 commented on #470
Anyway to use in Laravel ?

[2018-03-11 07:48] jens1o commented on #470
use laravel 5.3 ;)

I'll look into this later today.

[2018-03-12 17:02] xorik commented on #470
To install this package with symfony 4:
1) Add to your **composer.json**:
[code]
2) run `composer require php-ffmpeg/binary-driver=dev-master`
3) run `composer require php-ffmpeg/php-ffmpeg`

[2018-03-13 06:36] sm2017 commented on #469
@jens1o I found that is it not `PHP-FFMpeg` issue , the issue come from a dependency

[2018-03-13 07:06] visakhsujathan commented on #126
@Gemorroj please mention where to add these codes and how to se it

[2018-03-14 07:59] wskeee commented on #263
I have the same problem.
I'm using WAMP + YII2 + window ffmpeg

When I run
![image](https://user-images.githubusercontent.com/12245375/37389747-74c03e80-27a0-11e8-9c48-c8c97d50e651.png)
![image](https://user-images.githubusercontent.com/12245375/37389764-83f75ef6-27a0-11e8-9107-ebfd3fd2d32d.png)
the result is
![image](https://user-images.githubusercontent.com/12245375/37389783-956328a0-27a0-11e8-8

[2018-03-15 06:22] web256 opened #499 "How merger Audio and Video ?"
code

        $ffmpeg = FFMpeg\FFMpeg::create(array(
            'ffmpeg.binaries'  => '/usr/local/bin/ffmpeg',
            'ffprobe.binaries' => '/usr/local/bin/ffprobe',
            'timeout'          => 3600, // The timeout for the underlying process
            'ffmpeg.threads'   => 12,   // The number of threads that FFMpeg should use
        ), $log);

                $video = $ffmpeg->open(

[2018-03-15 19:05] jens1o commented on #263
The results are cached. You need to construct a new one.

[2018-03-15 19:13] jens1o commented on #499
This is not supported, because SimpleFilter are appended(at the very end).

[2018-03-15 19:13] #499 closed

[2018-03-16 09:36] xvrzhao commented on #157
Just closed issue with no solution , this is funny.

[2018-03-16 10:13] Youngkingoo6 opened #500 "Failed to avformat_open_input|watermark"
| Q              | A
| -------------- | ---
| Bug?           | maybe
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | win10

#### Actual Behavior
I just run below commond
`"E:/ffmpeg/bin/ffmpeg.exe" -y -i E:\work\online\football\storage\app\aetherupload\video\201803\32836a8dfa09a6b4193daab449370bec.mp4 -async 1 -

[2018-03-16 10:25] xvrzhao opened #501 "ffprobe failed to execute command '/usr/bin/ffprobe' '-help' '-loglevel' 'quiet'"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | 0.11.0
| FFmpeg Version | 0.10.16
| OS             | CentOS 6.9

#### Actual Behavior

I just want to extract an image from video, but the code throw the exception following:
[code]

This is my code:
[code]

[2018-03-16 10:30] xvrzhao commented on #501
And I executed it in CLI:
[code]

[2018-03-16 12:55] jens1o commented on #157
@xvrzhao Most likely it is because of wrong permissions. :)

[2018-03-16 12:56] jens1o commented on #500
Are you sure the given file exists? If so, could you append those?

[2018-03-16 12:58] jens1o commented on #501
That's strange, could you please verify that the user hosting the php process has enough permissions to execute files and open new processes?

[2018-03-16 13:05] Youngkingoo6 commented on #500
I am sure the file exist. If not,it will throw file not exist exception.what should i post
to you?

[2018-03-16 13:07] Youngkingoo6 commented on #500
if not add waterark,it could success.

[2018-03-16 13:11] jens1o commented on #500
Okay, I then would like to try it out myself. Could you post your watermark(or send it privately) and an example video?

[2018-03-16 13:15] Youngkingoo6 commented on #500
i will post you later.

[2018-03-17 14:17] Youngkingoo6 commented on #470
I had done as @xorik said.And I succed download the php-ffmpeg ,But I got another problem.
as long as use getenv function ,the application shut down and return 500.And it is not usefull even regist the shut down funciton.

[2018-03-17 16:19] jens1o commented on #470
Sorry? Could you open a new issue with detailed information?

[2018-03-17 16:24] jens1o commented on #500
Thanks for the files, but this is a ffmpeg issue itself.

[2018-03-17 16:24] #500 closed

[2018-03-17 17:38] xvrzhao commented on #501
Yes, and I guess that is due to permission, I will check and verify that and reply you when I back to company next Monday. Thank you !

[2018-03-19 11:10] Youngkingoo6 commented on #500
follow the https://trac.ffmpeg.org/wiki/CompilationGuide/Centos officail documents.
And use this
$format = new X264('libfdk_aac', 'libx264');
It's fine.

[2018-03-19 16:16] jens1o commented on #501
Okay, then it's most likely that the user may not open new processes.

[2018-03-19 16:16] jens1o commented on #500
Glad you've got it! :)

[2018-03-20 01:57] xvrzhao commented on #501
Still throwed the exception with the same info after installing a new version of ffprobe, why?

And what's the mean of new processes you said ?

[2018-03-20 10:31] sagarnasit commented on #480
the problem in converting .mov to .mp4. other formats work fine.

[2018-03-20 12:17] jens1o commented on #480
Then that's not a problem of this lib, but a ffmpeg issue.

[2018-03-20 12:17] #480 closed

[2018-03-20 12:18] jens1o commented on #501
We still use `ffprobe` and `ffmpeg` under the hood and open new processes to get the output of it. This library is bascially a wrapper, so you do not need to create the command yourself, but we're managing it under-the-hood.

[2018-03-20 13:28] sagarnasit commented on #480
I checked with ffmpeg, it works fine. But when i'm using this lib to convert then it gets fail every time with only .mov file.

[2018-03-22 15:02] lasselehtinen opened #502 "Concatenation for audio files"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | v0.11.1-pl-1
| FFmpeg Version | FFmpeg 2.8.11
| OS             | Ubuntu 16.04.3 LTS

#### Expected Behavior

The [documentation for the concenation](https://github.com/PHP-FFMpeg/PHP-FFMpeg#concatenation) states that _"This feature allows you to generate one audio or video file, based on mul

[2018-03-22 16:51] jens1o commented on #393
@sagarnasit Just for clarity: is that the code which *prevents* that or is it just your testing snippet?

[2018-03-23 05:24] sagarnasit commented on #393
`$format = new FFMpeg\Format\Video\X264( 'libmp3lame', 'libx264' );`
This is the code to set Format and codecs.

`$format->setAdditionalParameters( [ '-crf', '29' ] );`
This lines sets ffmpeg additional parameter to maintain same video quality. but, it isn't working on library. can  you suggest anything in library to maintain same video quality?

[2018-03-23 14:02] jens1o commented on #393
@sagarnasit I think because of these settings: https://github.com/PHP-FFMpeg/PHP-FFMpeg/blob/a1d5fa51ba94929c93e9a03dce16990d6ca177bc/src/FFMpeg/Media/Video.php#L162-L183

[2018-03-27 13:47] TechShankar opened #504 "php 7 laravel 5.6 install error"
this project works correctly in laravel 5.5. not working in laravel 5.6

please help how to fix this problem

$ composer require php-ffmpeg/php-ffmpeg
Using version ^0.11.1 for php-ffmpeg/php-ffmpeg
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of pa

[2018-03-27 16:10] jens1o commented on #504
duplicate of #470

[2018-03-27 16:11] #504 closed

[2018-03-27 18:33] masoudline commented on #361
I have the same issue on nginx laravel centos
I use ffmpeg command and its work fine but when I want to save my data from backend panel these errors show:
[code]

[2018-03-27 19:16] jens1o commented on #361
@masoudline Turn off php's `safe_mode`.

[2018-03-28 08:48] webciter opened #505 "Your requirements could not be resolved to an installable set of packages."
output from composer

Using version ^0.11.1 for php-ffmpeg/php-ffmpeg
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: don't install php-ffmpeg/php-ffmpeg v0.11.1-pl-1
    - Conclusion: remove symfony/console

[2018-03-28 11:17] watnuweer opened #506 "mposer update"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

#### Actual Behavior

How does PHP-FFMpeg behave at the moment?

#### Expected Behavior

What is the behavior you expect?

#### Steps to Reproduce

What are the steps to reproduc

[2018-03-28 15:38] jens1o commented on #506
Could you please elaborate?

[2018-03-28 15:38] #506 closed

[2018-03-28 15:39] jens1o commented on #505
What about doing a simple search before this? Duplicate of #470

[2018-03-28 15:39] #505 closed

[2018-03-29 07:12] watnuweer commented on #506
Sorry but I don't know what I did to open this ticket. I don't have any issues and love the product.
Keep up the good work!

[2018-03-29 07:14] jens1o commented on #506
Alright, thank you! :)

[2018-04-01 14:37] ShaoGongBra opened #507 "how do I install a ffmpeg php extension"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | 0.11
| FFmpeg Version | 3.4.2
| OS             | centos

Excuse me, how do I install a ffmpeg php extension, now has installed ffmpeg on centos, the information is as follows, how do I add it to php, now when using the error: Unable to load FFProbe

[2018-04-01 14:39] jens1o commented on #507
You do need to install any extension for this project. Could you post the full error please?

[2018-04-01 14:41] ShaoGongBra commented on #507
@jens1o
I am using thinkphp

[0] ExecutableNotFoundException in FFProbeDriver.php line 50
Unable to load FFProbe
        if (!$configuration instanceof ConfigurationInterface) {
            $configuration = new Configuration($configuration);
        }

        $binaries = $configuration->get('ffprobe.binaries', array('avprobe', 'ffprobe'));

        try {
            return static::load($binaries,

[2018-04-01 14:42] ShaoGongBra commented on #507
@jens1o
The text is translated by translation software. It may be a bit blunt to read. Sorry.

[2018-04-01 14:43] jens1o commented on #507
Could you try referencing directly to the executables? https://github.com/PHP-FFMpeg/PHP-FFMpeg#ffmpeg I do not have any deep experiences with centOS, unfortunately.

[2018-04-01 14:46] ShaoGongBra commented on #507
@jens1o
Thinkphp uses this method
First introduced
Use FFMpeg\FFMpeg;
Use it immediately
$ffmpeg = FFMpeg::create();
Here's an error

[2018-04-01 14:47] ShaoGongBra commented on #507
@jens1o
I saw that the tutorial said to install this, but his version is old
Https://sourceforge.net/projects/ffmpeg-php/files/ffmpeg-php/

[2018-04-01 14:47] jens1o commented on #507
You're supposed to change the arguments of `FFMpeg::create` :)

[2018-04-01 14:48] jens1o commented on #507
Oh. I'm sorry, but I can't help you with this, because the project is not affiliated with us(and personally, I never heard of it).

[2018-04-01 14:55] ShaoGongBra commented on #507
@jens1o
So how do you configure the php.ini file when you use it?

[2018-04-01 14:59] jens1o commented on #507
We do not need the `php.ini` file. Why do you intend to change it?

[2018-04-01 15:01] ShaoGongBra commented on #507
@jens1o
I saw the tutorial saying to add this
Extension=ffmpeg.so

[2018-04-01 15:02] jens1o commented on #507
Okay, I see. I think you should rather use this library directly and stop using this (unmaintained) wrapper.

Please use composer to use this library,I'm not able to give you support for that weird extension.

[2018-04-01 15:04] ShaoGongBra commented on #507
@jens1o
In other words, as long as I installed ffmpeg on the server, can I use this library directly?

[2018-04-01 15:05] jens1o commented on #507
Yes, that's true. Sorry for the confusion.

[2018-04-01 15:06] ShaoGongBra commented on #507
@jens1o
I'm from China. The information on our side is not called backward. I'll try it.

[2018-04-01 15:07] ShaoGongBra commented on #507
@jens1o
Is this function used in this library?
shell_exec

[2018-04-01 15:08] jens1o commented on #507
No, we use `proc_open` under the hood.

[2018-04-01 15:09] ShaoGongBra commented on #507
@jens1o
Ok, thank you, I try again

[2018-04-01 16:02] ShaoGongBra commented on #507
@jens1o
Now encountered such an error
Your FFProbe version is too old and does not support `-help` option, please upgrade.
My function disable list is as follows:
Passthru
System
Chroot
Chgrp
Chown
Shell_exec
Popen
Ini_alter
Ini_restore
Dl
Openlog
Syslog
Readlink
Symlink
Popepassthru
Is it because of the reason that these functions are disabled?
I perform ffprobe '-help' in Linux, can display norm

[2018-04-01 16:19] jens1o commented on #507
This sounds like a permission problem identifying itself as too old.

Could you verify that the user hosting the php process has enough permissions to execute, read, and write in the directories?

[2018-04-02 02:11] ShaoGongBra commented on #356
@Scarlicity @Tinywan
你们就不能来句中文吗，我也遇到这个问题了，按照你们的方法都不行，要怎么办

[2018-04-02 02:35] ShaoGongBra opened #508 "How do I add subtitles to a video and then generate a gif image?"
Subtitles are in ejs format

[2018-04-02 03:06] Tinywan commented on #356
@ShaoGongBra  具体什么问题，请你描写清楚一下

[2018-04-02 03:07] ShaoGongBra commented on #356
@Tinywan
Unable to load FFProbe only
就是这个，我发现了，是我的执行路径写错了

[2018-04-02 10:45] jens1o commented on #508
There are no built-in filters for that, you would need to use SimpleFilter. If you want this to be included in `v1.x`, please create am new issue and I'll handle it as a feature request.

[2018-04-02 10:45] #508 closed

[2018-04-02 12:18] laravelish opened #509 "Your FFProbe version is too old and does not support `-show_streams` option, please upgrade."
Hello i am using this package https://github.com/spatie/laravel-medialibrary wich uses your package to generate a thumbnail but i get this error

`Your FFProbe version is too old and does not support `-show_streams` option, please upgrade.`

![screenshot_3](https://user-images.githubusercontent.com/1642161/38195990-c2315b74-3680-11e8-8e58-7422fc15139f.png)

i can run `ffprobe -i tumblr_oizgy3X4fP1

[2018-04-02 12:20] jens1o commented on #509
Could you please verify that there are enough permissions for the process hosting php to execute those files?

[2018-04-02 12:29] laravelish commented on #509
Hi, how do i do that ?

i ran `ps aux | grep -E '[p]hp|[n]ginx' | grep -v root | head -1 | cut -d\  -f1`
the ouput is `admin`

[2018-04-02 13:28] jens1o commented on #509
Often it is the `www-data` user, and this user(group) needs access to all input files, the binaries itself(ffmpeg, ffprobe..) and the output folders.

[2018-04-02 13:40] laravelish commented on #509
@jens1o this is my php-fpm conf

[code]

i changed chown user to admin and root but its the same error again

[2018-04-02 14:02] jens1o commented on #509
Could you just allow the folders to be accessed by `www-data`? I do not use linux as a daily-driver, yet. I'm sorry. But this issue is more likely a permission problem...

[2018-04-02 14:10] laravelish commented on #509
@jens1o i get mkdir(): Permission denied if use www-data

[2018-04-02 14:32] laravelish commented on #509
i dont think it has to do with permission

because `admin:admin` has root access

[2018-04-02 15:35] jens1o commented on #509
Unfortunately, then, I don't know why that should fail. Do you allow `proc_open` in your php.ini files?

[2018-04-02 16:17] laravelish commented on #509
only these are disabled

`disable_functions = pcntl_alarm,pcntl_fork,pcntl_waitpid,pcntl_wait,pcntl_wifexited,pcntl_wifstopped,pcntl_wifsignaled,pcntl_wifcontinued,pcntl_wexitstatus,pcntl_wtermsig,pcntl_wstopsig,pcntl_signal,pcntl_signal_get_handler,pcntl_signal_dispatch,pcntl_get_last_error,pcntl_strerror,pcntl_sigprocmask,pcntl_sigwaitinfo,pcntl_sigtimedwait,pcntl_exec,pcntl_getpriority,pcntl_se

[2018-04-02 17:01] laravelish commented on #509
if i disable proc_open i get this error

`The Process class relies on proc_open, which is not available on your PHP installation.`

so it is enabled by default

[2018-04-02 22:11] laravelish commented on #507
not a permission issue this has something to do with your package

[2018-04-03 08:00] jens1o commented on #507
@laravelish I'm not able to reproduce it?

[2018-04-04 03:40] laravelish commented on #509
@jens1o i'm a idiot !
i added the ffprobe.binaries path to look for ffmpeg instead of ffprobe ! thats why i get the error

so i changed
`'ffprobe.binaries' => '/usr/bin/ffmpeg',`
to
`'ffprobe.binaries' => '/usr/bin/ffprobe',`

now everything works perfectly

if anyone else get similar error they should check their binary paths !

[2018-04-04 03:40] #509 closed

[2018-04-04 08:33] jens1o commented on #509
Puuhh.. Okay, thanks. I'll remember that.

[2018-04-08 09:41] videni opened #510 "can we extract frames constantly instead of received a full video file from user?"
Let's assume a user is uploading a 5 seconds long video as this flow

User   -> Server  A ->  Server B

# the wish

At the first second my php server A receives that video, I need to get  10 pictures  from that 1 second , then deliver these pictures to another server B,  the Server B then reply the process result through  the Server A  to user.   the  so does the rest seconds.

# the reality
curre

[2018-04-08 11:49] jens1o commented on #510
Piping is not supported by this library, and due to PHP lack of support(and usefulness) for that, I need to say that we can't do this.

[2018-04-08 11:49] #510 closed

[2018-04-08 14:16] jerauf opened #511 "Config and unable to location FFProbe"
I'm trying to retrieve a frame of a video. I'm using this code in my controller.

`use Pbmedia\LaravelFFMpeg\FFMpegFacade as FFMpeg;
`
And then to get the frame:

`
	    $media = FFMpeg::open('http://myvideo.com/video/100');
		$frame = $media->getFrameFromString('00:00:13.37');

`

And my error is:

`Unable to load FFProbe`

I looked through the issues here and the config was mentioned but I'm not

[2018-04-08 14:16] #511 closed

[2018-04-08 14:57] jens1o commented on #511
@jerauf Why did you closed the issue?

[2018-04-08 15:05] jerauf commented on #511
I posted it on in the wrong repo. Mean to post in the Laravel version of this.

[2018-04-08 17:58] carrotis opened #512 "How to set interval about progress function?"
Hello PHP FFMPEG users~

$format->on('progress', function ($video, $format, $percentage) {
    echo "$percentage % transcoded";
});

It's call every 1 sec, I'd like to set some values.
How can do that ?

[2018-04-08 18:24] carrotis commented on #512
That code is called every second.
So every second print  "$percentage % transcoded";"
I'd like to set interval.

[2018-04-08 19:03] jens1o commented on #512
That's not possible, because PHP is not event-driven.

[2018-04-08 19:03] #512 closed

[2018-04-09 02:51] ezequiel9 opened #513 "SlideShow from images."
I found many examples by command console but nothing by this library.

I need to create a slideshow from images. VERY SIMPLE slideshow.  Charge dynamically some pictures and add some audio. Anyone know how to do that?

Thanks!

[2018-04-09 03:37] videni opened #514 "how to extract frames without save a video?"
the document for extractMultipleFrames is not clear, since we add the folder  to method `extractMultipleFrames`, why we need to add another path to save method?  the folder is the place to save all frames, but specify it there doesn't  work as  expect, we have to extract frames when transcode a video into another format, this is not what we need.
[code]

[2018-04-09 18:58] jens1o commented on #514
This is because we need to specify an output format in the current version. Adding this as a feature request to remove the need to re-save the video.

[2018-04-09 19:00] jens1o commented on #513
There is no built-in support for that. You'd need to use SimpleFilter's all over the place. I think it is not possible to use this lib, because basically everything bases on one input path, but you could look how far you can go with the concat feature.

[2018-04-09 19:00] #513 closed

[2018-04-14 17:20] carrotis opened #515 "How to set FFMPEG log file ?"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

By default, PHP-FFMPEG write log files on '/tmp/ffmpeg-pass????'
I'd like to write on '/var/log/php-ffmpeg.log'.

How to do that ?