[2012-05-31 14:19] romainneutron opened #1 "Add audio channels interface"

[2012-05-31 14:19] romainneutron opened #2 "Add audiobitrate interface"

[2012-06-05 17:57] nlegoff opened #4 "transcode from video only to audio do not fail"
This execution failed but a runtime exception should be thrown

[2012-06-11 19:23] romainneutron opened #7 "add realtime callback information about processing"
This could be usefull to know how much of the original file has been transcoded

[2012-06-16 13:56] teo1978 opened #8 "Any way to use it without composer?"
Sorry for posting this here, but I can't find any forum nor mailing list. If one exists, I can't find any link to it.

Is it possible to use this library without relying on Composer? I have php 5.1.6 so I can't install composer.

[2012-06-18 10:47] #8 closed, assigned to nobody

[2012-06-20 11:17] romainneutron opened #9 "Add subtitles support"

[2012-10-15 09:24] romainneutron opened #11 "Add effects API"
We've to think about it

[2012-10-15 09:24] romainneutron opened #12 "Add cuepoints"

[2012-11-02 09:59] romainneutron opened #13 "Transcode media to a stream"
http://ffmpeg.org/ffmpeg.html#pipe

[2012-11-30 15:25] Nattar opened #15 "Implement video rotation"

[2012-12-11 15:23] #7 closed, assigned to nobody

[2012-12-13 17:19] bronco0 opened #19 "Optimization for image extraction"
The change is especially useful on long videos because the seek is more important.
I changed the file in this FFMpeg.php php-ffmpeg/php-ffmpeg/src/FFMpeg.

before:
         $ cmd = $ this-> binary
             . '-I'. escapeshellarg ($ this-> pathfile)
             . 'Vframes-1-ss'. $ time
             . '-F image2'. escapeshellarg ($ output);

FFMpeg command:
ffmpeg-i '/ home/720_document.mp4' vf

[2012-12-13 17:30] #19 closed, assigned to nobody

[2012-12-13 17:31] bronco0 opened #20 "Problem with two-pass video encoding."
When using the '-pass' FFMpeg in this write statistics in a log file, the parameter '-passlogfile' allows you to specify the name of the log file, but the current version does not specify the name of the log during the convertion of a video.

Cella problem when two FFMpeg running simultaneously on the server, because both can post at the same time in the log. Or even a writing statistics during th

[2013-01-28 07:36] pulse00 opened #25 "Unable to override process timeout"
Due to the fact that [`ProcessBuilder::create`](https://github.com/symfony/Process/blob/master/ProcessBuilder.php#L36) hardcodes the timeout to `60` seconds and it's currently [not possible](https://github.com/alchemy-fr/PHP-FFmpeg/blob/master/src/FFMpeg/FFMpeg.php#L180) to set the timeout afterwards in php-ffmpeg, longer running transcoding processes will throw a timeout exception.

[2013-02-07 12:05] #20 closed, assigned to romainneutron

[2013-02-11 13:24] romainneutron opened #30 "API update RFC"
See https://gist.github.com/romainneutron/4744947

[2013-03-18 16:13] ghost opened #31 "Some code causes inconsistant aspect ratio"
I have been encoding my videos into a variety of resolutions and was noticing some were consistently out of line with the others. This causes a very jarring effect when you transition from one resolution to another. I use the RESIZEMODE_INSET setting and first thought it may be due to the method getComputedDimensions in the class DefaultVideo but I pulled the code out and tested it and it was fine

[2013-04-16 18:37] #31 closed, assigned to nobody

[2013-04-21 15:21] bricev opened #33 "Unknown errors thrown but actual FFMpeg command works..."
Hi,

First congrat for the work done on PHP-FFmpeg!

I'm using it together with a PHP Job/Queue system to manage video encodings on a distributed architecture. Sadly I've encounter some very strange behaviors during the debug phase.

I'm working on :
- Ubuntu 12.04 LTS server
- PHP5.3.23 (dotdeb) with Suhosin-Patch
- FFMpeg 1.2

I do apply many processes (= FFMpeg commands) on each submitted video

[2013-04-21 16:05] #33 closed, assigned to nobody

[2013-04-21 16:05] #25 closed, assigned to romainneutron

[2013-05-30 14:53] Tanariel opened #39 "Symfony 2.0 compatible ?"
Composer.json indicate the following :

"require": {
        "php"             : ">=5.3.3",
        "symfony/process" : "~2.0"

The problem being that symfony version 2.0 doesn't include any library called "processBuilder" in FFProbe.php (use Symfony\Component\Process\ProcessBuilder;).

The processBuilder appear in the symfony2 api only from symfony 2.1. (source : http://api.symfony.com/2.0/index.

[2013-05-30 14:58] #39 closed, assigned to nobody

[2013-06-04 18:10] tgabi333 opened #41 "Change Binary timeout to maintain backward compatibility"
In 0.2.1, a new function process timeout customization appeared which arrived with one minute timeout on any conversation process.

I think it would be better to set it to 0 to maintain backward compatibility with previous versions.

[2013-06-04 19:03] #41 closed, assigned to nobody

[2013-06-26 13:14] bricev opened #43 "Timecode or TimeCode ?"
I guess there is an issue with `FFMpeg\Media\Video` : the public function **frame()** (line 156) seems to use ' _Timecode_ $at ' (with no capital C) in its signature for `FFMpeg\Coordinate\TimeCode`

I did not tried yet but I guess its going to issue an error :)

[2013-06-26 13:17] #43 closed, assigned to nobody

[2013-06-28 17:19] romainneutron opened #44 "FFprobe -help may fail with older ffmpeg versions"

[2013-07-03 18:46] #2 closed, assigned to nobody

[2013-07-03 18:53] #44 closed, assigned to nobody

[2013-07-15 21:00] ghost opened #45 "Unable to load FFProbe"
I know this isn't exactly an issue with this package, but I have this error: "Unable to load FFProbe", and there does not seem to be any FFProbe binaries in the entire internet for PHP (5.4). FFMpeg is installed and working, but can't find anything on Probe. Running windows WAMP server for development and Linux server for production, if anyone has any ideas where to get these.

[2013-07-16 08:32] #30 closed, assigned to nobody

[2013-07-16 08:33] #11 closed, assigned to nobody

[2013-07-23 20:10] #45 closed, assigned to nobody

[2013-07-23 20:12] romainneutron opened #46 "Video Synchronize filter synchronize but leaves metadata"
Videos are rendered correctly in players that do not care about this sync metadata (purpose of the filter) but when playing in quick time player (that takes care about metadata), desynchronisation occurs.

Metadata should be removed.

[2013-08-01 11:14] spantaleev opened #47 "Video::save() cannot be called multiple times"
`Video::save()` has the side-effect of adding filters, which means that you can't reliably call it multiple times.

Here's an example:

[code]

`Audio::save()` likely exhibits the same behavior.

IMO, this should either be fixed by:
- removing the side-effects - moving from `$this->addFilter()` calls to a new local `FiltersCollection`
- documenting the current behavior

[2013-08-02 08:52] jonagoldman opened #48 "Get duration of external video file"
I want to know if its possible to get the duration (video length) of an external file for example 'http://video-js.zencoder.com/oceans-clip.mp4'

I know its possible using FFmpeg-PHP but not sure if you support this and how to make it work.

Thanks!!

[2013-08-05 16:02] #48 closed, assigned to nobody

[2013-08-05 17:14] #47 closed, assigned to nobody

[2013-08-08 10:14] #46 closed, assigned to nobody

[2013-08-27 12:11] ghost opened #53 "[Question] Usage without ffprobe"
Is there a way to use this without having ffprobe installed?
Or is there a quick way to install it on OSX without compiling?

The problem is, that there are compiled binaries for `ffmpeg`, but not for `ffprobe` for OSX.

THX. Frank

[2013-08-27 13:06] #53 closed, assigned to nobody

[2013-08-30 06:51] baochungit opened #54 "I can't download the package"
Don't know why it happens

[2013-08-30 07:24] #54 closed, assigned to nobody

[2013-09-12 14:28] serpro opened #59 ""Encoding failed" with nginx and php-fpm"
I got this error every time I try to run the script

But if I ran it manually in the command-line it works fine (the ffmpeg command)

I also tried [this](https://github.com/alchemy-fr/BinaryDriver#binary-detection-troubleshooting) solution you have in other project, but it doesn't solve the issue

[2013-09-30 22:04] bfeyaerts opened #64 "FFProbe not found, PHP-FFmpeg not working..."
Similar to issue #45, I seem to have a problem loading FFProbe (but that issue didn't actually present any working solution).
I use Xampp (32-bit version) on a Windows 7 (64-bit) computer.
PHP version is 5.4.7.

Before trying PHP-FFmpeg I had (and still have) ffmpeg-php installed.
After a fruitless search for decent (install) information about ffmpeg-php, I found out it was simply too slow, so the

[2013-10-02 08:28] #64 closed, assigned to nobody

[2013-10-09 18:32] romainneutron opened #66 "FFMpeg does not support single pass codecs"
As two passes are harcoded in the video media

[2013-10-10 12:20] #66 closed, assigned to nobody

[2013-10-10 13:17] #59 closed, assigned to nobody

[2013-10-10 17:13] #4 closed, assigned to nobody

[2013-10-21 09:10] Elite opened #69 "Allow multiple streams stream as input"
I am using this ffmpeg command in my PHP script and came across your library, I am particularly interested in the "progress" provided by this library. I am not very proficient to programming and would like to ask whether equivalent of this is possible in PHP-FFmpeg.

`ffmpeg -i $aacAudioStreamURL  -i $mp4VideoStreamURL -acodec copy -vcodec copy -f matroska -map_metadata -1 out.mp4`

[2013-10-21 09:58] romainneutron opened #70 "Open multiple streams as input"
see #69

[2013-11-09 02:18] gnumbs opened #71 "Run video encoding in background"
I use PHP-FFmpeg for online video encoding, and it's very useful...But I need to allow users to do other things during video encoding.

In other words, the php script must proceed after call of PHP-FFmpeg's save function, like the "ffmpeg" command has "&" option.

Can PHP-FFmpeg do this ?

Thanks, and sorry for my bad english.

[2013-11-18 14:21] jonathanlundstrom opened #72 "Set video bitrate"
Hello and thanks for this awesome wrapper. I've been experimenting with it for a few hours now and finally got things running the way I'd like them to except for one thing, the bitrate.

How do I go about setting the bitrate for the conversions, it's really essential as I need to be able to control the quality.

Thanks in advance,
Jonathan

[2013-11-20 13:14] jonathanlundstrom opened #73 "Set frame dimension"
Hello!

When you choose to save a frame from the video, is there any way to make it save the video in a specific dimension. In my case I want to create posters and thumbnails, so I have to save two different times, but I'd like to have different dimensions.

[2013-11-20 13:16] #73 closed, assigned to nobody

[2013-11-21 09:48] #72 closed, assigned to nobody

[2013-11-28 15:46] jdunmore opened #76 "Remote File Frame Grabbing"
Hi,

This is probably an enhancement, not an issue.
If I disable the "is_file" and "is_readable" checks, the frame grabbing will work with a remote URL - e.g. an http link to a video hosted on S3.

Support for this would be fantastic for what we are trying to do. I'll try and create a fork and send a pull request, but I'm not going to have time for a few weeks - if someone else knows of any quick

[2013-11-28 16:49] #15 closed, assigned to nobody

[2013-11-29 10:39] #76 closed, assigned to nobody

[2013-11-29 11:44] romainneutron opened #78 "rotation x resize issue"
Since we have a rotation filter, applying rotation of 90° or 270° and resize filter on the same media results in a wrong output if the resize mode is not set to `fit`.

As resize computes final dimension based on the source dimension, as width and height are inverted in case of a 90° (counter) clockwise rotation.

There are multiple solutions to this issue :
- Merge resize and rotate filter so the

[2013-11-29 23:10] MilosL opened #80 "FFProbe - bit rate information per stream"
First, many thanks for this impressive library.
FFMpeg \ ffprobe provides a lot of metadata and the format () method also returns bit_rate property for all streams.
It would be nice to have bit rate also for each stream separately.

[2014-01-14 22:46] lukedanielson opened #82 "Your FFProbe version is too old and does not support `-help` option, please upgrade."
When trying to use FFprobe in this package, it throws an exception saying it is too old, yet I have upgraded to the latest version of FFmpeg and FFprobe, and running <code>ffprobe -help</code> works in the console/terminal.

Installed the package via composer as so:

[code]

The error traces to line 60 of <code>/vendor/php-ffmpeg/php-ffmpeg/src/FFMpeg/FFProbe/OptionsTester.php</code>:

[code]

Thi

[2014-03-02 14:01] codeclown opened #84 "How to debug a failed encoding?"
How do I get a more specific reason for a failure when encoding? Is it possible, even?

At the moment I just get an error like this:

[code]

There's also another exception:

[code]

Obviously, these do not provide much help. I may be missing a codec or something, but how do I find that out?

[2014-03-02 14:31] #84 closed, assigned to nobody

[2014-03-17 08:04] zang opened #85 "x264 audio encoder"
Is it possible to use libfdk_acc to encode x264 audio?

Thanks,
Alex

[2014-03-18 07:52] #85 closed, assigned to nobody

[2014-03-19 00:56] tdaryani01 opened #86 "PHP-FFMPEG throws runtime exception but the the ffmpeg process is still running."
Hi,

First of all, I would like to thank you for the awesome library you have built.

I have been using PHP-FFMpeg for couple of months and it has been great. Yesterday, My server had utilized its CPU 100%. looking into the cause I realized that there were quite few processes running ffmpeg. It turns out that my worker was trying to encode an avi file, but each time it would fail because of a fram

[2014-03-19 07:35] #78 closed, assigned to nobody

[2014-03-19 07:36] #71 closed, assigned to nobody

[2014-03-19 07:37] #70 closed, assigned to nobody

[2014-03-24 09:31] cchacholiades opened #87 "Create frame"
I am developing an application with laravel and I am using php ffmpeg to do multiple things, probe, extract frame and encode. I am having an issue with creating a frame from the uploaded video file.
This is how I am creating the frame:
            $video  = $ffmpeg->open($destinationPath.'/'.$filename);

            $video
                ->frame(FFMpeg\Coordinate\TimeCode::fromSeconds(10))

[2014-03-24 20:32] slaviczavik opened #88 "Image to video?"
Hi,

is possible to set an image(wetermark) to video?

Thx

[2014-03-27 19:26] abhaysharma opened #89 "Unable to load FFProbe - WAMP"
I am able to run the ffmpeg and ffprobe through command line but in the browser it gives me "Unable to load FFProbe" error. I have followed steps mentioned in https://github.com/PHP-FFMpeg/PHP-FFMpeg/issues/64

[2014-03-27 20:02] abhaysharma opened #90 "Encoding Failed"
I am running the basic script provided in the documentation. This is on a linux server. I am using a .mov file for testing. The frame is generated but the encoding fails with the following error.

[code]

The ffmpeg is working good through cmd line, also it works  if I run shell_exec

[code]

[2014-03-31 20:35] gbrlsnts opened #91 "Custom enconding settings"
How can I specify custom encoding settings? save method currently has hardcoded settings, is it possible to specify my own?

[2014-04-08 11:59] jkaflik opened #92 "Symfony2 ProcessUtils escapeshellarg() warning"
Hello,

I got issue with php-ffmpeg/php-ffmpeg 0.4 with symfony 2.4.

Stacktrace:

[code]

Snippet code:

[code]

$file is just Symfony's UploadedFile object.

[2014-04-08 14:47] #92 closed, assigned to nobody

[2014-04-20 17:19] MrHash opened #93 "Support for WAV encoding"
I have a basic WAV encoder. I think this should be a standard format for this library. Can i submit a pull request?

[2014-04-21 09:43] #93 closed, assigned to nobody

[2014-04-21 10:09] romainneutron opened #94 "Add a proper debugger"

[2014-04-22 13:37] sudo-tee opened #96 "Map audio stream"
I would like to know if it's possible to save a video with only one audio.

Comming from a MULTI Audio video, let's say I only want the second Audio stream with my video.

With ffmpeg I would use the -map option.

Any help would be appreciated.

thanks a lot

[2014-05-08 19:16] zang opened #97 "Improve Encoding Speed"
a) I am trying to reduce the encoding time and would like to know if there is a best practice on what variables / options we can tweak.  e.g. bitrates settings, -vsync 2, etc.

b) We need to encode each video source into mp4 / webm / ogg. I am wondering if there is an option to run 3 encoding process in parallel to same some time. As we all know, video formats are just different containers, and th

[2014-05-08 19:22] zang opened #98 "Rotate iPhone videos"
For the videos that taken from iPhone vertically, the encoded videos are shown 90° counterclockwise or 90° clockwise. How to detect the degree,  rotate the video to the right degree and possibly extracting an image? Some sample code will be great if that is possible :)

thanks in advance,
Lucy

[2014-05-08 22:57] zang opened #99 "Videos Not Playing on iPad"
I've done some testing with nearly 100 videos of different formats, the encoded mp4 videos plays well on most devices / browsers, but a handful of them do not play on ipad / iPhone. I understand that iDevices only able to handle certain type of videos (e.g. Resolution, frame rate etc), and I am wondering that if we can have an option to encode iDevices friendly videos to make sure they always play

[2014-05-09 16:40] #98 closed, assigned to nobody

[2014-05-15 23:01] kenianbei opened #100 "Is concat of files possible currently?"
I wasn't able to find any concat filter mentioned in the API. Is this possible or would I have to write a filter? Any tips on how to do this?

This is the ffmpeg command:

ffmpeg -i 1.wav -i 2.wav -filter_complex '[0:0][1:0][2:0][3:0]concat=n=4:v=0:a=1[out]' -map '[out]' output.wav

[2014-05-19 23:30] cyke opened #101 "Frame to GD Image ? (instead of a file)"
Hello.

Is there a way to put the frame result in a php ressource ?
Like we had with the old ffmpeg-php "$frame->toGDImage()"

Thanks.

[2014-05-22 07:17] #99 closed, assigned to nobody

[2014-05-22 13:36] jarodium opened #102 "Unable to Load PHP"
Hello

Can someone tell how to I load PHP-FFMpeg without composer?
I'm using at the top of the page:

<?php
    require_once("FFMpeg/FFMpeg.php");
    require_once("FFMpeg/FFProbe.php");
    require_once("FFMpeg/FFMpegServiceProvider.php");

?>

[2014-05-22 13:38] #102 closed, assigned to nobody

[2014-06-02 15:51] SimonSimCity opened #103 "Can't read duration for webm"
Currently, it's impossible for me to get the duration of an webm video-file.

I am using the module in version 0.4.4 and I just get a list of streams back, where I have the stat-time, but not the end-time and neither a duration.

By calling `ffprobe` by hand, without any extra, adding `-print_format json`, I don't get the duration in the JSON as well.

Can you please add an option to read the dura

[2014-06-03 07:47] #103 closed, assigned to nobody

[2014-06-07 22:48] #97 closed, assigned to nobody

[2014-06-07 22:51] zang opened #105 "Set profile for H264"
I am trying to convert mov to mp4. Is there a way to specify profile? I.e. I'd like to use Main profile. Thanks in advance.

[2014-06-10 15:24] jberns88 opened #107 "Preserving pixel ratio"
I have a video that I'm trying to convert from 1920x1080 (pixel ratio of 1:1) to 1280x720 so I added the following filter:
$video->filters()->resize(new \FFMpeg\Coordinate\Dimension(1280, 720), \FFMpeg\Filters\Video\ResizeFilter::RESIZEMODE_INSET);

The resultant videos dimensions are 1280x536. I know that the pixel ratio will be adjusted accordingly but I think it should be at least trying to ach

[2014-06-10 16:16] #107 closed, assigned to nobody

[2014-06-26 21:12] #105 closed, assigned to nobody

[2014-06-26 21:21] zang opened #110 "Default Audio Issue"
I can see the default audio set to 128k from:
protected $audioKiloBitrate = 128;

And, I can see default option used when failed to get audio bitrate, e.g:
if (null !== $format->getAudioKiloBitrate()) {
            $commands[] = '-b:a';
            $commands[] = $format->getAudioKiloBitrate() . 'k';
}

===  Step 1 ===
The following is the command generated and failed to run for a video named origi

[2014-06-27 12:24] pollyrobin opened #111 "Big avi files"
When i do the following

video = $ffmpeg->open("test.avi");
I get the message that the command can't be executed
 Fatal error: Uncaught exception 'Alchemy\BinaryDriver\Exception\ExecutionFailureException' with message 'ffprobe failed to execute command '/usr/bin/avprobe' 'test.avi' '-show_streams' '-print_format' 'json''

when i  literally run /usr/bin/avprobe' 'test.avi' '-show_streams' '-print_f

[2014-07-04 09:57] madtechsupport opened #112 "pear installation fails."
sudo pear install codescale/FFmpegPHP2
downloading FFmpegPHP2-2.7.0.tgz ...
Starting to download FFmpegPHP2-2.7.0.tgz (1,541,863 bytes)
........................................................................................................................................................................................................................................................................

[2014-07-05 14:17] #112 closed, assigned to nobody

[2014-07-24 03:32] muyline opened #114 "how can i get the video duration"
how can i get the video duration, I do not find the function. Anyone can help me?

[2014-07-24 07:37] #114 closed, assigned to nobody

[2014-08-12 18:34] nomaam opened #116 "Watermark"
Is it possible to add a watermark to a video by using this code? If so could you provide an example? I couldn't find anything on it in your readme file.

Thanks.

[2014-08-12 18:52] #116 closed, assigned to nobody

[2014-08-12 18:55] #1 closed, assigned to nobody

[2014-08-13 17:52] mhf-ir opened #117 "get current video width and height"
how can i get current size of video height and width !? I cant find any useful method

[2014-08-13 18:33] #117 closed, assigned to nobody

[2014-08-18 22:03] ghost opened #119 "How to install on wampserver"
i tried to much but cannot success if anyone know please tell me

[2014-08-21 13:36] mhf-ir opened #120 "Remove meta data during convert to another format"
I want to add option `-map_metadata -1` to convert for remove all meta dataduring converting video and audio. i can see any useful method for this.
Is there any method ?

Problem was found when i convert mp3 with cover art into ogg it's use cover art as video layer and output is Video with cover art and ogg audio.

http://superuser.com/questions/441361/strip-metadata-from-all-formats-with-ffmpeg#a

[2014-08-22 08:53] #119 closed, assigned to nobody

[2014-08-23 06:08] hoandang opened #121 "Unable to load FFProbe on Ubuntu 12.04 ?"
I know this is a very common issue but after trying the solutions from other issues, the ffprobe still is not found.

I installed ffmpeg via this method <a href="http://trac.ffmpeg.org/wiki/CompilationGuide/Ubuntu"> http://trac.ffmpeg.org/wiki/CompilationGuide/Ubuntu</a>  and the ffmpeg and ffprobe are located in the user path ~/bin. so I export the path to global path in .zshrc by doing so

[code

[2014-09-01 14:33] ghost opened #122 "How to merge audio with video"
**Dear developers**

This project is completely awesome.

But I can't find any doc for merge audio with mute video.

Can you please help me, How can i do this?

[2014-09-08 15:07] curtisdf opened #124 "x264 encoding options are hard-coded for ALL video formats"
In FFMpeg/Media/Video.php, it is evident by browsing the contents of this file that upon saving a video, there are about a dozen command-line flags that automatically get used no matter what type of video is being encoded. But those options all are normally associated with x264 encoding.  These options are hard-coded and cannot be overwritten or turned off without subclassing this class and rewrit

[2014-09-09 00:09] iSaadSalman opened #125 "Best approach for processing the videos in background?"
Can please elaborate what is the best approach for converting the video in background? I went to Bernard PHP site but I'm still not able to grasp the concept of it.

In my setup for converting the videos, I'm using separate server for processing the videos and using queue and cron combination to let processor server know what to process. The problem is that request can be very long ( 1 - 6 hours e

[2014-09-09 08:01] #125 closed, assigned to nobody

[2014-09-12 08:39] Gemorroj opened #126 "Convert mp4 from 3gp"
Hello.
I create mp4 file from 3gp:

[code]

Result:

<pre>
ffmpeg version 0.10.11 Copyright (c) 2000-2014 the FFmpeg developers
  built on Mar  4 2014 16:23:17 with gcc 4.4.7 20120313 (Red Hat 4.4.7-3)
  configuration: --prefix=/usr --bindir=/usr/bin --datadir=/usr/share/ffmpeg --incdir=/usr/include/ffmpeg --libdir=/usr/lib --mandir=/usr/share/man --arch=i686 --extra-cflags='-O2 -g -pipe -Wall -Wp

[2014-09-23 13:34] bbaronSVK opened #129 "Frame and display aspect ratio"
When you want to save Frame from video, where is SAR different from DAR output image is with wrong dimension.

[code]

Output dimension is 640x360 but not 847x360 as video.
This help me.

[code]

[2014-09-29 21:49] #100 closed, assigned to nobody

[2014-10-30 07:00] vipezz opened #130 "save part of a video"
It would be nice if we would be able to save part of a video. Say we have a clip of 40 seconds, end we would like to extract a video from it, starting from sec 20 to sec 28. Any chance to add this possibility?

[2014-11-13 16:37] sy2nyk opened #133 "merge two video files"
Hi! How i can merge two video (mp4) files with PHP-FFMpeg library?

[2014-11-30 12:00] Sc3n3 opened #135 "Your FFProbe version is too old and does not support `-show_streams` option, please upgrade."
Hi.

I've searched the problem a little bit. I see, OptionTester is seaching show_streams in FFmpeg's help. Not FFprobe's.

$output = $this->retrieveHelpOutput(); returns ffmpeg -help.

[root@snc845 ~]# ffprobe -help
ffprobe version 2.4.3 Copyright (c) 2007-2014 the FFmpeg developers
  built on Nov 30 2014 11:15:32 with gcc 4.1.2 (GCC) 20080704 (Red Hat 4.1.2-55)
  configuration: --disable-yasm

[2014-12-09 18:42] brokentone opened #137 "AAC library discrepancy"
The AAC Audio format relies on libfdk_aac, whereas the X264 Video format relies on libfaac.

It seems unlikely that anyone would have both installed, so it would seem that one or the other will always be failing. Is there perhaps a different way to specify which library is available, or should we update one or the other? My thought would be to update both to "libfdk_aac" for the moment as this is

[2014-12-12 18:12] willmorgan opened #140 "What version of the ffmpeg / ffprobe binaries is supported?"
This would help when provisioning environments.

[2014-12-22 19:08] sathio opened #142 "is there a way to re encode a video dropping the audio?"
Hi, on the Readme it is mentioned that is possible to isolate video or audio, but I didn't find any way to do this. I'd like to remove audio from a video, the equivalent of "-an" on the raw command to ffmpeg.

cheers

[2015-01-02 16:59] sathio commented on #126
Hi I'm having the same problem, where would I add this hook? and how would I invoke it?

thanks

[2015-01-12 14:27] jayers commented on #121
$ffmpeg = \FFMpeg\FFMpeg::create(array(
    'ffmpeg.binaries'  => '/usr/bin/ffmpeg',
    'fprobe.binaries' => '/usr/bin/ffprobe',
));

you miss a 'f'

it should be

$ffmpeg = \FFMpeg\FFMpeg::create(array(
    'ffmpeg.binaries'  => '/usr/bin/ffmpeg',
    'ffprobe.binaries' => '/usr/bin/ffprobe',
));

[2015-01-12 18:05] serialworm commented on #121
Good catch.

[2015-01-23 18:53] mnek84 opened #143 "Frame from Half the video"
How can i get a frame picture from the half of the video?

[2015-01-23 19:02] mnek84 commented on #143
i found this alternative
	$video = $ffmpeg->open($filePath);
	$streams = $video->getFFProbe()->streams($filePath);

	$duration = 0;
	foreach ($streams as $stream) {
		$codecT = $stream->get('codec_type');
		if ($codecT=="video"){
			$duration = $stream->get('duration');
		}
	}

	$frame = $video->frame(FFMpeg\Coordinate\TimeCode::fromSeconds($duration/2));

there is another way to do it?

[2015-01-28 16:15] CSI68 opened #144 "Don't understand Format"
Hello,

I try to manipulate video file to test PHP-FFMpeg but when I try the demo script I obtain this error :

Fatal error: Class 'Format\Video\X264' not found in /var/www/clemweb/public_html/ffmpeg/index.php on line 19

My code:

require(dirname(__FILE__).'/vendor/autoload.php');

$ffmpeg = FFMpeg\FFMpeg::create(array(
    'ffmpeg.binaries'  => '/usr/bin/ffmpeg',
    'ffprobe.binaries' => '/usr/

[2015-01-28 16:48] CSI68 opened #145 "Concate 2 video files"
Hello,

Is there possible to concate 2 videos in 1 file ? Add video2 just after video1 and save it to video. ?

Thanks

[2015-01-28 16:49] CSI68 opened #146 "Create video from jpg"
Hello,

Is it possible to generate 1 video file from multiple jpeg file ?

Thanks

[2015-01-29 12:59] nlegoff commented on #144
Hi,

Try

[code]

[2015-01-29 13:00] nlegoff commented on #146
Hi,

The API does not provide this feature.

[2015-01-29 13:00] #146 closed

[2015-01-29 13:05] CSI68 commented on #144
Hi,

Thanks for your response but same problem :
Fatal error: Class 'FFMPeg\Format\Video\X264' not found in /var/www/clemweb/public_html/ffmpeg/index.php on line 19

[2015-01-29 13:08] nlegoff commented on #144
Yep sorry :
[code]

[2015-01-29 13:11] CSI68 commented on #144
It's a bit better but :
Fatal error: Uncaught exception 'Alchemy\BinaryDriver\Exception\ExecutionFailureException' with message 'ffmpeg failed to execute command '/usr/bin/ffmpeg' '-y' '-i' '/var/www/clemweb/public_html/ffmpeg/dexter.avi' '-async' '1' '-metadata:s:v:0' 'start_time=0' '-s' '50x40' '-vcodec' 'libx264' '-acodec' 'libfaac' '-b:v' '1000k' '-refs' '6' '-coder' '1' '-sc_threshold' '40' '

[2015-01-29 13:49] nlegoff commented on #144
You will get more detail about the error that occurred in ffmpeg if you execute the generated command in your terminal! Maybe you dont have the proper codec installed on you system.

[2015-01-30 11:03] ozzon91 commented on #144
On Jan 29, 2015 3:11 PM, "Clément" <notifications@github.com> wrote:

'Alchemy\BinaryDriver\Exception\ExecutionFailureException' with message
'ffmpeg failed to execute command '/usr/bin/ffmpeg' '-y' '-i'
'/var/www/clemweb/public_html/ffmpeg/dexter.avi' '-async' '1'
'-metadata:s0' 'start_time=0' '-s' '50x40' '-vcodec' 'libx264' '-acodec'
'libfaac' '-b:v' '1000k' '-refs' '6' '-coder' '1' '-sc_thresh

[2015-01-30 19:09] romainneutron commented on #144
try to run

[code]

in your terminal

[2015-01-30 19:09] romainneutron commented on #143
It's the right way

[2015-01-30 19:09] #143 closed

[2015-01-30 19:10] romainneutron commented on #137
It's supported in the latest version.

[2015-01-30 19:10] #137 closed

[2015-01-31 08:29] CSI68 commented on #144
Hi romainneutron,

I obtain this

ffmpeg version 0.8.16-6:0.8.16-1, Copyright (c) 2000-2014 the Libav developers
  built on Sep 16 2014 23:10:48 with gcc 4.7.2
The ffmpeg program is only provided for script compatibility and will be removed
in a future release. It has been deprecated in the Libav project to allow for
incompatible command line syntax improvements in its replacement called avconv
(s

[2015-01-31 11:23] romainneutron commented on #144
You should probably ask google

[2015-01-31 11:27] #144 closed

[2015-01-31 14:47] geofmureithi opened #147 "Is it possible to clip an audio"
To clip a video we do this;

[code]

why can't we do it for an audio?

[2015-02-04 08:38] Metrakit opened #149 "Get duration with ffmpeg object"
Hi!

It's possible to get directly the video duration after have created the object "ffmpeg" like that : "$ffmpeg->open('myVideoURL');" ?

I have tired "$ffmpeg->getDuration();" or "$ffmpeg->get('duration');" but it doesnt exist..

Thanks for your help.

[2015-02-04 08:40] Metrakit commented on #114
Hi,

Have you find how to it ?

Thanks.

[2015-02-06 06:37] muyline commented on #114
[code]

[2015-02-06 12:57] Metrakit commented on #114
ok thanks

[2015-02-14 04:20] tbergeron opened #150 "Working from CLI but not using PHP library"
Code:

[code]

Logs;

[code]

But when I run the same file from CLI: `ffmpeg -i ~/workshop/IMG_0383.m4v ~/workshop/IMG_0383.mp4`

It works with no hassle. Anybody has an idea why this might happen?

I compiled ffmpeg with every codecs following this guide: http://trac.ffmpeg.org/wiki/CompilationGuide/Ubuntu

Thanks

[2015-02-14 06:48] tbergeron commented on #150
Only thing I see as a difference is that from CLI it uses `libfdk_aac` but it seems to try to use `libfaac` instead, or maybe I'm talking gibberish since I'm not really an expert in that area hehe.

I also made sure I was using the same binary. Here's a complete log of a file I was trying to convert earlier using your lib:

[code]

[2015-02-14 06:50] tbergeron commented on #150
I forced `libfdk_aac in X264.php:22 and it worked!!!

So now all I gotta do is find a way to pass `libfdk_aac` as a parameter somewhere.

[2015-02-14 06:53] tbergeron commented on #150
Got it! For the record I did:

[code]

[2015-02-14 06:53] #150 closed

[2015-02-16 17:43] Ortix92 commented on #149
It says how to do this **right** in the docs:
[code]
or a more fluent style:
[code]

[2015-02-17 12:28] Metrakit commented on #149
Yes thanks i found before

[2015-02-17 12:28] #149 closed

[2015-02-25 16:42] #87 closed

[2015-03-09 22:16] primedirective commented on #137
I think I'm running into the same problem here. My `FFMpeg\Format\Video\X264()` video save is failing out with FFMpeg not recognizing the audio format. It *does* seem to work in the command line if I force it to use `libfdk_aac`. The incoming file format is MP4/MP3.

Trying to update PHP-FFMpeg via Composer in my project isn't yielding much luck though. It's claiming that I already have the latest

[2015-03-15 17:18] JoeDawson commented on #88
I too am interested in trying to do this, I've browsed the README several times but can't see any way of doing so. Although I have done with the command line. Preferably though, I'd love to include audio too.

This works from the command line;

[code]

I was wondering how I would do this with this package?

[2015-03-18 16:39] amontero commented on #89
Same problem here on Windows Server 2008 R2 64b. and Ffmpeg 0f16dfd-win64-static.
I also try this:

            $ffmpeg = \FFMpeg\FFMpeg::create(array(
                'ffmpeg.binaries' => 'C:/Program Files (x86)/Ffmpeg/bin/ffmpeg.exe',
                'fprobe.binaries' => 'C:/Program Files (x86)/Ffmpeg/bin/ffprobe.exe',
            ));

but doesn't work.

Any idea?

[2015-03-19 00:37] zang opened #152 "Save video clip as gif image"
what's the best way to save part of a video as gif? E.g. First 8 seconds

Thanks in advanced,
Lucy

[2015-03-20 16:33] DavidDomain commented on #142
Try the following.
First create your own video format like it is described in the readme file or by coping an existing video format. Then add the get extra params method to your custom format like so:
[code]
You can find this method in the DefaultAudio abstract class. Since DefaultVideo extends DefaultAudio this should work just fine. This is what the docs are saying:

[code]
I tested this by addi

[2015-03-21 06:56] karthikeyan-m opened #153 "ffmpeg failed to execute command '/usr/bin/avconv"
Failed to convert video . I have used the basic usage code.

Fatal error: Uncaught exception 'Alchemy\BinaryDriver\Exception\ExecutionFailureException' with message 'ffmpeg failed to execute command '/usr/bin/avconv' '-y' '-i' '/home/user/Downloads/small.flv' '-async' '1' '-metadata:s:v:0' 'start_time=0' '-s' '320x240' '-vcodec' 'libx264' '-acodec' 'libfaac' '-b:v' '1000k' '-refs' '6' '-coder' '1'

[2015-03-22 15:22] gbaumgart opened #154 "use avconv and and avprobe only?"
Hi,
is there a simple to make this lib using av-tools only?
thank you! nice lib, my concrats!

[2015-03-23 18:59] pdhayes opened #155 "Expand RuntimeException message in src/FFMPEG/Media/Audio.php & Video.php"
On line 100 of src/FFMPEG/Media/Audio.php can we change the error message thrown to
throw new RuntimeException('Audio Encoding failed', $e->getCode(), $e); ?

Also on line 168 of src/FFMPEG/Media/Video.php , can we change the error message thrown to
 throw new RuntimeException('Video Encoding failed', $failure->getCode(), $failure); ?

[2015-03-25 12:40] devendragohil opened #156 "WAMP - "Unknown encoder libfaac" error"
I have downloaded ffmpeg package from http://ffmpeg.zeranoe.com/builds for windows 64-bits and have set the ffmpeg.exe path in environment variables. Now, if I simply run the code to transcode the video :
$ffmpeg = FFMpeg\FFMpeg::create();
$video = $ffmpeg->open($video_path);
$format = new FFMpeg\Format\Video\X264();
$format->setKiloBitrate(1000)
        ->setAudioChannels(2)
        ->setAudioKil

[2015-04-06 08:28] amontero commented on #156
May be you have the same problem as: https://github.com/PHP-FFMpeg/PHP-FFMpeg/issues/89

Anyway, have you tried this:
$format->setAudioCodec("libmp3lame");

[2015-04-06 18:25] mateusjatenee opened #157 "Fatal error: Uncaught exception 'Alchemy\BinaryDriver\Exception\ExecutionFailureException' with message 'ffprobe failed to execute command '/usr/bin/ffprobe' '-help' '-loglevel' 'quiet''"
Hi there,
I'm trying to run PHP-FFMpeg on a development server. Running it on my Mac is fine - I can't convert to mp4 files, but except that, everything works good. In the development server, I get the following error. FFMpeg and FFProbe are installed.

Fatal error: Uncaught exception 'Alchemy\BinaryDriver\Exception\ExecutionFailureException' with message 'ffprobe failed to execute command '/usr/b

[2015-04-07 20:19] #157 closed

[2015-04-07 20:19] mateusjatenee commented on #157
Found the problem running the commands on Terminal.
Thx

[2015-04-16 03:15] Grald commented on #90
@sean-madhavan, how did u solve that problem i got same error too. and i downloaded the latest version what the next step? thank you in advance

[2015-04-23 10:00] QuentinLORIOT opened #158 "Can get current file size from Progress Listener"
Hello,

From the progress listener, we can get percentage, remaining time and rate of encoding.

I saw many other attributes which they could be convenient into the class AbstractProgressListener.php, like the Current File Size.

I tested to use these others attributes and I just had to put a new element with the attribute wanted into the array returned by the method getProgressInfo (in AbstractPr

[2015-04-23 11:47] ghotgalkar commented on #90
Install FFMpeg like this

[code]

Remove the older version first.

[2015-04-24 02:39] Grald commented on #90
thanks @ghotgalkar for the comment. How about on linux platform?

[2015-04-30 09:07] virendravyas opened #161 "Frame capturing is not working"
Hello Friends,

I have installed FFMpeg on /var/www location on my Centos 6 machine. I have also installed PHP-FFMpeg on the same location.

Now I created a capture.php file in which I placed the code of capturing the frame from the video as described in the README.md.

I placed this capture.php and video.mp4 file in same /var/www/html folder and run the file but it's not generating any frame.

I

[2015-05-14 20:55] tchalvak commented on #45
https://trac.ffmpeg.org/wiki/CompilationGuide/Ubuntu#ffmpeg appears to be the linux/ubuntu guide, for anyone searching for that.

[2015-05-22 02:00] Grald commented on #90
Hi guys, why i can't transcode video using php-ffmpeg in CENTOS server I tried in terminal and it works perfectly using root then the command but if not root 'encoding failed' occured. any idea what happening?

[2015-05-27 07:00] allan-simon commented on #133
https://github.com/we-bridge/PHP-FFMpeg/pull/1  you or the author of php-ffpmeg may want to rework that pull request to integrate the feature mainstream

[2015-05-29 07:00] sameer1750 opened #164 "How to resize a screen capture before saving."
Hello i want to know how can i resize a video screen shot before saving it.

[2015-06-02 11:02] cwbeck opened #165 "BUG - ffmpeg failed to execute command."
[code]

Yet this works just fine.

[code]

[2015-06-11 09:27] studhm opened #166 "Avconv latest versions"
There is a breaking change in the way the last avconv version displays a stream information (I didn't test with ffmpeg)

avconv version 11-6:11-1 :
<pre>Stream #0.0(und): Video: h264 (Main), yuv420p, 512x384 [PAR 1:1 DAR 4:3], 589 kb/s, 25 fps, <strong>12800 tbn</strong>, 50 tbc``</pre>

avconv version 9.18
<pre>Stream #0.0(und): Video: h264 (Main), yuv420p, 512x384 [PAR 1:1 DAR 4:3], 589 kb/s, 25

[2015-06-11 09:44] studhm commented on #166
Wrong repo sorry...

[2015-06-11 09:44] #166 closed

[2015-06-22 13:37] devendragohil commented on #156
I have the same problem but I cannot use libmp3lame as it is not producing audio in iOS devices. Please let me know how to solve this?

[2015-06-23 12:55] gopalindians opened #167 "Video thumbnail generation not working."
Installed PHP-FFMpeg via composer(current version) ,code printing nothing,generating no thumbnails.
FFmpeg version 0.6.5

[code]

[2015-06-26 08:12] done commented on #105
Ran into the same problem, did you happen to find a solution for this you'd like to share?

[2015-07-02 14:37] ivokun opened #168 "ffmpeg failed to execute command"
Hi,

I got an error "ffmpeg failed to execute command" with

ffmpeg failed to execute command '/usr/share/nginx/html/converter/ffmpeg' '-y' '-i' '/usr/share/nginx/html/storage/app/phpjZyeuE.mp4' '-vcodec' 'libx264' '-acodec' 'libfaac' '-b:v' '1000k' '-refs' '6' '-coder' '1' '-sc_threshold' '40' '-flags' '+loop' '-me_range' '16' '-subq' '7' '-i_qfactor' '0.71' '-qcomp' '0.6' '-qdiff' '4' '-trellis'

[2015-07-03 01:35] wyklif opened #169 "meaningful time info"
is there a way i can get the duration in a format like 00:00:06 corrently i am getting something like 6.00000

[2015-07-03 02:16] #169 closed

[2015-07-04 09:29] OElesin opened #170 "FFProbe not working on Mac Although Installed"
Fatal error: Uncaught exception 'Alchemy\BinaryDriver\Exception\ExecutableNotFoundException' with message 'Executable not found, proposed : avprobe, ffprobe' in /Applications/XAMPP/xamppfiles/htdocs/video/vendor/alchemy/binary-driver/src/Alchemy/BinaryDriver/AbstractBinary.php:160 Stack trace: #0 /Applications/XAMPP/xamppfiles/htdocs/video/vendor/php-ffmpeg/php-ffmpeg/src/FFMpeg/Driver/FFProbeDriv

[2015-07-07 09:51] Ortix92 opened #171 "Disable subtitles"
I'm taking a lot of screenshots (extracting frames) from videos (anime) using PHP-FFMpeg but some videos automatically decode the subtitles. Any way to forcefully disable the subtitles and not render them?

[2015-07-11 09:31] atiberius commented on #82
I had this problem myself on XAMPP and I solved by putting this line:
DYLD_LIBRARY_PATH=/usr/bin
just before the line:
export DYLD_LIBRARY_PATH
from /Applications/XAMPP/bin/envvars and then restarted XAMPP.
Thanks, lukedanielson and codeclown!

[2015-07-14 20:28] tolstoyleo opened #172 "Executable not found, proposed : avprobe, ffprobe"
similar to issue #45 and #66, except that I have avprobe and ffprobe and ffmpeg all in my system path.

this is on ubuntu 14.04

root@youknow-me:~# which ffmpeg
/usr/bin/ffmpeg

which ffprobe
/usr/bin/ffprobe

echo $PATH
/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games

So I don't understand why it's not finding the binaries. It'd be nice if I could specify

[2015-07-14 20:52] tolstoyleo commented on #172
more info:

Alchemy\BinaryDriver\Configuration Object ( [data:Alchemy\BinaryDriver\Configuration:private] => Array ( [ffmpeg.binaries] => /usr/bin/ffmpeg [ffprobe.binaries] => /usr/bin/ffprobe ) )

for the life of me I cannot figure out why this vendor library will not load these executables.

[2015-07-20 08:43] 0x1ad2 commented on #89
# How I did it
I'm using the following directory for the FFMpeg binaries: **C:\FFmpeg\bin**

* Download the binaries and place them into a **C:\** directory in my case.

* Set your [Windows PATH variable](http://superuser.com/a/284351) **be sure to set both the user and system variable**.

* Open up your CLI (command line interface) by running **cmd.exe** and check if **FFMpeg** could be executed.

[2015-07-20 08:44] 0x1ad2 commented on #45
# How I did it
I'm using the following directory for the FFMpeg binaries: **C:\FFmpeg\bin**

* Download the binaries and place them into a **C:\** directory in my case.

* Set your [Windows PATH variable](http://superuser.com/a/284351) **be sure to set both the user and system variable**.

* Open up your CLI (command line interface) by running **cmd.exe** and check if **FFMpeg** could be executed.

[2015-07-20 17:45] jeffsrepoaccount opened #173 "PHP-FFMpeg and multiple outputs"
According to [here](https://trac.ffmpeg.org/wiki/Creating%20multiple%20outputs), ffmpeg supports transcoding to multiple output files given a single input file in one command:

[code]

Is this functionality available or on any roadmap for this project?  As far as I can tell, `$video->save()` only takes a single input format / output path.

[2015-07-22 16:37] maxdeviper commented on #172
try adding making it executable by using
 sudo chmod +x  /path/to/ffmpeg|ffprobe/binary
Solved the same problem I had.

[2015-07-22 17:58] tolstoyleo commented on #172
ls -la ffmpeg
-rwxr-xr-x 1 root root 17033152 Jul 14 13:53 ffmpeg

ls -la avprobe
-rwxr-xr-x 1 root root 60560 Apr 10 16:22 avprobe

it's been that way, same error, i've just stopped using this bundle because of it. crap library.

[2015-08-04 03:13] bentinata commented on #45
I also thought just put `ffmpeg` and `ffprobe` at `PATH` would solve this problem. Maybe, I do wrong somewhere?

[2015-08-07 07:53] 0x1ad2 commented on #45
@bentinata just use the path's to the binaries in you unix machine mostly something like /usr/binaries/mmpeg or something.

[2015-08-24 14:13] jerson opened #175 "Save metadata changes"
Hi, im new here, its posible update the metadata of an audio file, something like

[code]

[2015-08-31 10:16] Lyberii opened #176 "Unable to probe video"
I'm using php-ffmpeg on windows with yii2, and encountered with a issue says “FFMpeg\Exception\RuntimeException

Unable to probe small.mp4
↵
Caused by: Alchemy\BinaryDriver\Exception\ExecutionFailureException

ffprobe failed to execute command "D:\Program Files\ffmpeg\bin\ffprobe.EXE" "small.mp4" "-show_streams" "-print_format" "json"

in E:\WebRoot\cloud\vendor\alchemy\binary-driver\src\Alchemy\B

[2015-09-02 13:29] sujayjaju opened #177 "FFMpeg v2.7 auto rotation feature breaks scaling"
Starting v2.7 FFmpeg automatically rotates videos based on metadata
So if a rotated video is converted using a resize filter, the aspect ratio gets inverted.

Please let me know if more information is required on this.

[2015-09-12 22:31] blainesch commented on #88
:+1: would really love this feature

[2015-09-15 16:57] robertkraig commented on #175
http://wiki.multimedia.cx/index.php?title=FFmpeg_Metadata might want to look up how it's done manually to do it via the library.

[2015-09-22 13:19] anasri opened #179 "ffmpeg and fpm 5.4 and nginx"
Hi
I got this error while compile ffmpeg
[root@server ffmpeg-php]# make
/bin/sh /usr/src/ffmpeg-php/libtool --mode=compile cc  -I. -I/usr/src/ffmpeg-php -DPHP_ATOM_INC -I/usr/src/ffmpeg-php/include -I/usr/src/ffmpeg-php/main -I/usr/src/ffmpeg-php -I/usr/local/php54/include/php -I/usr/local/php54/include/php/main -I/usr/local/php54/include/php/TSRM -I/usr/local/php54/include/php/Zend -I/usr/local/p

[2015-09-22 13:24] anasri commented on #179
[root@server ffmpeg-php]# make
/bin/sh /usr/src/ffmpeg-php/libtool --mode=compile cc  -I. -I/usr/src/ffmpeg-php -DPHP_ATOM_INC -I/usr/src/ffmpeg-php/include -I/usr/src/ffmpeg-php/main -I/usr/src/ffmpeg-php -I/usr/local/php54/include/php -I/usr/local/php54/include/php/main -I/usr/local/php54/include/php/TSRM -I/usr/local/php54/include/php/Zend -I/usr/local/php54/include/php/ext -I/usr/local/php54/i

[2015-09-29 05:51] tuxado opened #180 "progressbar sample"
Hi'

I need plz a sample of transcoding video items stored on database with progressbar and store the proegressiion on database for every items because the docs of the api thas not clear...

Tkx

[2015-10-03 12:21] hitswa opened #181 "Working offline but not on server."
Its working offline very smoothly. But when i tried to do this on my server its showing an alert saying "Request failed!". In chrome console I am getting following response.

"jquery-latest.min.js:4 Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check http://xhr.spec.whatwg.org/."
at jquery-latest.min.js:4

[2015-10-13 13:19] danrot opened #182 "updating evenement to 2.0"
We would like to use your library in one of our projects, but we are also already using another library, which is dependent on evenement 2.0, which results in a conflict.

Are there any plans to upgrade to the latest version of evenement, so that we can make use of both libraries? Or are there any problems regarding the update?

[2015-10-18 09:43] samthomson commented on #156
Try any of the following: libvo_aacenc, libfaac, ~~libmp3lame~~, libfdk_aac

[code]

[2015-10-18 09:45] samthomson commented on #168
run the command via the command line to get detailed error output on what the actual cause of the exception is, likely you are missing an encoding library (libfaac likely). Include your code next time ;)

[2015-10-18 09:49] samthomson commented on #153
run the command via the command line to get detailed error output on what the actual cause of the exception is, likely you are missing an encoding library (libfaac likely) in which case you can try any of the following (depends on what's installed on your system): libvo_aacenc, libfaac, libmp3lame, libfdk_aac

[code]

[2015-10-19 17:45] citosid opened #183 "Is it possible to create m3u8 playlists?"
I need to create an m3u8 playlist, is possible do it with this?

[2015-10-20 12:03] ivan0013 commented on #158
Hi, I know this is not the best place to post this, but I need some tips using this plugin. I want to create a progress bar, so for me is enough getting the percentage of the conversion. How did you do to retrieve it? I have tried this piece of code:

$format->on('progress', function ($video, $format, $percentage) {
        echo "$percentage % transcoded";
    });

It works, but I need to put it i

[2015-10-20 12:05] ivan0013 commented on #180
Same here. I would need some tips to get the conversion percentage via $ajax.

Thank you very much!

[2015-10-20 12:29] QuentinLORIOT commented on #158
Hi Ivan,

Your piece of code is good.

When I want to start an encoding, I put a flag into my database to notify a daemon script to run the encoding for the video downloaded, so it's a server thread which are used.
Then during the encoding I put the progress data into the database, with something like this:

$format->on('progress', function ($video, $format, $percentage) {
      <Here I update the

[2015-10-20 17:46] tuxado commented on #180
Hi
I Test this lib the progress fonction it is not verry great precision

$dbmanager // variable of tout database
$item // item stores un tour data base

$format = new Format\Video\X264();
$format->on('progress', function ($video, $format, $percentage) use ($dbmanager, $item) {
    $dbmanager->update(($item->setprorgress($progress)));
});

$format
    -> setKiloBitrate(1000)
    -> setAudioChannel

[2015-10-21 09:35] ivan0013 commented on #180
Thanks. This is a very useful info. I haven't thought about the possibility of storing the % on the DB and then read it.

[2015-10-21 09:35] ivan0013 commented on #158
Thanks. This is a very useful info. I haven't thought about the possibility of storing the % on the DB and then read it.

[2015-10-22 05:31] tuxado commented on #180
I forget you need to force the progress at 100 % like this change the last line like this :p

If  ($video->save($format, 'video.avi'))
{
$dbmanager->update(($item->setprorgress(100)));
}

[2015-10-30 09:16] warrickbayman commented on #176
I'm seeing this as well, but only with some videos. On Centos 7.

[2015-11-12 23:56] lucadem1313 commented on #122
Hi developers, have you made any progress on this subject?

[2015-11-16 17:50] sheikhasadmuneer opened #185 "Class not found"
i'm getting below error .

Fatal error: Class 'FFMpeg\FFMpeg' not found in C:\xampp\htdocs\last\index.php on line 5

Here's the code i'm trying to run

<?php

  $FFMpeg = FFMpeg\FFMpeg::create( [
            'ffmpeg.binaries'  => 'C:/xampp/htdocs/last/FFMpeg/bin/ffmpeg.exe',
    	    'ffprobe.binaries' => 'C:/xampp/htdocs/last/FFMpeg/bin/ffplay.exe',
            'timeout'          => 3600, // the

[2015-11-20 20:28] sheikhasadmuneer opened #186 "How to run PHP-FFMPEG on server ?"
i ran this project , it works perfectly on my local machine (windows )
but when i uploaded it on server , it doesnt work
Below is the code i tried to run

<?php

 require('vendor/autoload.php');

  $ffmpeg = FFMpeg\FFMpeg::create([
            'ffmpeg.binaries'  => 'bin/ffmpeg.exe', // the path to the FFMpeg binary
            'ffprobe.binaries' => 'bin/ffprobe.exe', // the path to the FFProbe bin

[2015-11-20 20:29] sheikhasadmuneer commented on #185
figured out the probem !! lol

[2015-11-20 20:29] #185 closed

[2015-11-23 17:10] chyupa opened #187 "FFMpeg install on laravel"
Hi,

I tried installing ffmpeg on laravel and I have an error:
Call to undefined method FFMpeg\FFMpegServiceProvider::isDeferred()

The package was installed through composer.

Kindly advise.
Thanks!

[2015-11-24 07:12] chyupa commented on #187
Hi,

I fixed this.
The error comes when you try and autoload the service provider, but if you use as standalone it works.

Regards!

[2015-11-24 07:12] #187 closed

[2015-11-25 08:57] smilemd commented on #129
there is a DisplayRatioFixerFilter wich should solve your problem without editing original code.

just use:

$video->frame(\FFMpeg\Coordinate\TimeCode::fromSeconds(5)->filters()->fixDisplayRatio();

[2015-11-25 09:51] gabrielkaputa commented on #172
i had the same problem, made no sense so i gave it the path to binaries explicitly like it says in https://github.com/PHP-FFMpeg/PHP-FFMpeg#ffmpeg and it worked

[2015-11-27 16:46] clagiordano opened #188 "Merge two or more video files"
Hi,

there is a way to merge (concatenate) two or more video files?

Best regards.

[2015-11-30 23:08] sheikhasadmuneer commented on #186
Resolved , i was giving the binaries path wrong !

[2015-11-30 23:08] #186 closed

[2015-11-30 23:32] sheikhasadmuneer opened #189 "Cut a video"
what is the equivalent method of this ffmpeg cmd command ?
it cuts input.mp4 from 0-5 seconds and gives an output video named (output.mp4)
ffmpeg -ss 0  -t  5  -i  'input.mp4' output.mp4

Thanks

[2015-11-30 23:44] sheikhasadmuneer opened #190 "Image Extraction from external file ?"
i wan to know is it possible to extraction frames (per second ) of external video file ?

e.g:

https://www.havenondemand.com/sample-content/videos/hpnext.mp4

[2015-12-01 01:03] alangregory opened #191 "Activity"
This project is still officially active?

[2015-12-03 20:40] onlyway opened #192 "Catching errors"
How can I catch errors while changin video format? Try catch doesn't work in this case.

[2015-12-04 13:22] onlyway opened #193 "Using watermark and rotation during the same request"
When I'm using watermark filter, rotation is set to 0. Is it normal or is it any walkaround?

[2015-12-08 20:09] saulporras opened #194 "Class 'FFMpeg\FFMpeg' not found"
So I am completly new to this composer thing I already installed the composer and installed ffmpeg using composer.

What can I do to fix this problem:

"Fatal error: Class 'FFMpeg\FFMpeg' not found "

this is the only line I added so far to my code:

"$ffmpeg = FFMpeg\FFMpeg::create();"

Thanks.

[2015-12-09 20:14] saulporras commented on #194
like I said,

I am new to composer so all I had to do after installations was adding this line:

require __DIR__ . '/vendor/autoload.php';

[2015-12-11 22:58] underparnv opened #195 "[PROPOSAL] Checking for binary pre-install"
Thought about using a method similar to that outlined in http://stackoverflow.com/a/25062884/4276640 to check for the requisite binaries before installation.

If unable to locate them, ask for a config file to be made with the path(s), perhaps?

Just bouncing an idea around to see if there is interest in an implementation of this since requiring this library into your project requires the use of t

[2015-12-15 12:31] lingtalfi commented on #89
Thanks massimans, using the ffprobe's full path did it for me (so obvious when you think about it).

[2015-12-30 20:53] edianogama commented on #189
$ffmpeg = FFMpeg\FFMpeg::create();
$video = $ffmpeg->open('input.mp4');

$video->filters()->clip(FFMpeg\Coordinate\TimeCode::fromSeconds(0), FFMpeg\Coordinate\TimeCode::fromSeconds(5));

$video->save(new FFMpeg\Format\Video\WebM(), 'output.mp4');

[2015-12-30 21:15] edianogama commented on #133
@allan-simon I can use this now ? I view the commits of @we-brige but the function is not avaiable for me in composer. "php-ffmpeg/php-ffmpeg": "~0.5"
How I can use this ?
Thanks;

[2016-01-04 12:20] adnnor commented on #194
I am also facing this error. File is missing vendor/autoload.php

[2016-01-08 23:42] NSBrianWard commented on #71
So my understanding is that this would significantly decrease CPU usage when running FFMpeg in the background (Dean's answer): http://stackoverflow.com/questions/2946479/lower-cpu-used-by-ffmpeg-process-via-php-flv-video-conversion

[2016-01-12 16:29] keygenqt commented on #90
thanks @ghotgalkar!!

[2016-01-21 21:25] charlesmudy opened #196 "Formating"
Hi,

I'm not sure I understand the formating, what do I do if I want and output in ogv?

[2016-01-22 13:05] SnehalK12 opened #197 "Cannot convert 3gp To mp4 format"
C:\>"C:\WINDOWS\system32\ffmpeg.EXE" "-y" "-i" "/path/to/3gp video" "-vcodec" "libx264"
 "-acodec" "libfaac" "-c:a" "copy" "-profile:v" "baseline" "-level" "3.0" "-b:v"
 "1000k" "-refs" "6" "-coder" "1" "-sc_threshold" "40" "-flags" "+loop" "-me_ran
ge" "16" "-subq" "7" "-i_qfactor" "0.71" "-qcomp" "0.6" "-qdiff" "4" "-trellis"
"1" "-b:a" "128k" "-pass" "1" "-passlogfile" "C:\DOCUME~1\dev1\LOCALS~

[2016-01-23 11:43] #196 closed

[2016-01-25 15:03] iCodeWp opened #198 "How to compress video?"

[2016-02-03 06:24] ihemantkumar opened #199 "How to detect rotation angle of video uploaded from any smartphone like android and iPhone using ffmpeg 2.8"
I used to work on ffmpeg 2.2 until now and was detecting rotation angle of video uploaded from android / iPhone mobiles and rotate the resulting video so that it run perfectly on a correct angle.

But since I have updated the ffmpeg to version 2.8 I am getting this rotation problem. My queries are not rotating the videos as they were earlier.

Here'r the commands I was using:

To check rotation an

[2016-02-11 12:42] murnieza commented on #172
I am also experiencing the same problem. It does not make any sense.

[2016-02-15 08:54] farico commented on #90
Thanks @romainneutron for your commnt! Printing out errors revealed me that $ffmpeg->save(); could not save to target directory (even it was chmodded to 0777). I have changed it to /tmp/anyname and now it works.

[2016-02-17 22:44] bakerstreetsystems commented on #90
Thanks @ghotgalkar

[2016-02-18 11:05] ghotgalkar commented on #90
@Grald sorry for the super late reply. Not tried on linux. The main issue is that you need the compile flags to make sure you have all the requirements for audio and video encoding.

I found a lot of info on https://trac.ffmpeg.org/wiki/CompilationGuide

and also there is something specific for CentOS on https://trac.ffmpeg.org/wiki/CompilationGuide/Centos

Hopefully this helps.

[2016-02-19 02:38] TheLuckyOne commented on #194
And don't miss:
`use FFMpeg; `

[2016-02-20 01:08] Grald commented on #90
@ghotgalkar it's okay now thanks :)

[2016-02-22 10:12] Grimbode opened #201 "Transcoding percentage stops at 64%/65% when clipping a video."
Dumping out the percentage transcoded of a video being clipped (Only take the first 30% of the video length). Transcoding goes up to 64% or 65%. Then it stops.

The video is correctly clipped in the output folder, but I would like to know the moment it gets done, to add another operation to the completed video.

Any ideas why this isn't working?

[code]

[2016-02-22 16:11] Grimbode commented on #176
Having the same problem.

[2016-02-22 16:12] Grimbode commented on #201
I have found a temporary solution, which is to calculate roughly the percentage "limit". It has it's downsides and occasionally throws a "unable to probe" error.

[2016-02-25 18:48] JD719 opened #202 "How do you include this class the regular way?"
I don't know what composer is.
How do you include() the class?
Is it possible?

[2016-02-26 01:52] vibhavsinha opened #203 "API link is returning 404"
The API link in README.md is returning 404 on the readthedocs website.

[2016-03-01 16:06] jpost commented on #182
I am running into the same problem. Any thoughts on upgrading?

[2016-03-02 02:19] patkar commented on #202
You should really take a look at https://getcomposer.org/ and how it works. A simple include is not possible!

[2016-03-02 14:05] NerdGr8 commented on #135
Did you end up resolving this issue?
Having the same issue on IIS

[2016-03-02 14:10] JOOSTR commented on #135
I "fixed" it by making the application pool to run as administrator.
Previously I managed to fix it by giving IUSR and IIS_USRS full permissions to the executable, though that didn't work this time.

[2016-03-02 14:53] NerdGr8 commented on #135
@JOOSTR correct that works!

Thanks so much

[2016-03-05 17:00] #182 closed

[2016-03-05 18:42] romainneutron commented on #203
Please give me the link, I don't know what you're talking about

[2016-03-05 18:42] #203 closed

[2016-03-05 18:42] #202 closed

[2016-03-05 18:43] romainneutron commented on #194
Please check composer https://getcomposer.org/

[2016-03-05 18:43] #194 closed

[2016-03-05 19:01] patkar commented on #195
The stackoverflow answer misses one topic. Composer hooks are only executed on the root package. If you add those to PHP-FFMPeg, they have no effect. You have to mention them in in the install docs. Not the best usability improvement to now. Especially, where to write the config file?

How about Symfony, Laravel and others frameworks who have their own way to configure stuff? This would conflict.

[2016-03-05 19:02] patkar commented on #192
Do you have code examples?

[2016-03-05 19:04] patkar commented on #191
@romainneutron seems busy with blackfire.io, but he is cleaning up a little bit atm, so you can count this lib still as active, even if there are hardly releases ;)

[2016-03-05 19:06] patkar commented on #179
The ffmpeg-php extension has nothing to do with this library and the extension seems btw EOL

[2016-03-05 19:22] #179 closed

[2016-03-05 19:23] #135 closed

[2016-03-05 20:05] vibhavsinha commented on #203
Line 410 of ./README.md
Link is http://readthedocs.org/docs/ffmpeg-php/en/latest/_static/API/

Browse the [API](http://readthedocs.org/docs/ffmpeg-php/en/latest/_static/API/)

[2016-03-06 23:54] patkar commented on #198
Please ask questions on http://stackoverflow.com/questions/tagged/php-ffmpeg, a question is not an issue :)

[2016-03-06 23:54] #198 closed

[2016-03-06 23:56] patkar commented on #199
It seems you are using ffmpeg standalone and not this lib, please ask generic ffmpeg questions on http://stackoverflow.com/questions/tagged/ffmpeg

[2016-03-06 23:56] #199 closed

[2016-03-07 00:00] patkar commented on #195
The underlying library `AlchemyDriver`, which handles the communication with the binary itself, does a limited auto-discovery of the binaries already if not supplied by configuration.

[2016-03-07 00:00] #195 closed

[2016-03-07 00:01] patkar commented on #193
Can you give code examples? How do you apply filters? Please be detailed, so we can reproduce.

[2016-03-07 00:02] patkar commented on #191
Since now I help maintain it, so yes :grimacing:

[2016-03-07 00:02] #191 closed

[2016-03-07 00:03] patkar commented on #183
@citosid Is it possible with ffmpeg? If yes, tell us how please? If not, no. But IMHO a m3u playlist is a simple text file, thus I don't understand why you would need a library or ffmpeg?

[2016-03-07 00:04] patkar commented on #189
@sheikhasadmuneer Is it solved?

[2016-03-07 00:05] patkar commented on #181
@hitswa The chrome console has nothing to do with a php error. Please be specific about your error. Do you get any messages in the web servers error log?

[2016-03-07 00:07] patkar commented on #176
@Lyberii @warrickbayman @Grimbode Which error do you get on console, if you execute the command from the exception (without the quotes) directly on a command line?

[2016-03-07 00:10] patkar commented on #173
Do you know if this has any speed or performance improvements instead of calling `$video->save()` multiple times?

[2016-03-07 00:10] patkar commented on #173
@jeffsrepoaccount Do you know if this has any speed or performance improvements instead of calling `$video->save()` multiple times?

[2016-03-07 00:12] patkar commented on #172
Do you have open basedir set? Please also mind, the `PATH` for webserver is most of the time not the same as the `PATH` of your user account.

[2016-03-07 00:14] patkar commented on #170
"Duplicate" of #172 :)

[2016-03-07 00:14] #170 closed

[2016-03-07 00:15] patkar commented on #154
@gbaumgart Use case?

[2016-03-07 00:16] patkar commented on #171
@Ortix92 Do you know how is this done with ffmpeg itself? If yes, please tell us and be detailed and specific.

[2016-03-07 00:17] patkar commented on #168
@ivokun Still a problem?

[2016-03-07 00:17] patkar commented on #165
@cwbeck Still a problem?

[2016-03-07 07:04] #154 closed

[2016-03-07 09:27] Ortix92 commented on #171
@patkar unfortunately I don't know. I have stopped developing my application for now. You can find it here: https://github.com/Ortix92/torshot

[2016-03-07 10:24] patkar commented on #171
May you research please?

[2016-03-07 13:12] jeffsrepoaccount commented on #173
@patkar The issue I was facing at the time was attempting to transcode a few thousand videos on an oversized EC2 instance.  Using php FFMpeg was failing to saturate all of the cores, yet running the command line version above would. If I remember correctly, there were also issues with different codecs not being able to be multithreaded anyway, so calling `$video->save()` would block all other enco

[2016-03-07 13:21] patkar commented on #173
I think this could be implemented like the following, if only the formats would differ.

[code]

But in your example the size differs, which means a separate filter and thus not solveable with the current filter implementation. May you take a look at #141 if such filter chains could be a step forward to this?

[2016-03-07 14:45] murnieza commented on #172
It can't be `PATH` problem, as following code works:
[code]

`which` searches in `PATH` and find exwcutables.

[2016-03-07 14:56] patkar commented on #172
What does `var_dump(getenv('PATH'))` contain?

[2016-03-07 14:59] murnieza commented on #172
[code]

I find this problem really strange, as code looks good and it works on some platforms.

[2016-03-07 15:07] patkar commented on #172
Damn strange. Definitely no open basedir restriction set? `var_dump(ini_get('open_basedir'))`

Please also test those two, to be really sure:

* `var_dump(is_file(exec('which ffmpeg')))`
* `var_dump(is_executable(exec('which ffmpeg')))`

[2016-03-07 15:10] murnieza commented on #172
All good.

[code]

[2016-03-07 15:12] patkar commented on #172
Fuuuuuu, that's strange :(

[2016-03-07 15:13] patkar commented on #172
Erm, you tested this all on console. Can you please test your `test.php` through the webserver?

[2016-03-07 15:23] murnieza commented on #172
Currently I have no possibility to test that on my server which have problem. Will get back to this one when I have it available.

[2016-03-07 15:26] murnieza commented on #172
I encountered that problem while running CLI script so it should not matter.There is output from web request:

[code]

[2016-03-07 15:32] patkar commented on #172
Dr. Strange strikes again ^^

[2016-03-07 15:33] patkar commented on #172
Please add for the purpose of reproducing the output of `composer show -i`

[2016-03-07 15:51] patkar commented on #172
And maybe copy your whole composer.json and composer.lock to hastebin please, so we can get exactly the same vendors :)

[2016-03-07 23:38] sheikhasadmuneer commented on #189
@patkar  : Yes , but now i am not using FFMPEG via PHP CLASS , installed ffmpeg build on my ubuntu server . works perfect !

[2016-03-08 00:27] #189 closed

[2016-03-08 01:12] patkar commented on #189
Btw, it's a whole library not only a class :wink:

[2016-03-08 01:13] jeffsrepoaccount commented on #173
Yeah, I imagine that PR is probably a step forward. As a consumer, ideally I would think that a single invocation should be able to somehow coalesce to any number of outputs, each with their own size/format combination, or any possible set of options that command-line ffmpeg allows.  That said, I also appreciate the esoteric nature ffmpeg command-line options, so it may be hard to design a way to

[2016-03-08 01:16] patkar commented on #173
So you define the format as a complete output line in this example. Would be a big BC break ^^ But looks reasonable :+1:

Must analyse the current code more deeply to take decisions for such new features, but any 1.0 release in the future has BC breaks, for sure :grimacing:

[2016-03-08 11:31] jeffsrepoaccount commented on #173
I think it should be fairly easy to support BC, at least in this feature thread (not really sure about filter graphs).

`->save()` with no arguments: Build command-line options through filter graph and added formats
`->save()` with arguments: "BC Mode"

[2016-03-08 11:43] patkar commented on #173
The point is not only the `save()` method. Adding methods to a interface like format is a BC too, it breaks implementors, which are not using the abstract `DefaultVideo` and `DefaultAudio` classes. But I think this is not the biggest problem, as long it's properly documented.

[2016-03-08 12:26] vibhavsinha commented on #203
@romainneutron Please re-open this issue. Should I create a new issue?

[2016-03-08 12:49] patkar opened #208 "Create docs and update API docs"
| Q | A
| --- | ---
| Bug? | yes
| Version Used | -
| Feature request? | yes

PHP-FFMPep needs a whole documentation on e.g. readthedocs.org, so the README get's smaller and the usability and content of the docs can be improved.

Besides that the API docs must be fixed to be reachable again. But it should be considered if API docs are really needed, if a good documentation exists.

[2016-03-08 12:50] patkar commented on #203
@vibhavsinha Now covered within #208

[2016-03-08 23:58] #192 closed

[2016-03-08 23:58] patkar commented on #201
@Grimbode Do you have code examples? Is it possible you can fix it in PHP-FFMpeg?

[2016-03-08 23:59] #193 closed

[2016-03-08 23:59] #183 closed

[2016-03-08 23:59] #181 closed

[2016-03-09 00:00] patkar commented on #180
If you have generel questions about the usage which is not a bug, please ask them on http://stackoverflow.com/questions/tagged/php-ffmpeg

[2016-03-09 00:00] #180 closed

[2016-03-09 00:01] #176 closed

[2016-03-09 00:03] patkar commented on #177
@sujayjaju Docs in FFmpeg documenting this automatic rotate? Has FFmpeg a flag/option to disable it?

[2016-03-09 00:04] patkar commented on #188
https://trac.ffmpeg.org/wiki/Concatenate

[2016-03-09 00:09] patkar commented on #190
You should be able to pass all [supported protocols by ffmpeg](https://www.ffmpeg.org/ffmpeg-protocols.html) to the `open()` method.

[2016-03-09 00:09] #190 closed

[2016-03-09 00:10] patkar commented on #197
@SnehalK12 still actual?

[2016-03-09 00:11] #168 closed

[2016-03-09 00:11] patkar commented on #167
@gopalindians Still a problem?

[2016-03-09 00:11] #165 closed

[2016-03-09 00:12] patkar commented on #145
See #188

[2016-03-09 00:12] #145 closed

[2016-03-09 00:13] patkar commented on #164
If you have generel questions about the usage which is not a bug, please ask them on http://stackoverflow.com/questions/tagged/php-ffmpeg

[2016-03-09 00:13] #164 closed

[2016-03-09 00:14] patkar commented on #161
@virendravyas When reporting errors, always post your code and possible error messages please. The description of you is not reproducible.

[2016-03-09 00:14] #161 closed

[2016-03-09 00:20] patkar commented on #158
@QuentinLORIOT If you know what to do, please create a Pull Request.

@ivan0013 If you have generel questions about the usage which is not a bug, please ask them on http://stackoverflow.com/questions/tagged/php-ffmpeg

[2016-03-09 00:23] patkar commented on #156
Seems your version missing an encoder. Anyway, try the official ffmpeg version, not a fork or whatever Zeranoe is..

[2016-03-09 00:23] #156 closed

[2016-03-09 00:26] patkar commented on #126
@Gemorroj still actual?

[2016-03-09 00:45] citosid commented on #183
@patkar with ffmpeg is possible by doing something like:

[code]

I don't remember why I wanted to create the M3U8 with PHP and this library... the question was 4 months ago... but either way, we decided to go with Python instead of PHP (for the specific things in ffmpeg).

Thank you for your reply.

[2016-03-09 06:37] sujayjaju commented on #177
Under change log: https://raw.githubusercontent.com/FFmpeg/FFmpeg/master/Changelog it says:
version 2.7:
...
\- Automatically rotate videos based on metadata in ffmpeg
...

Thats the only documentation I found.

There is a "-noautorotate" option to disable it.

[2016-03-09 07:50] patkar commented on #177
Thanks, this should be automatically incorporated, depending if the installed ffmpeg supports it to keep BC and maybe a autorotate filter or similar if autorotate is really needed..

[2016-03-09 07:54] patkar commented on #133
See #188

[2016-03-09 07:54] #133 closed

[2016-03-09 20:54] clagiordano commented on #188
Thank you for your answer, I know that method and I have used it with php shell exec functions.
I hope it is implemented as a new feature in the future.

[2016-03-09 21:05] clagiordano commented on #188
Best (and fast) way indeed is use concat demuxer but video parts must be much as possible similar in video format, audio frequency, and obviously codec otherwise the demuxer generate artefacts or unpredictable results.
A useful trick is, as shown by documentation, a conversion to mpeg transport streams, only the container will be changed not the streams but simplifies final concat operation.
I use

[2016-03-09 21:17] patkar commented on #188
Thanks for the info :+1:

[2016-03-09 21:18] patkar commented on #152
@zang Is it supported in ffmpeg?

[2016-03-09 21:20] patkar commented on #147
@acemureithi ffmpeg support exists?

[2016-03-09 21:21] patkar commented on #140
At least those one installed on Travis and tested with :smirk:

[2016-03-09 21:26] patkar commented on #188
Duplicate of #69

[2016-03-09 21:26] #188 closed

[2016-03-18 06:55] NSBrianWard commented on #124
So right after the `-trellis 1` flag that's coded into the actual ffmpeg command that gets run (in **FFMpeg/Media/Video.php**), I want to insert `-pix_fmt yuv420p` to because without it there seem to be some issues dealing with quicktime rle files. Any thoughts on how to do this correctly? I tried popping it straight into the file, and that solved my problem. But in a production environment, I'm n

[2016-03-21 02:52] jack-fdrv commented on #64
What mean "Have you registered the path to FFMpeg binary folder in your system Path ?" ?

[2016-03-21 03:14] jack-fdrv opened #210 "Fatal error: Uncaught avprobe, ffprobe, Unable to load FFProbe"
Hello, I got the error when installed and run code from example.

Mac IOS 10.9.5
Virtual Local server with Mamp Pro 3.5
PHP v - 7.0.0

Installed with composer.

$ which FFMpeg
`/usr/local/bin/FFMpeg`
$ which FFProbe
`/usr/local/bin/FFProbe`

$ which avprobe
`/usr/local/bin/avprobe`
$ which ffprobe
`/usr/local/bin/ffprobe`

Here the error:

`Fatal error: Uncaught Alchemy\BinaryDriver\Exception\Exec

[2016-03-21 06:26] patkar commented on #210
Hi @jack-fdrv, this seems to be a duplicate of #172

To be sure, please post your result of the following tests:
[code]

and the output of `composer show -i`. Would be also helpful if you post your `composer.json` and `composer.lock` to hastebin or similar.

P.S.: When creating a issue, you were presented with an issue template. You are supposed to fill out the template as it says and don't ignore

[2016-03-21 15:04] jack-fdrv commented on #210
Ok, thank you =)
Well after play around it I have realized that the problem was in path to avprobe and ffprobe is `/usr/local/bin/ffprobe`, while it should be `/usr/bin/ffprobe`, so I have manually created symlinks and it start working =)

If some one will have the same problem, just move ur exstention to `/usr/bin'

[2016-03-21 15:19] patkar commented on #210
Thanks for the info.

[2016-03-21 15:19] #210 closed

[2016-03-22 02:46] jack-fdrv commented on #210
New Info, i have update my system to El Capitan and now we have protection for the /usr/bin folder, we cant disable it with [this](http://apple.stackexchange.com/a/196226/105812) commands to prevent this error `/usr/bin : Operation not permitted` but I read readme.md and found that we can specify the path to extensions with this code:

[code]

But I want to do this path as default, so i go to the

[2016-03-22 02:51] jack-fdrv commented on #210
[code]
shows
[code]

[2016-03-22 04:31] patkar commented on #210
As the `var_dump(getenv('PATH'));` shows, your `/usr/local/bin` path is not in your `PATH` variable which the webserver uses.

See http://stackoverflow.com/questions/11256008/setting-environment-variables-in-mamp how to set environment variables for your MAMP Pro and adapt your `PATH=$PATH:/usr/local/bin`

[2016-03-22 16:34] thenutz opened #211 "Passing extra parameters not working."
I'm trying to pass these two parameters to ffmpeg command: `-map_metadata -1`  and `-movflags faststart` .
I have added this function to x264 format
`public function getExtraParams()
    {
        return array('-map_metadata -1', '-movflags faststart');
    }`

When i tryed to execute i get the following error

`PHP Fatal error:  Uncaught exception 'Alchemy\BinaryDriver\Exception\ExecutionFailureE

[2016-03-23 06:51] patkar commented on #211
Please reformat/recreate your issue with our provided issue template and don't simple delete it and use proper code formatting (fenced code blocks for the error) and show more of your code changes.

[2016-03-23 06:51] #211 closed

[2016-03-23 14:51] jack-theripper opened #212 "Bug with "setAudioCodec" on different OS"
| Q              | A
| -------------- | ---
| Bug?           | yes ?
| New Feature?   | no
| Version Used   | master
| FFmpeg Version | version N-79107-g30d1213
| OS             | Windows, Ubuntu

#### Actual Behavior

File: Format\Video\X264.php

You can add a method '**getAvailableCodecs**'  to get all the codecs ?
to support relevant codecs on different operating systems.
it is possible to corr

[2016-03-23 16:02] jack-fdrv commented on #210
It doesnt work in EL Capitan.

[2016-03-24 12:33] patkar commented on #212
Such a beatiful issue report :heart:

There are plans to refactor the format classes, they need some more love :) See #124 too. Getting the codecs from ffmpeg directly seems practical, but means another roundtrip to ffmpeg, but I will take the idea in mind.

Btw. for your AAC you have also the `libvo_aacenc` encoder available.

[2016-03-24 14:09] jack-theripper commented on #212
Maybe create another class (or namespace) with name "Codec" ? and delegate all logic with codecs, encoders and decoders.

For example:

[code]

I think it is good the decision to carry out operation with codecs in a separate packet (or namespace).

[2016-03-31 17:34] aziziphp opened #213 "how to get video information"

[2016-03-31 17:59] #213 closed

[2016-04-03 04:24] realone09 opened #214 "ffmpeg-php gd support disabled"
Hi

i am unable enable ffmpeg-php gd support .all are there in very correct . but not able to enable

| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

#### Actual Behavior

How does PHP-FFMpeg behave at the moment?

#### Expect

[2016-04-03 04:45] patkar commented on #214
Hi @realone09!

Sadly your issue is very unclear to me. The php gd extension has nothing to do with the lib and IRC PHP-FFmpeg doesn't use GD functions. Another point, ffmpeg-php is not PHP-FFmpeg. ffmpeg-php is an outdated php extension and is not this repository. Please look closer before spamming repos. :smiling_imp:

And please, for the next time you create a issue on GitHub, if you are presen

[2016-04-03 04:45] #214 closed

[2016-04-13 21:15] seblavoie opened #216 "Watermark filter documentation"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | 0.6.1
| FFmpeg Version | FFmpeg
| OS             | OS X 10.11.4

I just had a hard time getting to understand how the watermark filter worked. I did get it to work, but was wondering if there was a reason it wasn't in the documentation. I think it would make sense in the [filter section](http

[2016-04-15 22:54] kdesigns opened #217 "Save video as Animated GIF"
Would it be possible to save a portion of a video to GIF.
At the moment I'm using this
`echo shell_exec("/bin/ffmpeg -v warning -ss 3 -t 3 -i \"http://video.com.video.mp4\" -vf fps=15,scale=320:-1:flags=lanczos -gifflags +transdiff -y " . $filepath . $filename . " >/dev/null 2>/dev/null &");`
But I would like to do it without using shell_exec.

[2016-04-17 15:31] MajedDH opened #218 "Add listener for the process itself"
| Q              | A
| -------------- | ---
| Bug?           | No
| New Feature?   | yes
| Version Used   | i don't know
| FFmpeg Version | FFmpeg 2.7
| OS             | Ubuntu 14.04

i'm using `PHP-FFMpeg` to  convert multiple videos together, each one is being run by a separate PHP script.

I need a way to know the PID of the ffmpeg process when it start to be able cancel the right process.

I d

[2016-04-20 02:18] illmatic opened #219 "Advanced Filters"
| Q | A |
| --- | --- |
| Bug? | no |
| New Feature? | yes |
| Version Used | 0.6.1 |
| FFmpeg Version | 20160326-git-8ff0f6a |
| OS | Your OS and version |

I'm looking to convert this command using your library. Is it possible given the filters I'm using don't exist?
ffmpeg -i C:\Users\abc123\Desktop\after.mp4 -vf select='gt(scene\,0.25)',scale=225:150,tile=2x2:nb_frames=4 -frames:v 1 preview.pn

[2016-04-22 10:50] esuveyke opened #220 "Multiple Frame Creation"
Whats the process of automating extracting multiple frames?

i only see this option through use of time code
$video->frame(\FFMpeg\Coordinate\TimeCode::fromSeconds(10))->save('frame-10.jpg');

[2016-04-22 15:36] patkar commented on #220
What do you exactly mean with "automating extracting multiple frames"?

[2016-04-22 20:34] shyamsunderct commented on #176
Check the video file path. I too got the same error and problem is with the video file path.

[2016-04-28 13:15] Grimbode commented on #201
Here is my code dump. As you can see I do a little calculation to find the "percent limit"

[code]

Sorry for the late response.

[2016-04-29 10:47] quentint commented on #216
Hi, I'm trying to use the watermark filter but can't make it work. Any help would be appreciated!

[2016-04-29 10:58] seblavoie commented on #216
Hi, here’s basically the function I ended up using:

[code]

There are a couple of ways you can position the watermark. The `relative` allows you to position as you would with a `position: absolute` in CSS.

You can find the method handling the watermark here https://github.com/PHP-FFMpeg/PHP-FFMpeg/blob/master/src/FFMpeg/Filters/Video/WatermarkFilter.php#L49. It’s not too daunting, but I still th

[2016-04-29 13:30] quentint commented on #216
Hey, thanks very much!
I just realized my code was breaking because of the way Windows handles files paths.

I was using something like this: `D:/path/to/file.png`, where I had to use` /path/to/file.png`
All good now!

[2016-05-01 20:37] seblavoie commented on #216
Glad it helped! I drafted a pull request for the maintainer to merge when he or she is ready:  https://github.com/PHP-FFMpeg/PHP-FFMpeg/pull/221

[2016-05-02 17:24] #216 closed

[2016-05-11 11:05] kamov commented on #152
Seem that is supported in new version, see: http://superuser.com/questions/556029/how-do-i-convert-a-video-to-gif-using-ffmpeg-with-reasonable-quality

Does this library support?

Thanks!

[2016-05-12 06:34] Edvardas-idea opened #223 "Unable to save frame"
I'm trying to save Frame as .png image, but have an error all the time
[Error] Uncaught FFMpeg\Exception\RuntimeException: Unable to save frame.

Maybe server configurations are wrong ? i check everything i could be everything seems to work fine. btw, .jpg images saves fine.

[2016-05-13 07:31] patkar commented on #223
Do you have a complete stack trace?

P.S.: Please don't delete the provided issue templat by GitHub. Please fill those fields out.

[2016-05-15 14:58] shillo92 opened #224 "Get FFMpeg\Exception\RuntimeException: Encoding failed after save()"
| Q | A |
| --- | --- |
| Bug? | no |
| New Feature? | no |
| Version Used | ~0.5 |
| FFmpeg Version | FFmpeg 3.0 |
| OS | OS X El Capitan 10.11.4 |
#### Actual Behavior

I'm using phpunit to run some tests, now all tests run OK except when I try to save() a video. FFMpeg works fine for me, but this library adds some additional code behind the scene that probably causes my code to fail.
#### Expec

[2016-05-16 07:10] Edvardas-idea commented on #223
no, i only have the line at which it brakes vendor/php-ffmpeg/php-ffmpeg/src/FFMpeg/Media/Frame.php:119

[2016-05-16 07:28] patkar commented on #223
Please install the xdebug extension, so your error should print a complete stack trace

[2016-05-27 20:03] raghucodingbrains opened #225 "How to remove watermark from video"
I have applied watermark using this library.Now is it possible to remove the watermark..?

[2016-05-28 21:02] patkar commented on #225
No, because the video is reencoded every frame with the watermark. Take the source video if you don't want the watermark ;)

[2016-05-28 21:02] #225 closed

[2016-05-30 14:40] OliverTempel opened #226 "Spaces and German "Umlaute""
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | current git master

| FFmpeg Version:
ffmpeg version 1.0.10
built on Apr 14 2016 15:48:13 with gcc 4.7 (Debian 4.7.2-5)
configuration: --enable-gpl --enable-nonfree --enable-libfaac --enable-libgsm --enable-libmp3lame --enable-libtheora --enable-libvorbis --enable-libx264 --enable-libxvid --

[2016-05-31 18:38] jojotjebaby opened #227 "Pad filter for ffmpeg"
| Q | A |
| --- | --- |
| Bug? | no |
| New Feature? | yes |
| Version Used | Specific tag or commit sha |
| FFmpeg Version | FFmpeg or AVConv and version |
| OS | Your OS and version |
#### Actual Behavior

How does PHP-FFMpeg behave at the moment?
#### Expected Behavior

First of all, thanx for this librarie ! Is it possible to implement the padding feature of ffmpeg? So that all the videos can

[2016-06-01 06:53] schmanat commented on #227
Could you post the ffmpeg command to do that? I think so its easier to realize your feature.

[2016-06-01 09:13] jojotjebaby commented on #227
I use this little bit to scale down the size of my video. For exemple to downscale a video to 405:320 and add the black bars to the top and bottom or left and right.

`-vf "scale=iw*min(405/iw\,320/ih):ih*min(405/iw\,320/ih),pad=405:320:(405-iw)/2:(320-ih)/2"
`
### you defined the max width and max height in your original question
[code]

### first, scale the image to fit along one dimension
[code

[2016-06-02 07:41] schmanat commented on #227
+1

[2016-06-10 09:49] bkkrishna opened #228 "Using the package with Laravel 5.1"
Hello there,

Can I get some help on using this package with Laravel 5.1 ?

I **composer** **require**d the package but could not use it as I couldn't actually add it to config/app.php in the list of providers.

Any help would be much appreciated.

Thank you in advance.

[2016-06-10 14:54] patkar commented on #228
This is a simple library and not a finished Laravel provider. Thus it's clear you can't add it to the `config/app.php` :smirk:

Simply `FFMpeg` class directly in your code/controller/services as described in the readme.

[2016-06-10 14:54] #228 closed

[2016-06-10 16:36] tvancleave commented on #147
Is there a way to clip audio? I know that you can clip audio files via ffmpeg through the command line, but I cannot seem to get it to work with the provided clip function.

[2016-06-12 20:02] mikehuebner commented on #167
I'm having a similar problem with only grabbing around a meg of the data and trying to save that. I pulled it from a StackOverflow question but still coming across problems.
http://stackoverflow.com/questions/12620631/ffmpegphp-get-thumbnail-from-external-url

Here is my code after doing what they were saying. I'm pulling from an S3 bucket and the videos could be up to 3 gigs and would not want to

[2016-06-15 12:50] lumilo8 commented on #223
Hi, i have the same error, here is the trace:

![screenshot from 2016-06-15 14 47 58](https://cloud.githubusercontent.com/assets/3762301/16080317/7de687c8-3308-11e6-8c00-d457d33a8ae3.png)

Thanks!

[2016-06-16 10:08] lumilo8 commented on #223
I've found the problem, the destination folder had not permissions for www-data user

[2016-06-30 14:38] abdullahtekin commented on #220
I mean every seconds extract frames
`exec('/usr/local/bin/ffmpeg -i "video.mp4" -vf fps=1/60 capture/img%03d.jpg');`

[2016-07-08 13:19] iongion commented on #130
Does this clip method produce anything ? is its return value ? how can the video be sent to the client ?

[2016-07-08 14:59] skajg opened #230 "Does this plugin support encoding output to hls files?"
| Q | A |
| --- | --- |
| Bug? | no |
| New Feature? | no |
| Version Used | Specific tag or commit sha |
| FFmpeg Version | FFmpeg or AVConv and version |
| OS | Your OS and version |

Does this plugin support encoding output to hls files?

[2016-07-10 19:18] wonderco commented on #45
Hello
my code is :
`$ffmpeg = FFMpeg::create(array(
            'ffmpeg.binaries'  => '/root/bin/ffmpeg',
            'ffprobe.binaries' => '/root/bin/ffprobe',
            'timeout'          => 3600,
            'ffmpeg.threads'   => 12,
        ));`

but not work ! :(
please help me
![untitled-4](https://cloud.githubusercontent.com/assets/8298810/16715558/b3e58528-46f8-11e6-9ed1-447a2e06f136.jpg

[2016-07-13 10:39] Prometee commented on #218
I make a workaround to control the process :
`//Retrive the PID of the current symfony task
//My project store this pid in a database
$pid = getmypid();`
And to kill the task process and all children process :
`public function recursiveKill($pid) {
        $child_pid_list = array();
        exec('pgrep -P '.$pid, $child_pid_list);
        foreach ($child_pid_list as $child_pid) {
            if (p

[2016-07-23 10:25] jankal opened #231 "Unable to transcode mkv to mp4 on Debian Jessie"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | 0.6.1
| FFmpeg Version | avconv version 11.7-6:11.7-1~deb8u1
| OS             | Debian 8.0.4 Jessie: Linux storage 3.16.0-4-amd64 1 SMP Debian 3.16.7-ckt25-2+deb8u3 (2016-07-02) x86_64 GNU/Linux
| PHP-Version  | PHP 7.0.8-1~dotdeb+8.1 (cli) ( NTS )

#### Actual Behavior

PHP-FFMpeg is sendin

[2016-07-28 06:57] wizardkhinz18 opened #232 "MP4 to M3U8"
this library does not support  m3u8 convertion?

[2016-07-28 08:40] Sensetivity commented on #232
MP4 - video.
M3U8 - playlist.

How you imagine it?

[2016-07-28 11:17] patkar commented on #232
Since .m3u/.m3u8 are playlists formats, which can simply be crafted by hand (some strings an newlines :grin:) I'll close this one.

[2016-07-28 11:17] #232 closed

[2016-08-01 16:13] eliogsolis opened #233 "Unable to load FFProbe - Laravel 5.2"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | fmpeg version N-81192-g04da20e
| OS             |  windows 10
| PHP Version           |  5.6.16 (Framework Laravel 5.2)

#### Actual Behavior

Unable to load FFProbe

#### Expected Behavior

        $video = $ffmpeg->open($realpath);

Where realpa

[2016-08-01 16:58] eliogsolis commented on #233
Nvm i fix my problem downloading ffmpeg.dll

[2016-08-01 17:52] #233 closed

[2016-08-05 16:54] shadrech commented on #201
Yh just came across the same thing. The $percentage emitted by PHP-FFMpeg is in relation to the duration of the final clipped video. For me my solution was similar:
`//$clipDuration is how long the final video clip is. $mainDuration is the total duration of the main video you're clipping from. Basically we calculate the fraction the clipped video is in relation to the whole video and convert to a

[2016-08-05 17:25] Ninos opened #234 "Add already packed version"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| OS             | Windows & Linux

#### Actual Behavior

ATM I want to create a wordpress plugin and need to run composer to get all depended libs, because wp cannot handle composer tasks itself.

#### Possible Solutions

Additionally provide an already packed version of all needed libraries, so I don't need t

[2016-08-06 02:05] Ninos commented on #231
Same problem here, also cannot create frame images. Just can convert to webm. x264 lib is installed.

System: Debian Jessie arm64

[2016-08-06 03:11] Ninos opened #235 "Frame image not working for mkv"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | 0.6.1
| FFmpeg Version | 2.6.9
| OS             | Debian Jessie

#### Actual Behavior

ATM I cannot create an image frame from mkv source file. With other formats it's working fine.

#### Expected Behavior

Should create an image

#### Steps to Reproduce

[code]

The debug content is followi

[2016-08-06 09:56] patkar commented on #235
Thanks for the bug report. May you include the ffmpeg params which are called to produce the debug output please?

[2016-08-06 09:57] Ninos commented on #235
Sure
[code]

[2016-08-06 10:00] Ninos commented on #231
Problem was solved by installing newer libraries from multimedia rep. About the frame images bug I've created a new issue:
https://github.com/PHP-FFMpeg/PHP-FFMpeg/issues/235

[2016-08-12 19:17] wiktordev commented on #224
hi @shillo92

I got the same error.

I resolved it in below code.

$video->save(new FFMpeg\Format\Video\X264('libmp3lame', 'libx264'), 'clip1.mp4');

Please consider this url:

http://stackoverflow.com/questions/29253498/php-ffmpeg-unknown-encoder-libfaac-on-windows

[2016-08-12 19:24] wiktordev opened #236 "save() function issue"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | yes
| Version Used   | 0.5
| FFmpeg Version | 3.1
| OS             | Windows 8.1

#### Actual Behavior

I was going to clip the video using PHP-FFMpeg. Audio codec of the input file(mp4) is AAC.

To clip, when I use $video->save(new FFMpeg\Format\Video\X264(), 'clip1.mp4') function, I got some errors.

I found out

[2016-08-15 17:31] David-Crty opened #237 "Progress, receveive only the 99%"
Hello,

I'm using PHP-FFmpeg and it work great, but i'm trying to indicate the progression of the convertion to the user and I think it's not working.
When i try to view the progression of the conversion I only get the 99% value and i don't think this is normale.
Here is an exemple :

[code]

When i execute :
`php app.php app:encode fakear.flac`
I only get :
`99 % transcoded`

And the file is work

[2016-08-30 01:51] Ninos commented on #235
Any news about that? :)

[2016-09-08 06:53] woellij commented on #82
@atiberius

I faced the same error and this helped me aswell. Though with my setup it was **LD_LIBRARY_PATH=/usr/bin
export LD_LIBRARY_PATH**

[2016-09-09 17:17] theLordz commented on #237
@David-Crty Hello! Don't worry. php-fmpeg iterates from 0 to 99, not from 1 to 100.

[2016-09-15 13:26] apsg commented on #172
The same problem here. I tried everything, including setting the paths manually. Nothing works.

[2016-09-15 21:56] xmoroccan commented on #157
@mateusjatenee can you give us solution please, because i run the command on terminal,  nothing wrong !

[2016-09-15 22:55] xmoroccan commented on #172
i have the same problem i try all the solution found in this question and others
the probleme is: `Fatal error: Uncaught exception 'Alchemy\BinaryDriver\Exception\ExecutionFailureException' with message 'ffprobe failed to execute command '/usr/bin/ffprobe' '-help' '-loglevel' 'quiet''`
i try running command manually, it's work !
another user have the same problem in this question [#157](https://gi

[2016-09-18 05:21] sm2017 opened #238 "Question : Audio waveform"
How can I create audio waveform by PHP-FFMpeg?
https://trac.ffmpeg.org/wiki/Waveform

[2016-09-18 05:22] sm2017 opened #239 "Question : Random frame"
How can I get random frame of Video? and resize only this frame and save as thumbnail?

[2016-09-19 10:24] David-Crty commented on #239
Checking this part of documentation may help you ?
https://github.com/PHP-FFMpeg/PHP-FFMpeg#extracting-image

[2016-09-25 20:59] absfarah commented on #122
Any updates on this? Or maybe an explanation on how to do this?

[2016-09-26 17:00] mehran-prs opened #241 "make multi quality of video"
How can I get outputs of multi quality of one video(1080 , 720 , ...) for mp4 format and hls

[2016-09-30 17:17] zinzinday commented on #90
[code]
Browser error:
![error1](https://cloud.githubusercontent.com/assets/441560/19000317/26893080-876c-11e6-9ad1-66c8b5def90d.png)
Terminal:

![error2](https://cloud.githubusercontent.com/assets/441560/19000360/576719ec-876c-11e6-9a2f-804ec7b472d5.png)

How to fix that?

[2016-10-03 14:05] Laurent3170 opened #242 "Writes file twice for mp4"
| Q              | A
| -------------- | ---
| Bug?           | maybe
| New Feature?   | no
| Version Used   |  0.6.1
| FFmpeg Version | 2.8.6-1ubuntu2
| OS             | Ubuntu 16.04

#### Actual Behavior
Using the following code, I've seen that the file is written once in 30" and then re-written in 2'30".

#### Expected Behavior

The first file is fully exploitable, so do I miss something and/or

[2016-10-04 11:22] xmon opened #243 "How to setPasses to One"
| Q | A |
| --- | --- |
| Bug? | no |
| New Feature? | no |
| Version Used | 0.6.1 |
| FFmpeg Version | 2.7.2 |
| OS | Debian 4.9.2-10 |
#### Actual Behavior

PHP-FFMpeg always set Pass 2, "-pass" "2" and some x264 videos break the conversion
#### Expected Behavior

I need set pass in One.

Any idea to solve it?

[2016-10-05 14:09] xmon commented on #243
Thanks @Laurent3170 but the question is, how can I modify the passes using PHP-FFMpeg?

The 2 passes are hardcoded in [this library](https://github.com/PHP-FFMpeg/PHP-FFMpeg/blob/a1e12ecf3300badc9337f2986ea5ab000a7db6e3/src/FFMpeg/Format/Video/X264.php#L68-L71 ).

[2016-10-05 14:17] Laurent3170 commented on #243
I don't have the ambition to try to answer to your question as I don't have this knowledge. I was just asking if the "-pass" is the reason why the file is written twice, as I've asked in issue #242, if you have this answer.

[2016-10-05 14:34] Laurent3170 commented on #242
The answer to this question was found with the help of issue #243. The function `getPasses()` in
https://github.com/PHP-FFMpeg/PHP-FFMpeg/blob/a1e12ecf3300badc9337f2986ea5ab000a7db6e3/src/FFMpeg/Format/Video/X264.php#L68-L71 is set to 2, which explain why the file is written twice.
By setting it to 1, the file is only written once but it takes the same amount of time around 3' for video of 1'30".

[2016-10-05 14:34] #242 closed

[2016-10-09 12:33] harish-php opened #244 "Is concat filter missing ?"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

#### Actual Behavior

How does PHP-FFMpeg behave at the moment?

#### Expected Behavior

What is the behavior you expect?

#### Steps to Reproduce

What are the steps to reproduc

[2016-10-11 01:11] theDTD opened #245 "QUESTION: exporting single video from multiple videos"
Hi, Is it possible to create a single video file from multiple videos? For example, I have vid1.mp4 and vid2.mp4, then put them together side by side, and export it as a single video. So when I play the exported video file it would show vid1 on the left and vid2 on the right.

[2016-10-11 16:35] #244 closed

[2016-10-20 09:06] h3242749 opened #246 "How to use this library? I can't make it work"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Centos 6.8

Sorry, I'm newbie. I don't know how to use this class, I can't make it works. Please help me at initial state!

Folder Structure:
+ FFMpeg (folder in src with sub folders and classes)
+ t

[2016-10-20 11:05] Mika2413 commented on #246
Did you install it using composer?
If no, you should install it with composer to get all dependencies. I think it will solve the problem

[2016-10-20 16:12] h3242749 commented on #246
Thank you. I tried with your suggestion and no longer receive error about Doctrine anymore. However, I still can not make it work.

When I use: "use FFMpeg;" it always throw class not found. So I back to require_once("FFMpeg/FFMpeg.php"); and then it keep throwing a lot of not found class: FFProbeDriver then OptionsTester'  .... is there any sample or anyway to quick connect and test?

If I try wi

[2016-10-20 17:53] patkar commented on #246
Please simply read the readme: https://github.com/PHP-FFMpeg/PHP-FFMpeg#basic-usage

[2016-10-20 17:53] #246 closed

[2016-10-22 09:08] h3242749 opened #247 "Video Output is not compressed as expected"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg 2.6.8
| OS             | Your OS and version

#### Actual Behavior

I transcode a MP4 video over 1 minute with disk size:  45.48 MB. The output for Dimension 720p: 14.37MB and output for Dimension 360p is: 14.29 MB

From here: https://www.

[2016-10-23 17:07] h3242749 opened #248 "How to add extra command to this library?"
Hi, I want to add extra command when it runs ffmpeg command. In my case is -movflags +faststart to bring metadata to beginning of output video. I can't find anywhere in library to put it, please suggest!

[2016-10-23 17:52] #248 closed

[2016-10-26 02:31] SunChero opened #249 "RuntimeException in FFProbe.php line 244: Unable to probe with any external link/URL"
this is specifically an issue with windows ...
i got it working fine on linux .. but in windows .. even if the binaries are working fine and give the expected output .. the class will throw an exception.
on the same windows machine ... copying the file to local disk ...and giving the local path to ffprobe work just fine !
both machines are connected with no proxy

something to note BTW i realised

[2016-11-06 12:23] matrunchyk commented on #243
@xmon It's always better to ask not on the Issue tracker, but somewhere like StackOverflow.
You can easily create your own class and specify as many passes as you want:

[code]

[2016-11-06 12:28] matrunchyk commented on #249
@SunChero would be nice to take a look at your full backtrace.

[2016-11-06 12:35] matrunchyk commented on #247
@h3242749 Have you tried the same conversion with `ffmpeg` in cli?

[2016-11-09 15:38] Romain opened #250 "Problem encoding large files"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | maybe
| Version Used   | 7687be530c0bb22ee92ee8924cb0ff0e5edd5e5d
| FFmpeg Version | N-82218-g31d6571, built with gcc 5.4.0 (Ubuntu 5.4.0-6ubuntu1~16.04.2) 20160609
| OS             | Ubuntu 16.04.1 LTS

#### Actual Behavior

Hi,

I'm facing an issue I can't manage to solve.
Most of the time, everything works just

[2016-11-10 19:52] Romain commented on #250
Since the problem seemed to happen at the beginning of the second pass, I tried to encode the video in only 1 pass, changing the getPasses value in Format/Video/X264.
This didn't solve the problem, here's the error I get when I do that:

However, if I try to run this command manually doing

`'/usr/bin/ffmpeg' '-y' '-i' '/opt/nginx/encoding/web/uploads/c507669ca6/236b4bd5db57421b86fb9488fcd9b2a9240

[2016-11-10 19:53] Romain commented on #250
I'm still trying to narrow down the problem.

I tried to encode a file which was lighter but whose video lasted longer (~400Mo instead of ~1Go, but 50' instead of 30'). The problem occurs as well.

Could this be related to the length of the video?

[2016-11-11 00:03] Romain commented on #250
Reading the issue #90,  I realized it may be a problem of timeout and indeed it was.

I suggest that, when the encoding times out, it logs a specific error therefore we can easily understand that this is the issue.

[2016-11-11 00:03] #250 closed

[2016-11-13 18:59] jens1o opened #252 "Extract Audio from a video and save it seperatly."
Just a question: Is it possible through your driver to extract the audio from a video? I didn't found anything. But other drivers support this(i.e. the driver for nodejs).

Or did I overseen anything?

[2016-11-15 13:04] Romain commented on #252
Hi @jens1o,
Have you tried something like this?

[code]

I haven't tried it, but my guess is that it may be a solution.
Let me know.

[2016-11-15 13:12] Romain commented on #245
Hi @theDTD,
As far as I know, FFMPEG allows [concatenation](https://trac.ffmpeg.org/wiki/Concatenate), but this feature is not implemented in this library (or I haven't seen it).
I think this may be a feature request. With regards to your description, I think that the concat protocol is the one appropriated to what you want to do, but in order to get library persistent with what FFMPEG offers, I t

[2016-11-15 13:49] Romain commented on #243
Hi all,
I've created a pull request to allow users to do it programmatically: #251
I think this answers the question.

[2016-11-15 15:53] jens1o commented on #252
Oh. I'd overseen it. I'll try when I have some time. But thanks! ;)

[2016-11-15 15:55] Romain commented on #252
You're welcome.
Let me know if it works for you.

[2016-11-15 19:11] Romain commented on #239
@sm2017, what I would do is:
- get the length of the video in seconds
- pick a random integer between 1 and the length of your video
- extract an image as pointed out by @David-Crty
- resize the image using an image library.

[2016-11-15 19:16] Romain commented on #223
This issue should be closed, no?

[2016-11-15 19:18] Romain commented on #238
As far as I know, you won't be able to do it using this library.
I think this should be a feature request.

[2016-11-16 16:59] jens1o commented on #252
Great! It works! Thanks! :smile:

[2016-11-16 16:59] #252 closed

[2016-11-16 17:20] Romain commented on #238
@sm2017, I just created a pull request: #253

[2016-11-16 17:21] Romain commented on #252
You're welcome, glad it works. ;)

[2016-11-18 05:38] travoliti opened #254 "Can't convert gif to webm, but mp4 works fine"
| Q              | A
| -------------- | ---
| Bug?           | No
| New Feature?   | No
| Version Used   | 0.6.1
| FFmpeg Version | FFmpeg 3.2
| OS             | ubuntu 14.04

So I'm trying to convert a `.gif` to both a `.mp4` and `.webm`. It converts the gif to mp4 fine, but I get an `"Encoding failed"` error when it converts to webm.

Here is the command I used:

Here is the output I got:

  bui

[2016-11-18 13:12] Romain commented on #254
Hi @travoliti,
Have you tried to use the MP4 created to generate the webm?
This could be a workaround...
Romain

[2016-11-18 13:20] Romain commented on #241
Hi @mehran-prs,
I think you'll need to encode the video for each of these formats.

[code]

Repeat steps 4 and 5 for each format...

Let me know if this helps.
Romain

[2016-11-18 13:25] Romain commented on #219
Hi @illmatic,
Could you be more specific on what this command does?
Thanks
Romain

[2016-11-18 13:27] Romain commented on #208
A doc has already been generated using SAMI.
Could we update it this way?
It would be great to share the SAMI config file, therefore, each person submitting a PR could update the doc accordingly.

[2016-11-18 14:08] illmatic commented on #219
This particular command takes a video then does the following actions

- starting after the .25 second mark
- scales the video down to width x heigh spec
- creates a 2x2 thumbnail preview
- stops after the 4th frame
- creates 1 files called preview.png

[2016-11-18 17:25] travoliti commented on #254
@Romain

That worked, but it still seems odd to have to load the mp4 just to save as webm, as I do like this:

[code]

[2016-11-19 20:13] misterkek opened #255 "How to convert OGA to PCM?"
Code below convert OGA to WAV
[code]

So how can I convert OGA to PCM (bit=16; rate=16000)?
Can't find info at Documentation..

[2016-11-21 12:11] Romain commented on #254
@travoliti, I agree.
As I said, this is a workaround.
I've no clue why this doesn't work this way, we will have to work on this.
We will have to investigate on this.

[2016-11-21 14:54] Romain commented on #219
Hi @illmatic,

Have you tried breaking down the request into a succession of actions, like below?

[code]

Let me know if this works for you. I haven't tried it, but I think it may look like what you're looking for.

Romain

[2016-11-22 14:28] Romain commented on #255
Hi @misterkek,
To my knowledge, at the moment, you can only convert your file to MP3, Wav, Flac, Aac and Vorbis.
Can you confirm to me that PCM is another codec and that you would need this library to be extended in order to support this format?
Thanks
Romain

[2016-11-23 14:25] huyvh19 opened #256 "The process has been signaled with signal "5" FFmpeg php"
i set up ffmpeg and ffprobe on macos, after i create file test.php have require "boostrap.php" of libary php-ffmpeg but i have a bug, i run code

$logger = new Monolog\Logger('test');
$logger->pushHandler(new Monolog\Handler\StreamHandler('php://stdout'));

$config = array(
    'ffmpeg.binaries' => '/usr/local/bin/ffmpeg',
    'ffprobe.binaries' => '/usr/local/bin/ffprobe',
    'timeout' => 0,

);

[2016-11-23 17:39] Romain commented on #256
Hi @huyvh19,

Why don't you include your library like below in your Controller, instead of requiring bootstrap.php?

`use FFMpeg;`

Could you provide more of you code in order for us to figure out what's wrong in it?

Thanks
Romain

[2016-11-24 01:48] huyvh19 commented on #256
this is my code, if i run in command line, it ok but i run it in browser chorme, it not ok.

require "bootstrap.php";

set_time_limit(0);

$logger = new Monolog\Logger('test');
$logger->pushHandler(new Monolog\Handler\StreamHandler('php://stdout'));

$config = array(
    'ffmpeg.binaries' => '/usr/local/bin/ffmpeg',
    'ffprobe.binaries' => '/usr/local/bin/ffprobe',
    'timeout' => 3600,
    'ff

[2016-11-24 12:55] Romain commented on #256
Hi @huyvh19,

One more time, why don't you include your library like below in your Controller, instead of requiring bootstrap.php?

`use FFMpeg;`

[2016-11-24 14:30] huyvh19 commented on #256
hi @Romain
i use FFmpeg; it show error
Warning: The use statement with non-compound name 'FFMpeg' has no effect in /Sites/Demo/php-ffmpeg/tests/test.php
i attack my test project.
Please help me this issue.
Thanks!
[FFMpeg.zip](https://github.com/PHP-FFMpeg/PHP-FFMpeg/files/611529/FFMpeg.zip)

[2016-11-24 17:48] Romain commented on #256
Are you using Symfony for your project?
Or, at least, Composer to deal with this library?

[2016-11-25 08:00] huyvh19 commented on #256
Thanks @Romain  i use framework laravel and it run success

[2016-11-25 13:04] Romain commented on #256
I've never used Laravel, but my guess is that this library should be used the same way than with Symfony.
Could you try using this snippet instead of your code:

[code]

[2016-11-28 09:24] kinddylee commented on #82
I had fixed this issue on CentOS 6.5 , use nginx.
In 'php.ini' file liks this:
disabled_functions = 'exec,...'
remove 'exec' in this line,then and everything is okay.

[2016-11-28 10:02] duongcuong96 commented on #236
I have same problem like you, php-ffmpeg always rendering video in clip filter

[2016-11-30 17:52] jankal commented on #231
@Ninos What did you do to get this to work? I now fully recompiled FFMpeg v 3.2.1 from source on my machine with following options:
[code]
Though `--enable-libfaac` ins not available with this FFMpeg version anymore.
Before that I installed all libraries:
[code]
And it still does not work!

What could I try next?

[2016-11-30 18:22] jankal commented on #231
I now fixed this.
I followed #137 and changed the constructor for `/src/FFMpeg/Format/Video/X264.php`
I updated `/src/FFMpeg/Format/Video/X264.php` to:
[code]

I may now file a Pull Request for that.

[2016-11-30 18:30] Ninos commented on #231
I just installed latest packages on my debian jessie machine to get my problem fixed. Thx for the changes. Is it possible to create a PR for that? :)

[2016-11-30 18:45] jankal commented on #231
Maybe. But I also found a already existing PR. Look here for my changes: [jankal/PHP-FFMpeg](https://github.com/PHP-FFMpeg/PHP-FFMpeg/compare/master...jankal:master) and this PR #222 should already start to fix this.

[2016-11-30 18:45] jankal commented on #231
@Ninos which ffmpeg version do you use?

[2016-11-30 18:47] jankal commented on #137
@romainneutron Please reopen. Not fixed. #231 and #222

[2016-11-30 18:48] jankal commented on #212
This is also related to #137 #231 #222

[2016-11-30 18:49] jankal commented on #165
@patkar Reference: #212 #137 #231 #222

[2016-11-30 18:50] jankal commented on #156
Related to: #222 #231 #137 #212 #165

[2016-11-30 18:54] jankal commented on #153
Related: #212 #137 #231 #222 #153 #156

[2016-11-30 19:03] Ninos commented on #231
I'm using following version:
[code]

[2016-11-30 19:17] jankal commented on #231
Okay. Then you are not affected. Should be starting at like FFMPeg 3.2 to get that problem. Libav is affacted too, as I see now.

[2016-12-02 02:58] seblavoie commented on #124
I actually have the exact same problem as @NSBrianWard. I would also like to add `-pix_fmt yuv420p` at the end of the command. As I understand from other issues, there is some refactoring planned.

For now, what I could think about as a solution would be to add an optional arguent that would take an array of commands that would get merged into `$commands` somewhere around [this line](https://githu

[2016-12-02 04:11] NSBrianWard commented on #124
I never did get this solved. If I ever have resources to go back and address that in my project, I'd still like to. MOST of the files users upload to my app don't have this problem, but the sticking point is our 3D animators who export Quicktime RLE files out of 3ds Max (they don't have a bunch of video export options, unfortunately, and really hate having to spend a bunch of time running a bunch

[2016-12-05 19:12] jamesgraham commented on #238
@Romain did you find any interim solution? Are you trying to generate png or svg, or even json?

[2016-12-05 19:15] jamesgraham opened #258 "Question: splitting audio file between channels"
I'm trying to split a stereo file into two mono files like [this](https://trac.ffmpeg.org/wiki/AudioChannelManipulation#stereo2monofiles)

Does this library support such manipulation?

[2016-12-07 15:22] joyebright opened #259 "Your FFProbe version is too old and does not support `-help` option, please upgrade."
@SimonSimCity @romainneutron @MrHash @pulse00
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | 2.8.8
| FFmpeg Version | 2.8.8
| OS             | Ubuntu 16.04

#### Actual Behavior

How does PHP-FFMpeg behave at the moment?
I've following PHP code :
[code]
First I have tried to use Create Singleton Method without inserting array then I got t

[2016-12-08 11:39] misterkek opened #260 "Unable to probe *.oga"
Started getting error (on the new server) when I tried to convert .OGA files to .WAV:

When I tried to convert .WAV files to .***, there was no problem.

code:
[code]

[2016-12-08 12:39] misterkek commented on #255
@Romain yes, it would be great.
As I heard, Python library has this codec.

[2016-12-08 23:14] kocoten1992 opened #261 "[404] http://readthedocs.org/docs/ffmpeg-php/en/latest/_static/API/"
[code]
It on the readme, API browser section:

http://readthedocs.org/docs/ffmpeg-php/en/latest/_static/API/

[2016-12-10 08:44] nvtiencom commented on #252
Hello,

Can we extract video (no sound) from original video (has sound) files? and how?
Please help, thanks

[2016-12-11 06:38] SimonSimCity commented on #259
Ok, what I can tell you is, that this error is thrown in https://github.com/PHP-FFMpeg/PHP-FFMpeg/blob/e9f87eee94288b7aadd909b217925fb101cb3e7b/src/FFMpeg/FFProbe/OptionsTester.php#L63 - a method that is used in the `has()` method call right above, that confirms that `ffprobe` also has the parameter you want to call it with.

For some reason now the library distinguished that the parameter `-help`

[2016-12-14 15:01] amirkhiz commented on #172
What we should do now i have the same problem and everything is alright with these commands :
`var_dump(getenv('PATH'));
var_dump(exec('which ffmpeg'));
var_dump(ini_get('open_basedir'));
var_dump(is_file(exec('which ffmpeg')));
var_dump(is_executable(exec('which ffmpeg')));`

`string(60) "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
string(15) "/usr/bin/ffmpeg"
string(0) ""
bool(

[2016-12-14 18:28] Romain commented on #238
Hi @jamesgraham,
I'm waiting for the PR to be approved.
For now, I've got no answer from @romainneutron or @patkar.
The method generates a PNG.

[2016-12-14 18:31] Romain commented on #255
@misterkek, I'll try to work on a PR in the next few weeks.
However, I've troubles reaching out to the bundle owners to make them approve it, I'm not sure a new PR would have more chances to be merged...

[2016-12-14 18:38] Romain commented on #252
Hi @nvtiencom,
If I'm right, FFMPEG allows you to encode a video with no sound, using the -an option (see [this post](http://superuser.com/questions/268985/remove-audio-from-video-file-with-ffmpeg)).
However, this bundle has no feature implemented which would let you add this to the request.
I think this should be a feature request.
If I have any chance to work on this anytime soon, I'll let you k

[2016-12-14 18:41] Romain opened #262 "Feature request: be able to encode a video with no sound"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | yes
| Version Used   |
| FFmpeg Version |
| OS             |

This issue is a follow-up of the discussion that occured in the issue #252.

#### Actual Behavior

Actually, if you encode a video, it also encodes the sound.

#### Expected Behavior

It would be great to be able to encode a video with no sound.

#### P

[2016-12-14 18:42] Romain commented on #261
The doc has been initially generated using SAPI.
It should be regenerated to update it.
I would be great if we could have the default SAPI config file.

[2016-12-15 15:19] Romain commented on #262
Pull request #215 fixes this.

[2016-12-15 15:35] Romain commented on #256
@huyvh19 Have you solved your problem?
Have you tried what I suggest?

[2016-12-15 15:37] Romain commented on #247
@h3242749, any news on this side?
Have you tried @matrunchyk advice?

[2016-12-15 15:40] Romain commented on #243
This PR has been merged.
I close this issue.

[2016-12-15 15:40] #243 closed

[2016-12-15 15:41] Romain commented on #239
Hi @sm2017 ,
Have you tried what I recommended to you?
Is this question still valid or could I close it?

[2016-12-15 15:42] Romain commented on #238
This PR has been merged.
I close this issue.

[2016-12-15 15:42] #238 closed

[2016-12-15 18:47] Romain commented on #219
Hi @illmatic,
Have you managed to try the code I sent to you?
Is this issue still valid?

[2016-12-15 18:49] Romain commented on #236
Hi @duongcuong96, @wiktordev,
Does the PR #257 solve this problem? This PR has been merged this day. Could you manage to try it and tell us if it's what you were expecting?
If yes, I'll close this issue.

[2016-12-15 19:14] illmatic commented on #219
Hi Romain,

Sorry, I haven't had a chance. Since my initial request I just run a shell
command directly to ffmpeg.

On Thu, Dec 15, 2016 at 1:47 PM, Romain Biard <notifications@github.com>
wrote:

[2016-12-15 19:28] Romain commented on #219
Ok, I'll just close this issue then.
If at some point you can try this code, and think it's not relevant, just reopen it.

[2016-12-15 19:28] #219 closed

[2016-12-16 05:01] huyvh19 commented on #256
thank you @Romain  i use laravel framework and i run success full your code.

[2016-12-16 11:48] Romain commented on #256
Thanks @huyvh19 !
Therefore, I close this issue.

[2016-12-16 11:48] #256 closed

[2016-12-17 10:44] pbaheti opened #263 "can we set size of image frame in save function ?"
| Q              | A
| -------------- | ---
| Bug?           | no

| New Feature?   | yes

| OS             |  windows 7

#### Actual Behavior

Unable to set the size of image frame so I am unable to use thumbnail size.

#### Steps to Reproduce
$ffmpeg = FFMpeg\FFMpeg::create(array(
                'ffmpeg.binaries'  => 'C:\\ffmpeg\\bin\\ffmpeg.exe',
                'ffprobe.binaries' => 'C:\\ffmp

[2016-12-19 18:15] Romain commented on #263
Hi @pbaheti,

Could you try this and let me know if it solves your problem?

[code]

Replace the dimensions with those you want.
R

[2016-12-20 01:07] boomuo opened #264 "How get metada video file (width, height, format, duration, audio, size)?"
Hello!
How i can get this info in array from video file?

[2016-12-20 13:23] Romain commented on #264
Hi @boomuo,
Here is the way to get this information:

[code]

Thanks to let me know if this solves your question.

[2016-12-20 16:12] boomuo commented on #264
Thank you, but very low speed :( Maybe this all lib low speed?

This code high speed
`		$cmd = $this->ffmpegPath." -i ".$data['filePath']." -hide_banner 2>&1";
		$ffmpeg = shell_exec($cmd);

		$search = "/Duration: (.*?)\./";
		preg_match($search, $ffmpeg, $matches);
		$data['duration'] = $matches[1];
		$time_sec = explode(':', $data['duration']);
		$data['durationSecond'] = ($time_sec['0']*3600)+

[2016-12-20 18:08] Romain commented on #264
If you think that there are differences between the library and the command line, the best way to test it is to mesure the time your script takes to run, to take the exact command line executed by the script from the logs, and to execute it measuring as well the duration.
If you still think this is an issue, please open a new ticket.

With regards to the screenshots, everything is explained in the

[2016-12-20 18:08] #264 closed

[2016-12-20 18:52] boomuo opened #266 "How fast change md5 video file?"
Will can do it ffmpeg lib or another method?

[2016-12-20 19:35] Romain commented on #266
Could you rephrase this in proper english?
I don't get what you mean exactly.

[2016-12-20 23:34] #266 closed

[2016-12-21 11:55] aziev opened #267 "Resize is ignoring $mode parameter"
| Q              | A
| -------------- | ---
| Bug?           | maybe
| New Feature?   | no
| Version Used   | 0.6.1
| FFmpeg Version | FFmpeg 5.4.0
| OS             | Windows 10

#### Actual Behavior

Video gets anamorphosis at all resize modes. It looks like mode changing is ignoring

#### Expected Behavior

I want to resize video using mode 'inset' without proportions anamorphosis.

#### Steps t

[2016-12-21 13:46] Romain commented on #267
Hi @aziev,

Could you try using a string instead of the const?

[code]

I'll try to see on my side why this doesn't work...

[2016-12-21 14:08] aziev commented on #267
@Romain thank you for the response,

If I using string 'inset' it has the same behavior

[2016-12-21 15:40] Romain commented on #267
Thanks for this feedback.
I've tried this filter on my side, it works great:

[code]

[2016-12-22 17:40] travoliti opened #269 "libvpx-vp9 video codec?"
| Q              | A
| -------------- | ---
| Version Used   | 0.6.1
| FFmpeg Version | 3.2
| OS             | Ubuntu 14.04

I'm trying to encode my videos to `webm` using the VP9 codec (`libvpx-vp9`):

[code]

However, I get the following error when this runs:

Am I doing something wrong or does this library doesn't yet support `libvpx-vp9`? It really should.

[2016-12-22 18:07] travoliti commented on #254
I found that using VP9 to convert a GIF to a WEBM works, however, VP9 doesn't seem to work with this library:

https://github.com/PHP-FFMpeg/PHP-FFMpeg/issues/269

[2016-12-22 20:00] Barker91 opened #270 "Removing audio?"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | 0.6.1
| FFmpeg Version | 3.2.2

What is the correct way of removing audio from a video?

In command form, the flag to remove audio is `-an`. How would this be done through this library?

[2016-12-27 12:47] Romain commented on #270
Hi @Barker91,
This question has already been raised in issue #262, and the PR #215 will fix this.
We're still in the process of writing tests for this PR. Once this has been done, we will merge it.
R

[2016-12-27 12:47] #270 closed

[2016-12-27 12:49] Romain commented on #254
Hi @travoliti,
Thanks for this follow-up.
We will investigate on the issue #269 and get back to you as soon as we have more information.
If you wanna help improve the VP9 support in this library, feel free to submit a PR.
R

[2016-12-27 14:44] Romain commented on #269
Hi @travoliti,
Thanks for this feedback.
First of all, could you check that libvpx is enabled on your system?

`ffmpeg -codecs`

Thanks
Romain

[2016-12-27 20:38] travoliti commented on #269
@Romain

Here's the output for `ffmpeg -codecs`:

[code]

Here's the output with `getAvailableVideoCodecs()`:

[code]

[2016-12-28 03:58] feefk commented on #45
@wonderco you should install ffmpeg first.

[2016-12-28 12:20] Romain commented on #269
Thanks @travoliti.
In the first response, I see this: `Google VP9 (decoders: vp9 libvpx-vp9 ) (encoders: libvpx-vp9 )`.
So my guess is that the codec is properly installed.
This is weird. For now, I have no clue why it's not working, I'll need to do some tests.
I'll let you know if find a solution. If you find one, let me know as well.

[2016-12-28 12:27] #82 closed

[2016-12-28 12:28] #86 closed

[2016-12-28 12:30] Romain commented on #111
I managed to open a 1Gb file.
I think this issue is no more relevant.

[2016-12-28 12:30] #111 closed

[2016-12-28 12:35] Romain commented on #90
@zinzinday Have you managed to solve your issue?
If no, what is your environment? OS, FFMPEG version, etc...

[2016-12-28 12:40] Romain commented on #80
I think that the `getKiloBitrate()` function is what you were looking for.

[2016-12-28 12:40] #80 closed

[2016-12-28 12:42] #110 closed

[2016-12-28 12:43] Romain commented on #142
See issue #262 and PR #215.

[2016-12-28 12:43] #142 closed

[2016-12-28 12:44] #121 closed

[2016-12-28 12:46] Romain commented on #152
This question has been duplicated in issue #217 with more details.

[2016-12-28 12:46] #152 closed

[2016-12-28 12:49] #223 closed

[2016-12-29 04:38] NerdGuruDevelopers opened #272 "Transcoding While Streaming"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | maybe?
| Version Used   | 8b11b1f039a1f5aaf208342356488245d394e932
| FFmpeg Version | 2.6.9
| OS             | Debian 8

This is more a question as I can't seem to find anything in the documentation about it.

Is it possible to convert a file in the background and stream it to the user using this code base? I curr

[2016-12-30 01:02] bizilliam commented on #263
Romain,

I've tried this and kept getting videofilter resize errors.  Now, I quit getting errors, but it's not resizing at all.  It's creating a native 720x480 frame.  I'll go back to drawing board tomorrow and try from command line.

	    $video
		->filters()
		->resize(new FFMpeg\Coordinate\Dimension(320, 240))
		->synchronize();
	    $frame = $video->frame(FFMpeg\Coordinate\TimeCode::fromSecond

[2016-12-30 04:04] NerdGuruDevelopers commented on #272
I was going for streaming a newly converted file. Perhaps by breaking it into 1 minute segments or something?

[2016-12-30 13:30] Romain commented on #272
I think you should wait at least for the encoding to have reached 50% so 1 pass is done.
Then, you could try to break it into segments or stream it directly. I've no clue of what the result may be, but I'm interested in the results of your tests.
If you look at what streaming platforms like Youtube or Vimeo do, they don't provide you with your video before many minutes once you have uploaded the v

[2016-12-30 13:32] Romain commented on #263
Could you give us the errors you got?

[2016-12-30 18:56] bizilliam commented on #263
I'm not getting errors anymore, but if I use 'use FFMpeg;' in my PHP header I'll get 'The use statement with non-compound name 'FFMpeg' has no effect'.  If i use 'use FFMpeg\Media;', the error goes away.

Regardless,  I still can't resize.  I can resize manually.  For example, from command line

ffmpeg -i /var/www/FTP_TBGS/MasterVideoLibrary2/TEST0009.mpg -ss 00:00:01 -s 320x240 -vframes 1 out.jpg

[2016-12-30 21:33] Romain commented on #263
You can find it in the logs.

How have you installed FFMPEG? Using composer? If yes, is your autoload file properly required? What is the framework your using?
Could you provide us more details about your environment?
There's no reason for the use statement to not be properly interpreted, and there's no reason to use FFMpeg\Media instead...

[2017-01-01 05:45] sm2017 commented on #239
Ok , thanks

[2017-01-01 05:45] #239 closed

[2017-01-02 06:33] 4wellsolutions opened #273 "Class 'App\Http\Controllers\FFMpeg\FFMpeg' not found"
just use simple code after adding this package in laravel and it gives errors.
Class 'App\Http\Controllers\FFMpeg\FFMpeg' not found
just and paste the code

[2017-01-02 14:09] Romain commented on #273
Hi @4wellsolutions,
Could you give us the code you used, so we could figure out if there is any error in it?
Thanks

[2017-01-02 15:06] paq85 commented on #267
Hi I have quite similar issue,

Seems like the `\FFMpeg\Filters\Video\ResizeFilter::RESIZEMODE_FIT` mode has no chance to work since FFmpeg by default tries to save source video aspect ratio.

In order to resize to precise resolution (is that what RESIZEMODE_FIT should do?) the filter would have to use
[code]
instead of currently used
[code]

[2017-01-02 16:30] Ara4Sh opened #274 "-strict option with aac audio codec"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | maybe
| Version Used   | 0.5
| FFmpeg Version | 3.2.2-1~16.04.york1
| OS             | Ubuntu 16.04

#### Actual Behavior

libfaac removed from ffmpeg for licensing issues so we have to use -strict experimental as new option in our generated ffmpeg command from php-ffmpeg what do you suggest ?

#### Expected Beha

[2017-01-02 17:52] 4wellsolutions commented on #273
<?php

namespace App\Http\Controllers;

use App\Http\Controllers\Controller;

class TestController extends Controller
{
	public function index(){

		$ffmpeg = FFMpeg\FFMpeg::create();
		$video = "http://www.dailymotion.com/cdn/H264-176x144-2/video/x56cpxc.mp4?auth=1483507736-2562-c6cmioov-b1be3ef782de022e4cdfedb4c674859b";

		// Open your video file
		$video = $ffmpeg->open($video);

		// Set an a

[2017-01-03 07:39] sethtroisi commented on #235
I am having a similar problem where I get all black frames then saving frames from any MKV.

I can post debug info if it will help.

[2017-01-03 12:57] Romain commented on #267
Hi @paq85,
Yes, RESIZEMODE_FIT intends to resize a video to a specific resolution.
Could you point me to the FFMPEG doc of the filter you're talking about? I've been browsing it but with no luck. I'd like to compare it to what the actual FFMPEG Resize filter does, to understand the differences between both.
Thanks

[2017-01-03 13:03] Romain commented on #274
Hi @Ara4Sh,
The news you're refering to, is the one from January the 30th, 2016, is that correct?
https://www.ffmpeg.org/index.html#news
If yes, they talk in this article about libvo-aacenc and libaacplus, but not libfaac. Could you tell me more about this announcement?
Could you point me to the documentation which refers to the strict option?
Should it be added in all the commands or should it be

[2017-01-03 13:05] Romain commented on #273
Thans @4wellsolutions,
The problem is that you don't declare your class.
Add `use FFMpeg;` right after `use App\Http\Controllers\Controller;`.
R

[2017-01-03 13:07] Romain commented on #235
Hi @sethtroisi,
I would surely help. If you could, it would be great.
Thanks

[2017-01-03 13:07] Romain commented on #235
@Ninos Did you manage to find the solution?

[2017-01-03 13:39] 4wellsolutions commented on #273
Now this error occur
ExecutableNotFoundException in FFProbeDriver.php line 50:
Unable to load FFProbe

[2017-01-03 13:43] Romain commented on #273
When you create FFMPEG, make sure to declare where your executables reside, if they're not located in the default folder...

[code]

[2017-01-03 14:31] Ninos commented on #235
@Romain still notv:/

[2017-01-03 17:18] Romain commented on #235
Hi @Ninos,
I think I got it.
You're trying to use a float as seconds. Here is what PHP-FFMPEG does when you initialize this:

[code]

This will lead  to hh:mm:0.25.00 (replace hh:mm with whatever you want). This makes no sense.

Could you try this instead?

[code]

[2017-01-04 04:24] sethtroisi commented on #235
Using ffprobe from commandline

ffprobe version git-2017-01-01-68cdeb0 Copyright (c) 2007-2016 the FFmpeg developers
  built with gcc 4.9.2 (Raspbian 4.9.2-10)
  configuration: --arch=armel --target-os=linux --enable-gpl --enable-libx264 --enable-nonfree
  libavutil      55. 43.100 / 55. 43.100
  libavcodec     57. 70.101 / 57. 70.101
  libavformat    57. 61.100 / 57. 61.100
  libavdevice    57.

[2017-01-04 04:44] sethtroisi commented on #235
When I iterate over the keys in the first video stream I get

key: index = 0
key: codec_name = mpeg4
key: codec_long_name = MPEG-4 part 2
key: codec_type = video
key: codec_time_base = 1/25
key: codec_tag_string = XVID
key: codec_tag = 0x44495658
key: profile = Advanced Simple Profile
key: width = 608
key: height = 352
key: has_b_frames = 1
key: sample_aspect_ratio = 1:1
key: display_aspect_ratio

[2017-01-04 04:58] sethtroisi commented on #235
Sorry to have bothered you.

Some more documentation reading (https://github.com/PHP-FFMpeg/PHP-FFMpeg/issues/103) shows that I should get duration using ffprobe->format($filename)

[2017-01-04 07:44] Tinywan opened #275 "Unable to probe /ThinkPhpStudy/Uploads/Img/out.mpg"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

#### Actual Behavior

How does PHP-FFMpeg behave at the moment?

#### Expected Behavior

What is the behavior you expect?

#### Steps to Reproduce

What are the steps to reproduc

[2017-01-04 07:44] Tinywan opened #276 "Unable to probe /ThinkPhpStudy/Uploads/Img/out.mpg"
`$path = __ROOT__ . '/Uploads/';
        $ffmpeg =   FFMpeg::create();
        $ffmpeg->open("{$path}Img/out.mpg");`

[2017-01-04 08:18] Tinywan commented on #276
This file path to use the absolute path, for example: `http://127.0.0.1/ThinkPhpStudy/Uploads/FFmpegVideo/out.mpg`

[2017-01-04 13:31] Romain commented on #235
@sethtroisi no problem.
Glad you found the solution to your problem.
I think we should stick with the initial issue from @Ninos here.
If you encounter any issue, please create a new one.

[2017-01-04 13:32] Romain commented on #275
More details in #276.

[2017-01-04 13:32] #275 closed

[2017-01-05 02:17] Tinywan commented on #276
@Romain I think it is a relative path, the result is an absolute path, but the output file path can not specify the directory, this do not know how to do?

[2017-01-05 02:33] Tinywan commented on #90
echo "Starting ffmpeg...\n\n";
    echo shell_exec("ffmpeg -y -i input.avi output.avi </dev/null >/dev/null 2>/var/log/ffmpeg.log &");
    echo "Done.\n";

[2017-01-05 02:33] Tinywan commented on #90
` echo "Starting ffmpeg...\n\n";
    echo shell_exec("ffmpeg -y -i input.avi output.avi </dev/null >/dev/null 2>/var/log/ffmpeg.log &");
    echo "Done.\n";`

[2017-01-05 02:33] Tinywan commented on #90
`
echo "Starting ffmpeg...\n\n";
echo shell_exec("ffmpeg -y -i input.avi output.avi </dev/null >/dev/null 2>/var/log/ffmpeg.log &");
echo "Done.\n";
`

[2017-01-05 02:34] Tinywan commented on #90
`
shell_exec("ffmpeg -y -i input.avi output.avi </dev/null >/dev/null 2>/var/log/ffmpeg.log &");
`

[2017-01-05 03:19] Tinywan opened #278 "Call to undefined method FFMpeg\Filters\Video\VideoFilters::getExtraParams()"
$ffmpeg = FFMpeg::create([
            'ffmpeg.binaries' => 'd:\ffmpeg\bin\ffmpeg.EXE',
            'ffprobe.binaries' => 'd:\ffmpeg\bin\ffprobe.exe',
            'timeout' => 3600,
            'ffmpeg.threads' => 12,
        ]);
        $MP4Path = 'F:\Tinywan\Video\fooimage2.avi';
        $watermarkPath = 'F:\Tinywan\Video\00018.jpg';
        $video = $ffmpeg->open($MP4Path);
        $watermark =

[2017-01-05 12:37] Romain commented on #278
@Tinywan, we're here to help, but we're all volunteers. There are some rules to respect when posting here.

When you create an issue, you have a layout which is provided which intend to help us understand what you're trying to do, and what is the problem you're facing. Copy-pasting piece of codes everywhere is of no help. I'm not gonna answer this issue until you fulfill correctly the layout below

[2017-01-05 15:45] Tinywan commented on #90
@Romain OK!

[2017-01-05 16:10] Tinywan opened #279 "Q"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

#### Actual Behavior

How does PHP-FFMpeg behave at the moment?

#### Expected Behavior

What is the behavior you expect?

#### Steps to Reproduce

What are the steps to reproduc

[2017-01-05 16:17] #278 closed

[2017-01-05 16:21] Tinywan commented on #276
@Romain
Well, thank you very much, this problem has been solved

[2017-01-05 16:34] pickzy opened #280 "I am not able to install PHP-FFMpeg is through Composer, please help"
Below is the error which I am getting while run this command  >> php composer require php-ffmpeg/php-ffmpeg

Ratheeshs-MacBook-Pro:PHP-FFMpeg-master ratheesh$ php composer require php-ffmpeg/php-ffmpeg
Please any anybody know why I am getting this error.
;
Using version ^0.6.1 for php-ffmpeg/php-ffmpeg
./composer.json has been updated
Loading composer repositories with package information
Updating

[2017-01-05 16:55] Romain commented on #276
You're welcome.

[2017-01-05 16:55] #276 closed

[2017-01-05 16:57] Romain commented on #280
Hi @pickzy,
Could you show us your composer.json?
There seems to be a conflict between your requirements and those of PHP-FFMPEG.
Thanks
Romain

[2017-01-05 16:59] pickzy commented on #280
{
    "name": "php-ffmpeg/php-ffmpeg",
    "type": "library",
    "description": "FFMpeg PHP, an Object Oriented library to communicate with AVconv / ffmpeg",
    "keywords": ["video processing", "video", "audio processing", "audio", "avconv", "ffmpeg", "avprobe", "ffprobe"],
    "license": "MIT",
    "authors": [],
    "require": {
        "php": "^5.6.24 || ^7.0",
        "alchemy/binary-driver"

[2017-01-05 18:54] Romain commented on #280
This is the composer.json of PHP-FFMPEG, I was talking about your composer.json, more particularly the require part. I'd like to see if there may be any conflict between these 2 files.

I just tried to run `composer require php-ffmpeg/php-ffmpeg` on my side, and it worked well.

[2017-01-05 20:00] bizilliam commented on #263
I installed php-ffmpeg plugin via composer.
I installed FFMpeg software by downloading the ffmpeg/ffprobe pre-compiled binaries from the website in the readme and placed them in the proper directories (linux).  I didn't compile from source.

I'm using Yii2 on a Vagrant VM, so the 'use FFMPEG' I guess is a Yii2 generated error?

I just found that I am having the same problem as #267 .  The resize p

[2017-01-05 21:03] Romain commented on #263
Hi @bizilliam,
Thanks for these details.
Could you look in your logs for the ffmpeg command that is being executed? Could you try to execute it manually, and copy-paste it here, with the error message you get, if you get one?
I don't know Yii nor Vagrant, so for the moment, the only thing I can do to help you is trying to figure out what is the reaction of FFMPEG.

[2017-01-05 21:59] pickzy commented on #280
<img width="695" alt="screen shot 2017-01-06 at 3 27 55 am" src="https://cloud.githubusercontent.com/assets/5693243/21699104/281d59b2-d3c0-11e6-9bb9-c23f5825b2cb.png">
Please see this attached screen shot. Please suggest me the right command.

[2017-01-06 15:58] Romain commented on #280
Ok @pickzy, you're not answering my comment. I asked you for the composer.json file of your app. Could you provide it to me so I can see what are the requirements of your app?
Could you also tell us what is your version of PHP by running the command `php -v` ?

[2017-01-06 16:08] pickzy commented on #280
My Php version: PHP 5.6.24 (cli) (built: Aug  8 2016 16:58:37)
Attached my composer.json file
[composer.json.zip](https://github.com/PHP-FFMpeg/PHP-FFMpeg/files/690284/composer.json.zip)

[2017-01-09 17:08] Romain commented on #280
Your PHP version should'nt be a problem.
The file you sent me is PHP-FFMPEG composer.json file. So my guess is that you're trying to install it as a standalone bundle in a project, not as a depency of Symfony or any other framework, is that correct?
Could you try to run the command in a new folder, out of your current project and see if you get any error?

[2017-01-10 09:31] dubems commented on #147
@tvancleave please could u help with the command for audio cliping frm the command line. Thanks

[2017-01-10 12:35] Romain commented on #147
If I'm right, the command to clip audio is `ffmpeg -ss 10 -t 6 -i input.mp3 output.mp3`.

You could try to use the video clip filter:

[code]

Let me know if it works for you.

[2017-01-10 15:45] ahotnik opened #282 "How to select profile of 264 codec?"
Hi, nice extension =)
In my project i want to select profile of my codec.
I think can add:
`        if ($format instanceof VideoInterface) {
            if (null !== $format->getVideoCodec()) {
                $filters->add(new SimpleFilter(array('-vcodec', $format->getVideoCodec())));
                **$filters->add(new SimpleFilter(array('-vprofile', $format->getProfile())));**
            }

[2017-01-10 16:43] taylorvc commented on #147
@dubems You can clip audio via FFMpeg with the command @Romain stated:
`ffmpeg -ss 10 -t 6 -i input.mp3 output.mp3`
This will cut a 6 second file starting at 10 seconds in.

However, if you wish to trim the file without re-encoding it, use the command:
`ffmpeg -i input.mp3 -ss 10 -t 6 -acodec copy output.mp3`

I wasn't able to get the video clip filter to work with audio files, so I ended up creat

[2017-01-11 12:22] Romain commented on #147
Thanks for this work @taylorvc.
@swordsreversed pushed a PR #240 which does the same.
However your code adds 2 parameters which may be interesting.

[2017-01-11 12:25] Romain commented on #282
Hi @ahotnik,
Thanks for the encouragements.
I'm not sure to understand your need. Would you like to add this to the core files of the bundle? If yes, could you tell us where you would like it to be added?
Or would you like to get a confirmation that this code allows you to select your codec?

[2017-01-13 14:53] #227 closed

[2017-01-13 15:28] #175 closed

[2017-01-13 15:43] #220 closed

[2017-01-13 18:46] Romain commented on #9
[Documentation](https://www.ffmpeg.org/ffmpeg.html#Subtitle-options)

[2017-01-13 18:47] Romain commented on #12
Hi @romainneutron,
Could you point me to the FFMPEG documentation which refers to this feature?
Thanks

[2017-01-13 18:49] Romain commented on #13
Hi @romainneutron,
Could you tell me more about what you had in mind with this feature?
It seems that the documentation evolved and that your link is dead.
Thanks

[2017-01-14 04:05] astierler commented on #269
@travoliti if you edit `src/FFMpeg/Format/Video/WebM.php` and change `getAvailableVideoCodecs` (last function in class) to include "libvpx-vp9" in the array - are you able to run it?

It appears "libvpx" is just the only hardcoded option for getAvailableVideoCodecs.  I tried this on my environment and my video encoded properly.  Give that a try.

I will look into adding this into a pull request al

[2017-01-16 21:00] #158 closed

[2017-01-24 18:03] #217 closed

[2017-01-24 18:19] #124 closed

[2017-01-25 14:13] Romain commented on #171
For now, I would recommand to use the new additionalParams filter to pass the "-sn" option.
I wouldn't guarantee it will work, but refering to [this section](https://www.ffmpeg.org/ffmpeg.html#Subtitle-options) of the doc, my guess is that it's the proper option.
Since your project is on hold and you didn't provided more information on how to do this with the command line, I'll close this issue fo

[2017-01-25 14:13] #171 closed

[2017-01-25 14:19] Romain commented on #245
I re-read your feature request.
This is slightly different from concatenation since you want to read both videos at the same time.
I'm not sure how to do it. Do you have any idea on how to do it through the command line?

[2017-01-25 14:35] theDTD commented on #245
Hello, you can actually do it with overlay filter based from this command line example from https://ffmpeg.org/ffmpeg-filters.html#Examples-68

`ffmpeg -i left.avi -i right.avi -filter_complex "
nullsrc=size=200x100 [background];
[0:v] setpts=PTS-STARTPTS, scale=100x100 [left];
[1:v] setpts=PTS-STARTPTS, scale=100x100 [right];
[background][left]       overlay=shortest=1       [background+left];
[b

[2017-01-25 18:04] Romain commented on #245
Thanks @theDTD.
I will try to look at it. I'm currently working on the concatenation feature. This will come afterwards.

[2017-01-26 19:32] webfreaks opened #288 "Error when saving video with big(maybe) file size"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | 0.7.0
| FFmpeg Version | git-2016-11-26-99ee8ee
| OS             | CentOS 7

Hai,

I got some problem when saving a video to mp4 with size above 1Mb.
I try give a video with under 100Kb size an overlay and save to *.mp4 and it's working properly.
But, when the video above 1Mb I got an error l

[2017-01-26 20:07] Romain commented on #288
Hi @webfreaks,

I don't think that the size is a problem. I'm encoding files up to many Gb with PHP-FFMPEG without any problem.
From what I can see, the problem seems to be with your codecs: `Unknown encoder 'libfaac'`.

Could you tell me how you have installed FFMPEG on your server? Have compiled it using the compilation guide?
https://trac.ffmpeg.org/wiki/CompilationGuide

If not, I would recomm

[2017-01-27 06:08] webfreaks commented on #288
Hi,
Thank you for the response.

I installed FFMPEG from this source https://s3bubble.com/installing-ffmpeg-on-centos-6-6-in-usrlocalbin/.

And here piece my code.

[code]

Thank you.

[2017-01-27 13:42] Romain commented on #288
Hi @webfreaks,

Thanks for this answer.

Like I said, I think that the problem comes from the fact that you don't have the codec aac installed. Following the compiling guide to install FFMPEG is the best way to prevent this.

However, I think there is a work-around.
Could you try to define the format of the exported video as follow:

[code]

Let me know if this works for you.

Romain

[2017-01-29 21:29] webfreaks commented on #288
Hi,

It's working like a charm :D.
Thank you for the help @Romain

[2017-01-29 21:30] #288 closed

[2017-01-30 14:08] Romain commented on #288
You're welcome! ;)

[2017-01-31 05:31] zimmermanj42 opened #289 "Reading video metadata from partial file?"
We are storing videos on AWS S3 that our users upload.  What we would like to do would be to get some basic video metadata about those files.  However, the videos being uploaded could be quite large (from hundreds of megabytes to even gigabytes).  It would not be ideal to have to download the entire video from S3 to the local server to run the "probe" functions on it.

Is it possible to run the pr

[2017-01-31 16:42] Romain commented on #289
Hi @zimmermanj42,

I don't have the answer to your question right now, I'll need to think about a way to do that.
However, have you tried to run the probe on the distant file? I don't think it downloads it locally, the probe action may be quite fast...

Could you try this and let me know if the performances are what you look for or not?

Thanks
Romain

[2017-02-01 02:55] webfreaks opened #290 "Got error "Network Error (tcp_error)" when saving video with duration more than 3 second"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | 0.7.0
| FFmpeg Version | git-2016-11-26-99ee8ee
| OS             | CentOS 7

Hi,

I got an error when saving a video with duration more than 3 seconds. I thought it's about timeout then I set FFMPEG timeout to 18000000. But still get the same error.

Is this problem fully from my server or I

[2017-02-01 08:38] schmanat commented on #290
It is realy a issue with this library? What did the Server Log says?

[2017-02-01 11:47] nikunj1990 opened #291 "ExecutionFailureException in ProcessRunner.php line 100:"
We have installed "PHP-FFMpeg" step by step in live linux server and try to create thumbnail but getting below errors.

**1.** ffmpeg failed to execute command '/home4/public_html/project/event/public/ffmpeg/ffmpeg' '-y' '-ss' '00:00:02.00' '-i' '/home4/pankaj/public_html/project/eventusapp/public/uploads/0b14d35e92f96497d0cabd0ebe9ea566.mp4' '-vframes' '1' '-f' 'image2' '/home4/public_html/projec

[2017-02-01 12:57] Romain commented on #290
I completely agree with @schmanat, logs are mandatory to understand the problem.
Could you paste them here, along with your code?
Thanks

[2017-02-01 13:00] Romain commented on #291
Hi @nikunj1990,
Have you tried to execute your command manually, in the terminal?
Could you do it and paste here the result?

Second thing, I'm not sure about the combination of the resize and the frame in one command.
Could you try the frame command without the resize? Or try to save the video after the resize and before generating the frame?

Thanks
Romain

[2017-02-02 09:09] nikunj1990 commented on #291
Hello, I have tried to execute command manually in the terminal but got below errors.

**[AVFilterGraph @ 0x3e99160] Error initializing threading.
[AVFilterGraph @ 0x3e99160] Error creating filter 'null'**

please see this screenshot
https://www.screencast.com/t/Wq4qadyCV

[2017-02-02 14:47] GuillaumeVerdon commented on #226
Hello @OliverTempel

I had the same problem with european accent.

The issue was due to the use of the primitive function escapeshellarg() into the process builder of Symfony. This function will delete every non-ascii chars if the locale LC_CTYPE is not set as UTF-8

I did a pull request here that resolve the issue on linux : https://github.com/symfony/symfony/pull/21485#event-946454196

Anyway, a

[2017-02-02 14:54] GuillaumeVerdon commented on #291
Hello all,
Maybe an answer here :
http://stackoverflow.com/questions/25559917/ffmpeg-error-when-using-non-root-user

[2017-02-02 20:38] Romain commented on #291
Hi @nikunj1990,
Could you show us your complete command?
Could you also try my second proposition, and tell us what it says?
Thanks
Romain

[2017-02-03 05:46] nikunj1990 commented on #291
hi @Romain ,
Thank you for the reply.

Yes We have tried after removed resize method but same issues are occurring. Please see below code.

[code]

Please see this screenshot for the cmd https://www.screencast.com/t/lT1CTCCOyWA.

[2017-02-03 15:55] Romain commented on #291
Hi @nikunj1990,
Thanks for these details.
Could you tell us more about your environment: distribution, version. Could you also tell us how you have installed FFMPEG, is it through a package or through the [compilation guide](https://trac.ffmpeg.org/wiki/CompilationGuide)?
Thanks
R

[2017-02-03 20:46] pedro380085 opened #293 "Frame of video in portrait is automatically rotated to landscape"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | ffmpeg version 2.4.3-1ubuntu1~trusty6
| OS             | ubuntu 3.13.0-91-generic

#### Actual Behavior

The frame is in landscape.

#### Expected Behavior

The frame should be in portrait.

#### Steps to Reproduce
[code]
#### Possible Solutions

[2017-02-05 05:15] Tinywan opened #294 "Cuts the video Error Info “Encoding failed”"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | ~0.5
| FFmpeg Version | ffmpeg version N-50398-g76f8d3c Copyright (c) 2000-2013 the FFmpeg developers
| OS             | Windows

#### Actual Behavior
`
 public function Clip($startTime = 30,$duration = 25)
    {
        $ffmpeg = FFMpeg::create();
        $MP4Path = 'F:\Tinywan\Video\out.mp

[2017-02-06 02:15] jenky opened #295 "Encoding failed"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | 0.8.0
| FFmpeg Version | ffmpeg version 3.2.2 Copyright (c) 2000-2016 the FFmpeg developers
| OS             | macOS 10.12.3

#### Actual Behavior

Encoding failed

#### Steps to Reproduce

I want to convert a mp4 video file to mkv but it was failed. Here is the log:

`ffmpeg failed to execu

[2017-02-06 12:31] DHoogland commented on #295
I had the same problem today. I solved it by adding 'aac' to the getAvaibleAudioCodecs function in the X264 class.
Then I convert the file this way:
`$video->save(new X264('aac', 'libx264'), $sDownloadDir.$file->getTitle().'.mp4');`
This is for html5 friendly video/audio.

We might want to update this in the repo?

[2017-02-06 15:28] qwill opened #296 "How can I install this on windows?"
I seriously need to install php ffmpeg on my WAMP server... on windows. Please help.

[2017-02-06 20:44] Sensetivity commented on #296
Download ffmpeg zipball, for comfort unpack it to domain folder and then run for example as "C;/wamp/your-silte.loc/binaries/ffmpeg" - some - command - here.

[2017-02-06 20:50] gabriel-munteanu opened #297 "Unknown encoder 'libfaac'"
| Q              | A
| -------------- | ---
| Bug?           | perhaps
| New Feature?   | no
| Version Used   | [0.7.0] - 2016-12-15
| FFmpeg Version | FFmpeg  3.2.2-1~bpo8+1
| OS             | Debian 8.6

#### Actual Behavior

I try to pad a clip and I get a PHP Fatal Error.

#### Expected Behavior

No crash 😁

#### Steps to Reproduce

Use the padding filer on a video file.

#### Possible Solutio

[2017-02-06 20:59] ibrahimch opened #298 "How to convert mkv to mp4"
How can I convert mkv file having 2 audio in 2 mp4 files ?
Second question is how to remove meta data without re-encoding

[2017-02-06 21:08] gabriel-munteanu commented on #297
Problem 2: I just want to add padding to a video to get it to a bigger resolution.
`/usr/bin/ffmpeg '-y' '-i' '/tmp/rec3.2.mp4' '-vf' 'scale=iw*min(1366/iw\,768/ih):ih*min(1366/iw\,768/ih),pad=1366:768:(1366-iw)/2:(768-ih)/2' '-vcodec' 'libx264' '-acodec' 'aac' '-refs' '6' '-coder' '1' '-sc_threshold' '40' '-flags' '+loop' '-me_range' '16' '-subq' '7' '-i_qfactor' '0.71' '-qcomp' '0.6' '-qdiff' '4

[2017-02-07 02:35] jenky commented on #295
Thanks, `new X264('aac', 'libx264')` did the job

[2017-02-07 13:29] totomtornado opened #299 "ffmpeg raspberry pi jessie install or use avconv"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version (raspbian Jessie)

#### Actual Behavior

How does PHP-FFMpeg behave at the moment?
I have tried everything to get ffmpeg and php-ffmpeg to work together.  I am kind of a novice in

[2017-02-07 20:11] gabrielschuck opened #300 "I am not able to convert ogg file to mp3"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

#### Actual Behavior

_How does PHP-FFMpeg behave at the moment?_

#### Expected Behavior

_What is the behavior you expect?_

#### Steps to Reproduce

_What are the steps to rep

[2017-02-07 23:21] mario-laserna opened #301 "Chain two or more watermarks doesn't work"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | possible
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

#### Actual Behavior

When I chain two watermark filters doen't work, the second watermark it's the only works, I tried this with both options $video->filters()->watermark

[2017-02-08 09:11] loicm opened #302 "Feature Request: Insert image"
| Q              | A
| -------------- | ---
| New Feature?   | yes

#### Actual Behavior

It seems the feature does not exist.

#### Expected Behavior

I'd like to have some images (jpg, png, whatever) at the same size of the video, then insert and display them for a given time.
This is not a watermark but a fullscreen image that could be inserted at the beginning or at the end of the video.
Bonus

[2017-02-08 15:34] gabriel-munteanu commented on #297
I found that the problems is because of the parameter -pass 1 . I don't know what this is does but I'm going to find a way to remove from the command.

[2017-02-08 16:32] totomtornado commented on #299
Long post I know....

It seems so tough to get solid info on ffmpeg install for jessie... after thought I am considering a second machine(another pi3B) to use with this wrapper.  This fits what I want to do with my project a little better anyway.

I am contemplating using ubuntu MATE on this new pi to run a second LAMP and ultimately ffmpeg and this wrapper.  Any experiences with ubuntu MATE, ffmp

[2017-02-08 16:54] gabriel-munteanu commented on #297
Ok. There were other errors like typos in the output filename or the folder for pass was not existent when I was running the command manually. After all, the only problem was with the codec and I used the fix from issue #295

[2017-02-08 16:54] #297 closed

[2017-02-08 21:18] Romain commented on #296
@Sensetivity is the way to install FFMPEG.
If you want to use PHP-FFMPEG, install it through composer as explained [here](https://github.com/PHP-FFMpeg/PHP-FFMpeg#installation), and integrate it into your app.

[2017-02-08 21:21] Romain commented on #301
Hi @mario-laserna,
Are you sure this is doable with the command line?
If yes, could you provide the command line to use?

[2017-02-08 21:26] Romain commented on #295
Hi @DHoogland,
You shouldn't have to change the core files. This has already been fixed in 0.7.0 by @Neck, in PR #257.
Since this issue is solved, and you found the proper way to use it, I'll close it.
R

[2017-02-08 21:26] #295 closed

[2017-02-08 21:31] mario-laserna commented on #301
Hi @Romain

I am not sure, but based on this http://stackoverflow.com/questions/12378667/ffmpeg-watermarking-multiple-images
should be possible

[2017-02-08 21:35] Romain commented on #301
Thanks @mario-laserna, looks like this could do the job.
I think this is a feature request.

[2017-02-09 17:11] Romain commented on #300
Hi @gabrielschuck,
Could you try this:

[code]

and tell me if it works?

[2017-02-09 17:14] Romain commented on #294
Hi @Tinywan,

What you're asking is that, if the start time is bigger than the duration of the video, we raise an error, or if the start time + the duration of the clip is bigger of the duration of the video, we raise an error or clip the video until the end?

Is that correct?

[2017-02-09 17:16] Romain commented on #293
Hi @pedro380085,

Could you post your image, so we can see what it looks like?

I'll dig into the issue #177.

[2017-02-09 17:18] Romain commented on #298
Hi @ibrahimch,

I guess that you will want to concatenate your mp4 files first. A PR will be released soon to tackle this: #287.

With regards to your second question, have you any idea on how to do it with the command line?

[2017-02-09 17:20] Romain commented on #280
Hi @pickzy,
Have you been able to solve this issue?

[2017-02-09 17:21] Romain commented on #282
Hi @ahotnik,
Any news?
Should I close this issue?

[2017-02-09 17:22] Romain commented on #259
Hi @joyebright,
Have you found a solution for this issue?
Should we close it?

[2017-02-09 17:23] Romain commented on #258
Hi @jamesgraham,
I'm not sure you can do it for now.
I'll tag this as a feature request.

[2017-02-09 17:25] Romain commented on #302
Hi @loicm,

Thanks for this feature request.

Just to be sure to clearly understand your need, you don't want the image to be added in front of the video like a regular watermark, you want to be able to create an introduction or ending screen, which will be visible for a certain amount of time, is that correct? You may also want to be able to do this in the middle of the video?

Have you any idea

[2017-02-09 17:29] Romain commented on #299
Hi @totomtornado,

It seems clear that the executable is not found, so the problem comes from the way you installed FFMPEG on your machine.

I don't know the guide you follow, but I can only recommend that you follow the [official guide](https://trac.ffmpeg.org/wiki/CompilationGuide/), which is cristal clear and works like a charm.

Let me know if this helps.

[2017-02-09 17:40] pickzy commented on #280
no

--

Thanks and have a great day.

Regards
Ratheesh | Director
* <http://www.pickzyinteractive.com/>*
| JVL Plaza Building | 6th Floor | Anna Salai |
| Teynampet | Chennai 600 018 | India |
| India Phone : (044) - 45014466 | US Direct : (213)(261)-0683 |
| Skype : macratheesh |
| Email  : ratheesh@pickzy.com |
| URL    : www.pickzyinteractive.com |

*Disclaimer Statement:*
Information contained

[2017-02-09 17:43] Romain commented on #280
Could you answer my questions then?
Or should I close this issue?

[2017-02-09 18:30] loicm commented on #302
This is exactly the feature I suggests :)

At the moment, I don't know how to do it, I'm quite new with ffmpeg, but I can read the documentation to understand if it is possible and how to do it.

I'll let you know.

[2017-02-09 18:32] pedro380085 commented on #293
Hi @Romain, thanks for your reply!

Here it is:
![235ca24bd4b773d5b6c9386c52b83cc209ad453f mov](https://cloud.githubusercontent.com/assets/1212753/22797439/1116292a-eeb3-11e6-967b-cce09b52bb01.jpg)

[2017-02-09 19:31] pickzy commented on #280
The file you sent me is PHP-FFMPEG composer.json file. So my guess is that you're trying to install it as a standalone bundle in a project, not as a depency of Symfony or any other framework, is that correct? YES
Could you try to run the command in a new folder, out of your current project and see if you get any error? I tried still getting same issue.
Tomorrow again let me try with different pc a

[2017-02-10 01:09] Tinywan commented on #294
@Romain Hi,Is the second possibility you may immediately prompt the wrong message, rather than editing the video until the end
**If the start time + duration of the clip is greater than the duration of the video, an error is thrown! error code**`Encoding failed`

[2017-02-10 11:31] totomtornado commented on #299
right... it says "Executable not found, proposed : /usr/share/ffprobe"... which is because I specified the path to the ffprobe and ffmpeg in the script I wrote BUT... the thing is that the files were in that location so....

All in all... My searching showed me way too many ways to compile or install ffmpeg on raspbian jessie and so many more errors or problems with it on this system.  That is why

[2017-02-10 12:58] andrekat opened #303 "getFormat -> empty"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | latest composer
| FFmpeg Version | latest from distributor
| OS             | Windows

I am using PHP-FFMpeg to convert any audio file to mp3 (192 KBIT, 44.100 HZ).
My problem: getting the format of an mp3 (e.g. 128 KBIT, 24.100 HZ)

Code I am using:

`$ffmpeg = FFMpeg::create();
        $aud

[2017-02-10 14:23] Romain commented on #299
I've no experience with Ubuntu MATE.
However, if your executable cannot be found, and exec won't work either...

[2017-02-10 20:12] Romain commented on #302
Thanks!
If I've got some time, I'll dig into it too, but it's always easier if the person who suggests the feature points us to right direction... ;)

[2017-02-10 20:14] Romain commented on #303
Hi @andrekat, could you be more specific on what you wanna get exactly?
Have you tried this?

[code]

[2017-02-13 15:13] loicm commented on #302
It looks like a way to do is:

- convert intro/outro image to video. Eg: `ffmpeg -loop 1 -i intro.png -c:v libx264 -t 10 intro.mp4`
- then concat the intro video with the main video. Not sure how to do it properly at the moment.

I think we should forget about inserting image the middle of the video. Having start/end image will be a great first step.

[2017-02-14 15:24] Romain commented on #293
Ok, thanks.
I better understand what's your issue.

[2017-02-14 15:25] Romain commented on #294
Hi @Tinywan,
Thanks for these details.
I tagged this request as a feature request, so we can add it to a future PR.

[2017-02-14 15:26] Romain commented on #302
Thanks @loicm,
I'll dig into it as soon as I have time.
I also invite you to take a look at this PR which may help you: #287

[2017-02-14 16:55] #245 closed

[2017-02-15 18:04] LaurentMarquet opened #304 "iDevices does not display mp4 videos"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Not related to
| FFmpeg Version | Not related to
| OS             | Not related to

According to http://www.iphonefaq.org/archives/97961 (I've also found this information in other places) videos have to be encoded with H.264 video up to 720p, 30 fps and audio: AAC-LC up to 160 Kbps, 48kHz, st

[2017-02-15 19:25] Romain commented on #304
Hi @Laurent3170,
There is currently no option to set the KiloBitrate option in the X264 interface.
Have you tried to use another format, like MP3 instead of AAC?

`$format->setAudioCodec("libmp3lame");`

As I'm not an expert on iOS formats, I don't know any specific configuration for these devices.

[2017-02-15 20:43] Laurent3170 commented on #304
Hi @Romain, thanks for your answer.
Yes I was using `libmp3lame` before `libfdk_aac`. I have changed to `libfdk_aac` because of the link above specifying that AAC-LC is needed.
I have also tried with `aac`, `libvo_aacenc` and `libfaac`, but the result is the same: not able to view the video on iDevices...

[2017-02-16 08:08] weituotian opened #305 "the default method save cause excepition!"
| Q              | A
| -------------- | ---
| Bug?           | Yes
| New Feature?   | no
| Version Used   |
| FFmpeg Version | 3.2
| OS             | win10
#### Actual Behavior

[code]

![image](https://cloud.githubusercontent.com/assets/7270968/23012519/9f347104-f461-11e6-918b-117562c5e735.png)

i can get the image but can not encode the video!
![image](https://cloud.githubusercontent.com/assets/

[2017-02-16 08:14] weituotian commented on #305
![image](https://cloud.githubusercontent.com/assets/7270968/23012815/f1eafa20-f462-11e6-8777-f2703bd9e6ba.png)

[2017-02-16 09:34] Laurent3170 commented on #304
Do you know where I can find help ? I don't think I'm alone to have the need to have videos viewable on iDevices ;-)

[2017-02-16 09:58] totomtornado commented on #299
I was able to get my new pi and try out a Ubuntu Mate install with this wrapper.

I am happy to report it works very well.

I copied over the image and used Ubuntu's Tasksel to install my LAMP stack
https://help.ubuntu.com/community/Tasksel

Then I got ffmpeg apt-get... the package is available on the repository and fine for me but for other situations you still may need to compile, etc.
https://u

[2017-02-16 12:51] Romain commented on #299
Thanks for the feedback.
I'm glad it worked for you.
I'll close this issue then.

[2017-02-16 12:51] #299 closed

[2017-02-16 12:53] Romain commented on #304
I'm unsure.
The best way would be for you to figure out what the ffmpeg command should be and post it here, so we can consider modifying the bundle to either create a new feature for iDevices or simply give you the ability to change the KiloBitrate for videos.

[2017-02-16 12:57] Romain commented on #305
Hi @weituotian,
The error is quite explicit. A quick search in the issues would have given you the solution.
The problem is that you don't have the required codec installed on your machine.
You need to select another audio codec:

[code]

More details with issue #295 or #288

[2017-02-16 15:04] Laurent3170 commented on #304
Thanks. The thing is that I don't know what my command line should look like... But I'll make investigations.

[2017-02-17 16:58] Purus commented on #89
Note which slash you use. Use "C:/FFmpeg/bin/ffmpeg.exe" and not "C:\FFmpeg\bin\ffmpeg.exe"

Hope it helps someone.

[2017-02-17 17:22] Purus opened #306 "Verify auto-detection of binaries"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | 3.2.2
| FFmpeg Version | 3.2.2
| OS             | Windows 10

How do I verify FFMpeg has successfully auto-detected ffmpeg and ffprobe binaries? I would like to provide the binary paths only when the binary path is not auto-detected.

Any help or link to look in to?

[2017-02-18 21:45] sullyfischer opened #307 "How to run this ffmpeg command through PHP-FFMpeg"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | 0.9.0
| FFmpeg Version | FFmpeg 3.2.4
| OS             | macOS 10.12

I've been trying to convert .gif to .mp4 and it works with below code:

[code]

But the converted file doesn't play in browsers. I've found this ffmpeg ssh command that works great (the converted file does work in browsers)

[2017-02-19 07:55] jens1o commented on #307
Hi!
`$format->setAdditionalParameters(array('foo', 'bar'));` may help you.

[2017-02-19 09:05] Laurent3170 commented on #304
I have found https://korben.info/ffmpeg-pour-les-nuls.html (in french) that specifies the command line for iPhone `ffmpeg -i source_video.avi input -acodec aac -ab 128kb -vcodec mpeg4 -b 1200kb -mbd 2 -flags +4mv+trell -aic 2 -cmp 2 -subcmp 2 -s 320x180 -title X final_video.mp4`. I have tested it but I have errors and for the time being it's still chinese for me as I have to know what means every

[2017-02-19 15:46] sullyfischer commented on #307
Thanks man, that did the trick

[2017-02-19 15:46] #307 closed

[2017-02-19 16:26] shtse8 opened #308 "How to resize and watermarking in one request?"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

#### Actual Behavior

The watermark is resized in the same request.

#### Expected Behavior

watermark should remain the same size while the video is resized.

#### Steps to Repr

[2017-02-19 20:59] shtse8 commented on #90
I have the same issue, when adding watermark to images. some of images will throw Encoding error. and the result file size become zero.

[2017-02-20 20:41] Romain commented on #89
Thanks @Purus for this contribution.
Regarding the age of this issue, I'll close it for now.
If anyone has a similar issue, please open a new one.

[2017-02-20 20:41] #89 closed

[2017-02-20 20:45] Romain commented on #306
Hi @Purus,
In the path src/FFMPEG/Driver of the bundle, you have the 2 classes responsible for throwing an error if the binaries cannot be found.
The file src/FFMPEG/FFMpeg.php loads these binaries.
Hope this helps.

[2017-02-20 20:46] Romain commented on #304
Hi @Laurent3170,
Thanks for this follow-up.
Feel free to paste any error here, so we can help with it.

[2017-02-20 20:47] Romain commented on #90
Hi @shtse8,
This issue is pretty old, and doesn't relate specifically to watermarking.
Could you create a new one pasting the error throwed, your piece of code, and the result of the execution of the command line if you have it, so that we can help you debug your code?
Thanks

[2017-02-20 20:47] #90 closed

[2017-02-21 09:38] DVendy opened #310 "Encoding failed : Can't save to X264, but WMV works fine"
Saving to WMV works fine
->save(new FFMpeg\Format\Video\WMV(), 'export-wmv.wmv')

But when saving to X264
->save(new FFMpeg\Format\Video\X264(), 'export-x264.mp4')
It throws Encoding failed exception
here is the full message

I'm using laravel 4.2

[2017-02-21 11:56] nikunj1990 commented on #291
Hello,

We have executed the direct command and it is working fine.

Now we no getting any kind of error but there is not create snapshot of the video.

[2017-02-21 12:06] andrekat commented on #303
Hello @Romain, I followed your suggestion and this is the result:
`
Call to undefined method FFMpeg\\FFProbe\\DataMapping\\Format::getAudioCodec()`

Any idea?

[2017-02-21 16:49] Romain commented on #310
Here's the proper way to do it:

[code]

[2017-02-21 16:51] Romain commented on #291
Hi @nikunj1990,
Are you sure that the destination folder is writable?
Have you checked the logs?

[2017-02-21 16:53] Romain commented on #303
What about

[code]

?

What type of information to you expect?

[2017-02-21 16:55] Romain commented on #308
Hi @shtse8,
That's correct, the filters apply when you execute the save function.
Which means that if you chain them, they will all interact together.
I don't see an easy way to change this behaviour.
What is the problem with executing 2 times the save function?

[2017-02-21 21:55] AyrA commented on #254
If not yet fixed, this is an ffmpeg issue. add `-auto-alt-ref 0` to the command line and the error is gone.

[2017-02-22 10:35] genora-saish opened #311 "Video Merging Issue"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | ffmpeg version 1.2.1 Copyright (c) 2000-2013 the FFmpeg developers,  built on Jan 13 2017 10:51:23 with gcc 4.4.7 (GCC) 20120313
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Red Hat 4.4.7-17

#### Actual Behavior
When I try to merge more than 2 videos it fails.
I use the

[2017-02-22 15:00] Romain commented on #254
Ok, thanks for this feedback.
You may want to use the setAdditionalParameters function of the DefaultVideo format to do this.

[2017-02-22 15:00] #254 closed

[2017-02-22 15:02] Romain commented on #311
Hi @genora-saish,
Can you give use your code for us to see how you're doing it?
Can you also try to use the function for videos with different codecs to see if it works?
Thanks

[2017-02-22 19:09] jens1o commented on #173
Any updates on this request? I think this feature would be useful for my project.

[2017-02-23 04:35] genora-saish commented on #311
Hi Romain,

Thanks for your reply.

I have hard-coded the command mentioned below and assigned it to a string variable.
Same string I am passing to exec function. When I execute it gives me above mentioned error.
However same function or code executes perfectly on local windows 7 machine. Details are mentioned above.
Even Permissions are set properly for each of the folder. Same code works for mer

[2017-02-23 07:33] shtse8 commented on #308
I have tried to execute two times, but the behavior is weird - the second time run before the first time completed resulting in incompleted result file (only one second of the result file).

[2017-02-23 10:18] joyebright commented on #259
@Romain Actually no,
I couldn't find any solutions !

[2017-02-23 13:42] Romain commented on #173
@jens1o I don't think that there is anything new here.
Could you create a PR with a new method allowing the user to save the file into multiple outputs in one request?

[2017-02-23 13:49] Romain commented on #311
@genora-saish thanks for these details. I think I understand better what happens here.
This forum is only for PHP-FFMPEG bundle. If you encounter any issue related to FFMPEG specifically, I suggest that you post your question on a [forum dedicated to FFMPEG](http://ffmpeg.gusari.org/index.php).

However, reading to the error, it seems that you don't have the aac codec installed on your machine, or

[2017-02-23 13:51] Romain commented on #259
@joyebright can you tell us how you installed FFMPEG? Was is using apt-get?
If yes, could you try to install it using the [compilation guide](https://trac.ffmpeg.org/wiki/CompilationGuide)?

[2017-02-23 13:52] Romain commented on #308
Then, I'll let you suggest a PR to improve this behaviour.

[2017-02-23 15:31] jens1o commented on #173
I'll do it on the weekend. @Romain

[2017-02-23 16:26] Romain commented on #173
Thanks @jens1o

[2017-02-25 08:07] ibrahimch opened #313 "map feature"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | Yes
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

I think -map feature is not in this library, I need to convert specific audio track to mp4 from MKV, Having 2 or more audio tracks

[2017-02-25 08:37] jens1o commented on #313
What does `-map` offers? I think you can convert it like this:
[code]

[2017-02-25 09:16] jens1o commented on #300
Anyway, we should validate wether it's a valid audio format submitted. I'm creating a pr.

[2017-02-25 09:18] jens1o commented on #300
Huhh? It seems that @gabrielschuck's php binaries are broken. Actually, there is a type hint already included...

[2017-02-26 08:00] ibrahimch commented on #313
How can I convert mkv to mp4 aur 2nd audio track (MKV File Has 2 or more audio track) Then how can I select audio track

[2017-02-26 08:02] jens1o commented on #313
err... Well, I don't know. Excuse me.

[2017-02-26 08:07] ibrahimch commented on #313
Here is map feature description
https://trac.ffmpeg.org/wiki/Map

[2017-02-27 14:17] andrekat commented on #303
Accessing the properties via "get" method is working now.

e.g.:
$currentFormat->get("format_name") == "mp3"
$currentFormat->get("bit_rate") == 192852

[2017-02-27 19:02] Romain commented on #300
Yeah, normally the core features of the bundle have been really nicely developed by @romainneutron.
When we face an issue with sound encoding it's mainly due to a lack of codecs on the server of the user, or to the way FFMPEG has been installed.
The best way to install FFMPEG is to compile it following [this documentation](https://trac.ffmpeg.org/wiki/CompilationGuide).
In this case, it would be g

[2017-02-27 19:03] Romain commented on #303
Ok, thanks for this follow-up.

[2017-02-27 19:03] #303 closed

[2017-02-27 19:06] Romain commented on #313
Hi @ibrahimch,
Could the video filter setAdditionalParameters() be a solution for you?
`src/FFMPEG/Format/Video/DefaultVideo.php`
Thanks
Romain

[2017-02-27 22:56] gabrielschuck commented on #300
Thanks guys, I got the hang of it. I had to give permissions on the files and folders. The script works very well, I even did the installation of ffmpeg in Centos following this tutorial:
Https://trac.ffmpeg.org/wiki/CompilationGuide/Centos
greetings

[2017-02-27 22:56] #300 closed

[2017-02-28 09:19] joyebright commented on #259
@Romain yes I used apt-get.

[2017-02-28 15:58] Laurent3170 commented on #304
I have made some tests. by using `ffmpeg -i video-master.mov -c:v mpeg4 -r 24 -b:v 160k -c:a aac -b:a 160k -strict -2 -s 640x400 video.mp4` I should have an audio bitrate of 160kbps but I obtain 1411kbps...
I've tried to lower the `-b:a` value but the result is still 1411 kbps.
Maybe it's due to the fact that I use a quite old version `ffmpeg version 2.8.11-0ubuntu0.16.04.1`. I'm trying to install

[2017-02-28 16:36] jens1o commented on #304
There is currently no option to set the KiloBitrate option in the X264 interface.

May I create a PR? I'd searched after this, but didn't found anything.

[2017-03-01 14:35] Romain commented on #304
The function is present in the DefaultVideo class, but that's right, not in the H264 one.
Yes a PR would be helpful. Thanks!

[2017-03-01 14:38] Romain commented on #259
@joyebright, can you try to reinstall it using the compilation guide?
It frequently solves problems.
If you also have any trace or log to provide, it would be helpful.

[2017-03-01 15:17] jens1o commented on #304
@Romain Why doesn't it inherit the function?

[2017-03-01 19:40] jaybkim1 opened #316 "Fatal error: Uncaught Error: Class 'FFMpeg\FFMpeg' not found"
It seems like there were many questions similar to what i am suffering from.
I took a look at them, and I still can’t figure out how to do it. I would like to test how to capture a thumbnail image from the existing video file.

Below is current set up in my local server

| Q              | A
| -------------- | ---
| OS             | Ubuntu 16.04
| PHP version   | 7.0
| Nginx Version | 1.10.3
| FFm

[2017-03-01 20:39] jens1o commented on #316
You need to put this before the first line
[code]
because you need to include the composer libs that you provided. So this is basic for composer, because you need to load them when you want to use them.

[2017-03-01 20:49] jens1o commented on #304
@Romain But it's used in the examples? And since it's just extending, why it doesn't inherit these functions?  https://github.com/PHP-FFMpeg/PHP-FFMpeg#transcoding

[2017-03-01 23:13] joyebright commented on #259
@Romain tnq for ur kind reply, but actually now I am on another project which is completely far from FFMpeg, So if I could find enough time, I would follow ur instruction soon.

[2017-03-01 23:13] #259 closed

[2017-03-02 06:05] jaybkim1 commented on #316
I put `require_once 'vendor/autoload.php';` right after the php tag.

This gives me the below error.

`Warning: require_once(vendor/autoload.php): failed to open stream: No such file or directory`

[2017-03-02 07:10] Miky94 commented on #172
Guys... Same error here on windows, executable runnable from system path... anyone found a solution?

[2017-03-02 08:48] mailightkun opened #317 "Your FFProbe version is too old and does not support `-help` option, please upgrade."
Hi, before my static binary ffmpeg and ffprobe can read.. but now.. when i update my php-ffmpeg package. .it says like this "Your FFProbe version is too old and does not support `-help` option, please upgrade.".

How to solve this problem? thanks

[2017-03-02 10:30] jens1o commented on #317
Could you show us a `ffmpeg -version`output?

[2017-03-02 10:32] jens1o commented on #316
How did you required the lib? Global or not? If global, try to require it just in the directory.

[2017-03-02 16:22] Romain commented on #317
@mailightkun, can you also tell us which version is causing this issue? 0.8? 0.9?

[2017-03-02 16:58] Laurent3170 commented on #304
I have updated to `ffmpeg version 3.2.4-1~16.04.york1` on my Ubuntu computer but the result with the ffmpeg command line is till the same... Don't know how to do better.

I have also tried
[code]
But I receive this error message `Attempted to call an undefined method named "setKiloBitrate" of class "FFMpeg\Filters\Video\VideoFilters"`

[2017-03-02 17:04] Romain commented on #304
@Laurent3170, the setKiloBitrate function must be applied on a format, not on the video... ;)
[See the example](https://github.com/PHP-FFMpeg/PHP-FFMpeg#transcoding) provided by @jens1o

[2017-03-02 17:50] Laurent3170 commented on #304
Ah... It works better like this! I still can't read the video on iDevices, but now I can search and "play" with data. I'll let you know.
Additionally, I've found extra-spaces in the examples, I've made a PR (#318) to correct them.

[2017-03-03 14:20] Nirjonadda opened #319 "PHP Extension on CentOS 7"
Please can you let me know that How To Install FFmpeg and FFmpeg-PHP Extension on CentOS 7 with cPanel?

[2017-03-03 18:54] Romain commented on #304
Hehe, sure it's better... ;o)
Thanks for the PR, I'll look at it!

[2017-03-05 23:16] a-komarev commented on #310
Thanks @Romain you've made my day!

[2017-03-06 11:33] Miky94 opened #321 "ffprobe failed to execute command “ffprobe.exe” “-help” “-loglevel” “quiet”"
Hi,
I'm trying the basic usage:

[code]

but I'm getting this error:
`Fatal error: Uncaught Alchemy\BinaryDriver\Exception\ExecutionFailureException: ffprobe failed to execute command "C:/inetpub/wwwroot/FFmpeg/ffprobe.exe" "-help" "-loglevel" "quiet" in C:\inetpub\wwwroot\site\vendor\alchemy\binary-driver\src\Alchemy\BinaryDriver\ProcessRunner.php:100 Stack trace: #0 C:\inetpub\wwwroot\site\vendo

[2017-03-06 12:40] Romain commented on #310
You're welcome.

[2017-03-06 12:41] Romain commented on #310
Is it good for you @DVendy?

[2017-03-06 12:53] jens1o commented on #321
Could you execute the command yourself (in the command prompt) and show us the output?
`C:/inetpub/wwwroot/FFmpeg/ffprobe.exe -help -loglevel quiet`

[2017-03-06 12:58] jens1o commented on #310
@Romain Why is it using `libfaac` instead of `libmp3lame`? Is `libfaac` faster? Anyway, we should check wether the codec exists before trying to encode with a non-existent codec.

[2017-03-06 13:14] Miky94 commented on #321
yes here's the output :
[code]

[2017-03-06 13:33] a-komarev commented on #310
And Is there is a way to get more verbose reason why encoding was failed? Because it's always the same error when directory don't have write access, when audio codec not supported and so on.

[2017-03-07 11:23] DVendy commented on #310
Still the same error :/
Did I miss something? Should I install some additional file?

[2017-03-07 14:04] jens1o commented on #310
@DVendy Could you show us a output from `ffmpeg -version`?

[2017-03-08 18:15] Romain commented on #310
@jens1o I agree with you. I don't know why `libfaac` is the default one. It has been developed like this.
Moreover, AAC is really complicated to handle, there has been changes with this format and its codecs lately.
I think we should switch for `libmp3lame` indeed, and I agree with the check. I'll try to work on something and week or the following one.

[2017-03-08 18:17] Romain opened #322 "Replace libfaac by libmp3lame as the default codec"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | 0.9.2

#### Actual Behavior

The default codec for the audio is libfaac which is source of errors for a lot of people who don't have this codec installed by default and don't think to set up the codec they want to use in their code.

#### Expected Behavior

We should change this and make libm

[2017-03-08 18:19] Romain commented on #319
Hi @Nirjonadda,
I've no idea how to install FFMPEG through cPanel. My advice would be to follow the [compilation guide](https://trac.ffmpeg.org/wiki/CompilationGuide) though, to make sure you have all the required codecs installed.
With regards to PHP-FFMPEG, you don't have to install it through cPanel, but in your PHP project with Composer, using the command `composer require php-ffmpeg/php-ffmpe

[2017-03-08 18:21] Romain commented on #316
My guess is that you're missing a use statement:

`use FFMpeg;`

[2017-03-08 18:22] Romain commented on #311
@genora-saish, any news on this issue?

[2017-03-08 18:22] Romain commented on #305
Hi @weituotian, any news on this issue?

[2017-03-08 18:23] Romain commented on #321
Hi @Miky94,
I think you're missing the use statement:

`use FFMpeg;`

[2017-03-08 18:24] Romain commented on #291
Hi @nikunj1990,
Any news on this issue?

[2017-03-08 18:58] jens1o commented on #322
I think I could get into it, if you want to.

[2017-03-08 19:02] jens1o commented on #321
@Romain I don't think it's the solution, since he's in the global namespace. I think the user which is executing the command does not have the required permission to do that.

[2017-03-08 19:35] Miky94 commented on #321
to exclude that, I set my user with all permissions on iis

[2017-03-09 00:43] weituotian commented on #305
@Romain thanks for your replies !

[2017-03-09 00:43] #305 closed

[2017-03-09 04:29] nikunj1990 commented on #291
Thank you for the support @Romain
Yes it is done...  there was wrong path but now done.

[2017-03-11 16:22] Laurent3170 commented on #304
So, I'm still fighting with videos...
I have a video that works on iPhone (but not made by me): https://edlo.eu/images/participatif.mp4
and the other one still not working: https://edlo.eu/6gkfwk/img/video.mp4.
They are coded both using video: `H264 - MPEG-4 AVC (part 10) (avc1)` and audio: `MPEG AAC Audio (mp4a) 44100 Hz`.
I don't know what to do...
If you can help, it would be greatly appreciate

[2017-03-12 21:07] twoSeats opened #323 "FFMmpeg::open() has 'media type' bug with MP3s (image metadata)"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | ecd50cd5f1f718223d5f698bdfc863421713dd82
| FFmpeg Version | FFmpeg 2.8.10-0ubuntu0.16.04.1
| OS             | ElementaryOS Loki (Ubuntu 16.04)

#### Actual Behavior

calling `$ffmpeg->open('audio.mp3');` returns an instance of `FFMpeg\Media\Video` instead of `FFMpeg\Media\Audio` when the mp3

[2017-03-13 05:09] jens1o commented on #323
can reproduce it.

[2017-03-13 09:40] cjw0202 opened #324 "i have installed PHP-FFMpeg,But when i executed phpinfo() function.it has no php-fmpeg moudle ，why？Please tell me，Thanks"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | no
| Version Used   | Specific tag or commit sha
| FFmpeg Version | FFmpeg or AVConv and version
| OS             | Your OS and version

#### Actual Behavior

How does PHP-FFMpeg behave at the moment?

#### Expected Behavior

What is the behavior you expect?

#### Steps to Reproduce

What are the steps to reproduc

[2017-03-13 17:58] jens1o commented on #324
First of all, please fill out the template. Second of all, this project doesn't provide an php extension, but only a library(which can be pulled by composer), so this won't be shown in `phpinfo` output.

[2017-03-14 02:02] cjw0202 commented on #324
thanks for your responses,but how to use ffmpeg in php programs?

发自我的 iPhone

在 2017年3月14日，01:59，Jens Hausdorf <notifications@github.com<mailto:notifications@github.com>> 写道：

First of all, please fill out the template. Second of all, this project doesn't provide an php extension, but only a library(which can be pulled by composer), so this won't be shown in phpinfo output.

—
You are receiving t

[2017-03-14 05:15] jens1o commented on #324
Here you go: https://github.com/PHP-FFMpeg/PHP-FFMpeg#basic-usage

[2017-03-14 06:41] cjw0202 commented on #324
[cid:_Foxmail.1@84f74c3a-4d62-07d9-d5a1-ee7ebb6a09bd]
[cid:_Foxmail.1@283ae7ce-843a-6b2c-bf4d-e29e11f9a6ff]

I don't know why

________________________________
weijia0202@outlook.com

发件人： Jens Hausdorf<mailto:notifications@github.com>
发送时间： 2017-03-14 13:15
收件人： PHP-FFMpeg/PHP-FFMpeg<mailto:PHP-FFMpeg@noreply.github.com>
抄送： cjw0202<mailto:weijia0202@outlook.com>; Author<mailto:author@noreply.git

[2017-03-14 07:47] twoSeats commented on #323
Would the solution be to introduce an optional flag to allow forcing of the object type one wants returned?
Or would it be better to try detect audio more accurately?

[2017-03-14 07:47] cjw0202 commented on #324
hello:

[cid:_Foxmail.1@fefc4e0c-75c4-8efa-ce6c-d65b7d06bcfb]
what means

________________________________
weijia0202@outlook.com

发件人： Jens Hausdorf<mailto:notifications@github.com>
发送时间： 2017-03-14 13:15
收件人： PHP-FFMpeg/PHP-FFMpeg<mailto:PHP-FFMpeg@noreply.github.com>
抄送： cjw0202<mailto:weijia0202@outlook.com>; Author<mailto:author@noreply.github.com>
主题： Re: [PHP-FFMpeg/PHP-FFMpeg] i have insta

[2017-03-14 07:54] dragu opened #325 "PHP-FFMpeg converterd file has other encode settings than console-converted"
| Q              | A
| -------------- | ---
| Bug?           | yes
| New Feature?   | no
| Version Used   | 0.9.2
| FFmpeg Version | ffmpeg version 2.8.11-0ubuntu0.16.04.1
| OS             | Ubuntu 16.04.1 LTS

#### Actual Behavior

Converting by console and PHP giving other econding options and files sizes (converted by PHP is much bigger).

#### Expected Behavior

Same command = same result

###

[2017-03-20 02:27] gopalindians commented on #167
Working with recent(0.9.2) updates.

[2017-03-20 02:27] #167 closed

[2017-03-20 13:35] Romain commented on #322
@jens1o If you can, please do, I have a lot on my plate these weeks.
Thanks for your help.

[2017-03-20 13:37] jens1o commented on #322
Okey, I'll do it. I think the PR will be available in the evening(UTC+1)

[2017-03-20 13:37] Romain commented on #321
@Miky94, could you try to execute the command directly in the console and paste here the error you get?

[2017-03-20 13:40] #291 closed

[2017-03-20 13:40] jens1o commented on #321
@Romain He already did provide it, don't he? https://github.com/PHP-FFMpeg/PHP-FFMpeg/issues/321#issuecomment-284392601

[2017-03-20 13:44] Romain commented on #304
Hi @Laurent3170,
I'm not an expert on iPhone encoding...
I'll check if I can find some help on this...

[2017-03-20 13:47] Romain commented on #323
I think it would be better to autodetect it based on the extension of the file. However, if the user is not rigorous about this, it may generate errors.
@jens1o, what do you think about auto-detection?

[2017-03-20 13:49] Romain commented on #324
@cjw0202, the README file is pretty explicit on how to use this bundle in a PHP project.
If you don't know what a bundle is or how to use it, please begin by asking google, and then if you have a specific question we may help.

[2017-03-20 13:49] #324 closed

[2017-03-20 13:51] jens1o commented on #323
It's a orientation, but we shouldn't rely on it. May I create a pr with some checking?

[2017-03-20 13:56] Romain commented on #325
Hi @dragu,
First of all, if you need a specific feature, feel free to push a pull request instead of keeping it for you, the community will be grateful.
Then, with regards to your implementation, I think that the $additionalParameters of the DefaultVideo class already does what you want.

With regards to your problem, since your command is exactly the same, I don't see why FFMPEG would react diffe

[2017-03-20 13:57] Romain commented on #322
Thanks @jens1o

[2017-03-20 13:58] Romain commented on #321
@jens1o No, to me this is the result of the command you suggested: `C:/inetpub/wwwroot/FFmpeg/ffprobe.exe -help -loglevel quiet`

[2017-03-20 13:59] Romain commented on #323
If you can, please do, thanks a lot!

[2017-03-20 14:09] Miky94 commented on #321
So what command should I execute?

[2017-03-20 16:25] dragu commented on #325
I did, I even wrote how I get command generated by the lib and uploaded files with output files.

[2017-03-20 17:00] Romain commented on #304
I asked @FranckHAEGELI, who thinks that it may come from number of frame per seconds (30 when iOS only accept 23,976 , 25 or 29,97, but it's not sure that this is the problem...

[2017-03-20 17:47] Laurent3170 commented on #304
Thanks for the search. Unfortunately it doesn't work. My framerate was 24. I have tested with 23,976, 25 and 29,97, but it's the same, I can't read on a iPhone. I think it's related to the sound codec, but apart with VLC, I don't know how to have all the encoding's details of a video, to check the difference between the two videos I've cited above. I've googled a while ago but it was not giving a

[2017-03-21 08:58] Laurent3170 commented on #304
I've found [mediainfo](https://mediaarea.net/fr/MediaInfo) which gave me information about the two video above that I have compared. Here is the result (just the meaningful differences):

Video Ok = not encoded via this library
Video Nok = video encoded via this library with this code:
[code]
**Result**
Object | Video Ok | Video Nok
isStreamable | Yes | No
Codec profile | Main@L4 | High@L2.1
Codec

[2017-03-22 00:28] Miky94 commented on #321
I didn't understand the question, that's the command generated by the code, I'm exactly trying to use this library to avoid using cmd. it is possible to receive these errors just while testing basic usage?

[2017-03-22 21:43] HipsterJazzbo opened #327 "Is it possible to read chapter data with this lib?"
Using ffprobe on the command line, I can use `-show_chapters` to get chapter data. Is it possible to get this data with this library?

[2017-03-24 19:56] Romain commented on #325
The thing is, I don't see any difference between this:

`/usr/bin/ffmpeg -y -i 379.gif -crf 25 -vcodec libx264 -acodec libfaac -b:v 1000k -refs 6 -coder 1 -sc_threshold 40 -flags +loop -me_range 16 -subq 7 -i_qfactor 0.71 -qcomp 0.6 -qdiff 4 -trellis 1 -b:a 128k -pass 1 379.gif.mp4`

and this:

`'/usr/bin/ffmpeg' '-y' '-i' '379.gif' '-crf' '25' '-vcodec' 'libx264' '-acodec' 'libfaac' '-b:v' '1000k

[2017-03-24 19:58] Romain commented on #304
This definitely looks like an encoding problem.
Thanks for investigating on this and sharing your results, it's really nice to you.

[2017-03-24 20:00] Romain commented on #321
My bad, I misread your message, I thought you would have another command in your logs, but this one was actually the one you got in your logs.

Can you try this instead of chaining save commands:

[code]

[2017-03-24 20:01] Romain commented on #327
Hi @HipsterJazzbo, I think that the additionalParams option is what you're looking for.
Let me know if it fits your needs.

[2017-03-24 20:12] jens1o commented on #322
Well, if you could help me out with the tests, we could close this issue 😉

I don't know how to fix it :/

[2017-03-25 02:25] davidospina opened #328 "Can I use this tool to normalize audio files?"
| Q              | A
| -------------- | ---
| Bug?           | no
| New Feature?   | maybe
| Version Used   | I don't know how to find out
| FFmpeg Version | git-2017-01-22-f1214ad
| OS             | Ubuntu 14.04.5 x64

Hi. I've using this tool for file conversions but I wonder if it can be used to normalize audio files to a specific volume level like ## db.

BTW Thanks for your amazing job.